[2018-11-09 06:48] alcaeus commented on #1791
Update, there are now 3 tests that need fixing:
*  [`Doctrine\ODM\MongoDB\Tests\Functional\DocumentPersisterTest::testVersionIncrementOnUpdateSuccess`](https://github.com/doctrine/mongodb-odm/blob/4b59521bb4a16031b8b024008d88e118fc5cc5ec/tests/Doctrine/ODM/MongoDB/Tests/Functional/DocumentPersisterTest.php#L543)
* [`Doctrine\ODM\MongoDB\Tests\Functional\DocumentPersisterTest::testNoVersionIncremen

[2018-11-13 16:42] olvlvl opened #1890 "[2.0] ocramius/proxy-manager does not create missing directories like doctrine/proxy was"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | dev-master

#### Summary

`ocramius/proxy-manager` is not creating missing directories like doctrine/proxy used to do. Is this the new expected behavior?

#### Current behavior

Missing directories are not created which result in an error:

[code]

#### How to reproduce

Remove the proxies/hydrators d

[2018-11-13 18:17] malarzm commented on #1890
Ah @Ocramius and his strictness :D I think we should still create the directory if it doesn't exist, @alcaeus thoughts?

[2018-11-14 10:32] alcaeus commented on #1890
Well, if the library doesn't created, we probably should. I'll look into it.

[2018-11-16 06:38] #1813 closed

[2018-11-16 13:22] #1890 closed

[2018-11-16 13:23] malarzm commented on #1890
@olvlvl issue should be fixed now after updating ODM

[2018-11-19 10:01] SinisterGlitch opened #1898 "Query documents by reference"
Hi Support,

I made a stack post already and I would only post here since I'm desperate and have a time constraint.  Our databases have become very big and we are struggling with sort memory issues. I am currently rewriting the mongo services to get rid of the memory issues.

https://stackoverflow.com/questions/53372060/query-by-reference-in-doctrine-odm-mongo

**History**
Recreating mongo structu

[2018-11-19 10:32] malarzm commented on #1898
Being desperate IMO does not justify posting issue here 10 minutes creating post on SO. I'll look into it there as soon as I have a moment

[2018-11-19 10:32] #1898 closed

[2018-11-19 11:00] SinisterGlitch commented on #1898
Apologies for this, I did not expect a quick reply.

I was too late with asking help, I have spent a few hours sleeping in the weekend, the rest trying to resolve this issue and already read all of the stackoverflow, doctrine pages and examples.

Given that i knew nothing about mongo since friday :(

**AggratetBuilder**

This aproach gives me only localized values (a product can contain 5000 value

[2018-11-19 11:09] SinisterGlitch commented on #1898
Mongo attribute

`
    /**
     * Class MongoAttribute
     * @package Utomo\MongoBundle\Document
     *
     * @MongoDB\Document(
     *     repositoryClass="Utomo\MongoBundle\Document\Repository\MongoAttributeRepository",
     *     indexes={@Index(keys={"code"="desc", "name"="desc"}, options={"unique"=true})}
     * )
     */
    class MongoAttribute
    {
        /**
         * @var int

[2018-11-19 11:14] SinisterGlitch commented on #1898
My current attempt is to retrieve a list of product IDs by filtering the values and returning products.

Still in progress, trying to figure out what to do or coming up with total new approaches

    `
        /**
         * @param ExportFilters $exportFilters
         * @return mixed
         * @throws MongoDBException
         * @throws \MongoException
         */
        public function getProd

[2018-11-25 08:55] alcaeus opened #1900 "Allow flexible result mapping for aggregation pipelines"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

When using aggregation pipelines in ODM, users can use `QueryResultDocument` objects to hydrate aggregation results into objects. However, when using more complex pipelines, this can quickly lead to issues. For example, https://github.com/api-platform/core/pull/2

[2018-11-25 10:14] #1855 closed

[2018-11-25 10:15] #1823 closed

[2018-11-25 18:48] #1854 closed

[2018-11-26 06:18] alcaeus commented on #1705
Moving beyond 2.0 - I believe it's best to take care of these things in subsequent, smaller releases.

[2018-11-26 16:42] melkamar commented on #1889
Sorry for the long wait. I have tried stepping through it when I encountered the issue, but that was quite hard because no exception was raised. What I know for sure is that this happened in `HydratorFactory::generateHydratorClass()`. That leads me to believe that the custom type was registered, but somehow the generation failed.

This was a feature we needed to ship so I worked around it and didn

[2018-11-26 20:52] alcaeus commented on #563
Closing in favour of #867  and #1887.

[2018-11-26 20:52] #563 closed

[2018-11-26 20:52] #1704 closed

[2018-11-26 20:54] alcaeus commented on #1765
@MrSpoocy can you please try to reproduce this issue? This might have happened in previous versions of dev-master but should no longer be the case with the current master (or 1.x for that matter).

[2018-11-28 08:05] #1791 closed

[2018-11-29 06:21] #924 closed

[2018-11-29 15:53] aturcey opened #1907 "Aggregation : Add the ability to directly use $expr in Match stage"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | yes/no

#### Summary

The following code :

[code]
Generates an empty $match like this :
db.books.aggregate([ { "$match": [ ] } ], { "cursor": true });

As a **workaround** we can get the pipeline from builder and manually edit before aggregate using :
[code]
Thanks to @alcaeu

[2018-11-30 07:37] #867 closed

[2018-12-08 14:45] jmikola commented on #841
From our discussion today, I think we want to do the following:

 * Remove `timeout` option, since socket timeouts are no longer configured per-option in `ext-mongodb`. Instead, SchemaManager (or the CLI command that invokes it) can take an option to set `socketTimeoutMS` on the driver client created for the command.
 * Move `maxTimeMS` and `writeConcern` options to SchemaManager, as they are only

[2018-12-14 15:17] Steveb-p commented on #1425
@alcaeus is it expected behavior then that calling `persist` on a new document with ID set beforehand will be upserted to MongoDB?
I'm asking to know should I rely on this in my code since I'm using it for updating multiple already existing documents without loading them (they represent a state snapshot for a given time for grouped data).

[2018-12-14 19:46] alcaeus commented on #1425
Yes, that is the expected behavior at this time. We will not changing this for 2.0 either.

[2018-12-18 19:48] #1806 closed

[2018-12-21 09:42] MatTheCat opened #1912 "Unexpected behavior when insert fails"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.2.5

#### Current behavior

If `flush` fails to insert a new document (because of a `MongoDuplicateKeyException` eg.) it is left in a state where doctrine thought it has been persisted. Subsequent `flush` will then produce an `update` query which will do nothing.

The only way to persist the document is

[2018-12-21 15:41] malarzm commented on #1701
Closing, we're on level 7 for now :)

[2018-12-21 15:41] #1701 closed

[2018-12-24 09:28] #841 closed, assigned to alcaeus

[2018-12-24 13:30] bluedogmilan commented on #1863
Strongly needed!

[2018-12-24 13:51] malarzm commented on #1863
@bluedogmilan sending us a PR with implemented feature will greatly speed things up

[2018-12-24 14:32] alcaeus commented on #1863
@bluedogmilan furthermore, we’re holding all further features back to 2.1 to avoid introducing more complexity in 2.0. 2.1 will mainly focus on adding aggregation pipeline features from previous mongodb releases.

[2018-12-27 10:13] bluedogmilan commented on #1863
@malarzm Sorry for the newb question but I really do not know what PR stands for...

[2018-12-27 17:41] malarzm commented on #1864
Sorry this fell through the cracks, I'll close this issue to keep the conversation in one place since you've opened a PR :)

[2018-12-31 11:42] Rybbow opened #1916 "Schema commands error out with 'The "maxTimeMs" option does not exist.'"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0-beta1

#### Summary

When trying to execute `doctrine:mongodb:schema:create`, `doctrine:mongodb:schema:update` or `doctrine:mongodb:schema:drop` from DoctrineMongoDBBundle an error 'The "maxTimeMs" option does not exist.' is printed out and the command fails.

#### Current behavior

Changes introdu

[2019-01-02 05:34] alcaeus commented on #1916
Thanks for the report. I'll prepare a fix shortly 👍

[2019-01-02 05:42] alcaeus commented on #1912
That definitely looks bad. I'll take a look at what we can do in 2.x, but the smartest choice would be to close the DocumentManager for future operations, just like is done in ORM. I'm not sure whether we can recover gracefully from this, but I'll see.

[2019-01-02 06:57] alcaeus commented on #1912
After reproducing this in a test case, I don't believe there's a good fix for 1.2. The problem is that we're using the batch API to insert documents (grouped by document class). With the legacy MongoDB driver, there's no way of knowing which document failed and which was inserted. We will know in 2.x, but I still need to figure out how to best recover from an error like that.

[2019-01-02 14:55] Rybbow commented on #1916
I can prepare a fix, it's not a problem. Just let me know if the solution I suggested is ok.

[2019-01-02 19:07] alcaeus commented on #1916
The solution is good. `ValidateCommand` doesn't need any of the options, that is correct. For the `ShardCommand`, we can pass a write concern to the respective schema manager methods and [`runShardCollectionCommand`](https://github.com/doctrine/mongodb-odm/blob/7ad215b38951bf1ecf140e4adf13520834fb2f69/lib/Doctrine/ODM/MongoDB/SchemaManager.php#L588) as `shardCollection` takes a write concern (see

[2019-01-03 10:32] Rybbow commented on #1916
@alcaeus Ok, a PR is ready - https://github.com/doctrine/mongodb-odm/pull/1918 .

[2019-01-03 18:20] Rybbow opened #1920 "Generating proxy classes only when file not exists"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | ?
| Version     | ?

#### Summary

The `Doctrine\ODM\MongoDB\Configuration::AUTOGENERATE_FILE_NOT_EXISTS` configuration option should prevent the proxy generator from generating a given proxy file if it already exists, but actually the proxy file is regenerated on each request.

#### Current behavior

Even though `Configura

[2019-01-04 05:38] alcaeus commented on #1920
The generator is only hit if the class does not exist (or could not be autoloader), see https://github.com/Ocramius/ProxyManager/blob/8d0fa8e3e11cdadaaf4c41732366b5ed48bb0aed/src/ProxyManager/Factory/AbstractBaseFactory.php#L64..L71.

Maybe @Ocramius can shed some light on this, are Proxy files supposed to be autoloaded, and if so, are we missing some config here?

[2019-01-04 06:38] alcaeus commented on #1920
After some discussion, this is somewhat expected: the [documentation](https://ocramius.github.io/ProxyManager/docs/tuning-for-production.html) recommends registering an autoloader for production, which doesn't happen. In this case, we'd expect the framework integration (e.g. `doctrine/mongodb-odm-bundle`) to take care of this. I've created https://github.com/doctrine/DoctrineMongoDBBundle/issues/5

[2019-01-04 13:33] Ocramius commented on #1920
The idea presented in https://github.com/Ocramius/ProxyManager/blob/2.2.2/docs/tuning-for-production.md is that the the user would call `spl_autoload_register($proxyManagerConfig->getAutoloader())` somewhere early in the setup process.

Since the autoloader coming with ProxyManager is quite naïve, this is best left to the composer autoloader, if build and run steps can be clearly separated.

[2019-01-07 06:08] #1916 closed

[2019-01-07 09:00] MatTheCat commented on #1912
Don't know anything about internals but I simply would have expected the document state to stay NEW.

[2019-01-08 14:14] etshy opened #1921 "Protected properties in MappedSuperClass"
I had my Documents using Annotation Mappings, have my "BaseDocument" with protected properties.
Everything worked well with Annotations.
I recently changed to XML mapping, and now the properties in my "BaseDocument" are undefined (`$id` property).

May be related to https://github.com/doctrine/mongodb-odm/issues/918 I guess, but why protected properties would work with Annotations mapping and not

[2019-01-08 14:33] malarzm commented on #1921
@etshy a failing test case would be the best way to go forward with this

[2019-01-08 14:47] alcaeus commented on #1921
@etshy please fill out the respective issue templates: this has the advantage of us knowing what version you are using. 1.x or 2.x makes a big difference here.

[2019-01-08 14:53] etshy commented on #1921
I'll fill info such as version and my code asap.

I'll try to make a quick reproduction too.

[2019-01-08 17:05] etshy commented on #1921
Here is more info.

Doctrine ODM bundle version (from `composer show`) : * 3.5.x-dev
Doctrine mongodb-odm version : * 1.2.5
Doctrine mongodb version : * 1.6.3

Seems like changing my properties to `private` didn't help at the end ... So I have absolutely no idea what could go wrong, but as I followed the doc, I guess this issue is still "valid"

Here are some code
BaseModel:
[code]

The mapping fi

[2019-01-08 17:53] malarzm commented on #1921
Take a look at our functional tests: https://github.com/doctrine/mongodb-odm/blob/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH1011Test.php - the best would be a PR to ODM with a failing test

[2019-01-08 20:42] etshy commented on #1921
I.... feel so dumb right now.

The issue was not due to a mapping problem but the fact that I changed my relationships' `store-as` from `dbref` to `ref` and not changed every of them in db ...

The (too much?) simple message led me to think it was a problem with the mapping, as I changed that too...

Really sorry about the waste of time, after changing the few ref object in db I didn't change it w

[2019-01-08 20:42] #1921 closed

[2019-01-09 05:43] metanav opened #1923 "Does the ODM support MongoDB's v3.4 feature Views?"
|    Q        |   A
|------------ | -----
| Version     | 2.0.0 or 1.2.5

### Support Question

If I create a View, will it work with ODM Document as a  drop-in replacement?
I know there are some limitations in  querying Views but I need only basic one e.g., findOne and findAll.

[2019-01-09 06:39] alcaeus commented on #1923
Nope, the ODM does not understand views. This is on our extended roadmap but won't be done in 2.0.

[2019-01-09 06:48] alcaeus opened #1925 "Support for MongoDB Views"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

With MongoDB 3.4, MongoDB introduced read-only views based on aggregation pipelines. Read [the documentation](https://docs.mongodb.com/manual/core/views/) for basic information on views.

Support for views should be added to ODM:
* Allow mapping a class as a view

[2019-01-09 06:48] alcaeus commented on #1923
I've created #1925 and added it to the roadmap for 2.x (which is sometime after 2.1). Closing here.

[2019-01-09 06:48] #1923 closed

[2019-01-15 08:49] #1864 closed

[2019-01-15 19:38] alcaeus opened #1931 "Mark internal classes as @internal in PHPDocs"
Mark classes that are internal and not covered by the BC promise as `@internal` via PHPDoc to let users know that they shouldn't rely on their API.

Method signatures may be changed in minor releases.

[2019-01-15 19:50] malarzm commented on #1931
I think we could also add `final` to some classes like `CollectionPersister` or such

[2019-01-16 05:53] alcaeus commented on #1931
Absolutely. We can prepare that and mark them as `@final` in 1.3 along with deprecation notices if they're extended.

[2019-01-16 09:10] Steveb-p opened #1933 "DiscriminatorMap annotation undocumented upgrade change"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.0-beta1

#### Summary

Documentation for upgrade does not indicate that `DiscrimatorMap` now always requires passing full class name along with whole namespace.

#### Current behavior

In 1.2 version of Doctrine ODM you can pass class names in current namespace. 2.0 always requires FQCN - I'm pretty s

[2019-01-16 10:35] malarzm commented on #1933
We should also check if deprecation is in place

[2019-01-16 14:44] alcaeus commented on #1933
Deprecation was part of https://github.com/doctrine/mongodb-odm/pull/1927

[2019-01-17 06:25] alcaeus opened #1935 "Support lookup in aggregation pipelines with nested references"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Based on documentation changes in #1934. Looking up a reference nested in an embedded document is not possible, since we only check `hasReference($from)` in the lookup stage. This should follow the query builder logic where `->field('foo.bar')->references($docume

[2019-01-18 22:06] juliusstoerrle commented on #1179
What is the reason fot not converting normal fields in `DocumentPersister::prepareQueryElement` called in `DocumentPersister::prepareQueryOrNewObj()` if there is an entry in the `ClassMetadata`?

If my criteria contains the name of a property/field of a document I would expect that the ORM will automatically convert the type.

As this is a BC Break, is there any way we could change this for the 2.

[2019-01-19 17:37] malarzm commented on #1444
I should have written that down 👶 From the top of my head, there's https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/Types/ClosureToPHP.php to help with custom types, I think one of the method was also no longer needed... @alcaeus do you remember something more by any chance? Maybe it'd also be ok to drop `closureToPHP` and by default do what the trait does?

[2019-01-19 19:04] juliusstoerrle commented on #1444
I think the closure is actually used, at least I got some error a few days ago when I forgot to add the namespace to a class inside the string. But can't verify that right now.

Which trait are you referencing?

[2019-01-19 19:59] malarzm commented on #1444
The one I linked in previous post: https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/Types/ClosureToPHP.php

[2019-01-21 05:57] alcaeus commented on #1179
Short answer: no. Long answer below.

So, what we currently do is that for the built-in types we convert PHP values to their appropriate MongoDB counterparts (e.g., an `ObjectID` instance is just represented as string for easier use, but needs to be converted whenever we work with it in the database). To do this, we fetch mapping information for the field in question, then convert it.

For complex

[2019-01-21 06:33] alcaeus commented on #1617
Closing here as per previous replies.

[2019-01-21 06:33] #1617 closed

[2019-01-21 06:34] #1583 closed

[2019-01-21 06:34] #1565 closed

[2019-01-21 06:35] alcaeus commented on #1565
Closing here: I don't see us implementing this in the near future. A working PR is always appreciated.

[2019-01-21 06:38] alcaeus commented on #1570
1) YAML is dropped in 2.0, fixing that problem
2) Re-mapping the identifier in child classes is the way to go in this scenario.

Closing here.

[2019-01-21 06:38] #1570 closed

[2019-01-21 06:43] alcaeus opened #1940 "Drop non-atomic collection updates"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | most likely

#### Summary

With MongoDB 3.6, `arrayFilters` was introduced to allow modifying arrays in documents with more control: previously, only a single `$` operator could be used, so updates to nested arrays were not possible. With `arrayFilters`, we can use multiple operat

[2019-01-21 06:44] alcaeus commented on #1388
Closing in favour of #1940: we will drop the non-atomic collection strategies which cause this problem.

[2019-01-21 06:44] #1388 closed

[2019-01-21 06:46] alcaeus commented on #1408
Closing here: `continueOnError` doesn't do what OP thought it would do: it doesn't silence exceptions, it just ensures operations are not cancelled on the first error but continues to execute bulk operations.

[2019-01-21 06:46] #1408 closed

[2019-01-21 06:47] alcaeus commented on #747
This is similar to what #1527 intends to do, except from a different data source. With proxy logic being rewritten in 2.0, we can tackle this in 2.x. Regardless, closing this in favour of the PR.

[2019-01-21 06:47] #747 closed

[2019-01-21 06:50] alcaeus commented on #1158
FWIW, nested flushes are forbidden starting with ODM 2.0. And no, you still won't be able to trigger a whole new flush cycle from `postFlush`, as we only clean up internal structures after raising `postFlush` event.

Best not open that can of worms and implement this in a custom document manager.

[2019-01-21 06:50] #1158 closed

[2019-01-21 06:53] alcaeus commented on #687
As per previous discussion, use embedded documents. If you don't want to, serialise data and use a binary type. If you want serialisation to be taken care of for you, extend one of the binary types and update the corresponding methods. Closing here.

[2019-01-21 06:53] #687 closed

[2019-01-21 06:58] alcaeus commented on #1444
There's #1607 to handle the `closureToPHP`. No idea what else could be meant with that.

[2019-01-21 07:00] alcaeus commented on #1344
After some consideration, I think we should just prepend the index name with the field name which references the embedded document in question. I'll give this a shot to see if it's actually feasible.

[2019-01-21 07:05] juliusstoerrle commented on #1179
Thanks for your long reply! Thats ok, I'm totally on your side in terms of consistency across doctrine. I will find a temporary solution to get my project forward.

Could you tell me what mappings you count as complex fields? References, Embedding?

The strict mode sounds good. If there is anything I can do to support with this, please let me know.

[2019-01-21 07:17] alcaeus commented on #1179
Complex fields => everything other than a scalar value, so references, embedded documents, value objects, etc.

[2019-01-21 09:13] #1398 closed

[2019-01-21 13:20] juliusstoerrle opened #1941 "Suggestion/RFC: use labels to help newcomers"
While I do have some experience with PHP I have not much experience with contributing to OSS (or for that matter other peoples code) yet, but would like to get involved with that more.

I find it hard to figure out where to start helping and would propose using `help wanted` and `good first issue` labels as explained by GitHub:
https://help.github.com/articles/helping-new-contributors-find-your-pr

[2019-01-21 19:43] #1402 closed

[2019-01-22 18:42] malarzm commented on #1941
Thanks for the suggestion! We're already using labels such as [Easy pick](https://github.com/doctrine/mongodb-odm/issues?q=is%3Aopen+is%3Aissue+label%3A%22Easy+Pick%22) or [Needs test](https://github.com/doctrine/mongodb-odm/issues?q=is%3Aopen+is%3Aissue+label%3A%22Needs+Test%22) so unless `help wanted` and `good first issue` trigger some special GitHub behaviour, I think we're good here 👍

[2019-01-22 18:43] malarzm commented on #1941
Also we've tagged a bunch of stuff with [Hacktoberfest](https://github.com/doctrine/mongodb-odm/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3AHacktoberfest+) label. While it's not Hacktoberfest anymore, the issues should still be good for newcomers.

[2019-01-23 16:36] thiver opened #1943 "GenerateProxiesCommand/GenerateHydratorsCommand: assert is_string on an array"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | dev-master

#### Summary

`$filter = $input->getOption('filter');`
`assert(is_string($filter));`

$filter returns an array because of InputOption::VALUE_IS_ARRAY, so the assertion fails always.

Class Methods:

Doctrine\ODM\MongoDB\Tools\Console\Command\GenerateProxiesCommand::execute
Doctrine\ODM\MongoDB

[2019-01-23 19:31] malarzm commented on #1943
Sounds about right, @thiver do you mind making a PR to fix the bug?

[2019-01-23 20:18] alcaeus commented on #1943
🤦‍♂️ great find @thiver!

[2019-01-24 08:20] thiver commented on #1943
No problem, I will create a PR for it.

[2019-01-24 13:40] malarzm commented on #1943
Closing as #1944 was just merged

[2019-01-24 13:40] #1943 closed

[2019-01-25 10:37] elangovanshanthi opened #1945 "symfony4 with doctrine-odm : How to add one or more group in aggregation builder"
I am converting mongo queries into symfony4 doctrine odm queries. In this, doctrine will not accept the multiple group by fields. How to solve the below use case?

**Mongo Queries:**
[code]
**Mongo Query Results:**
[code]
**Symfony4 with doctrine odm :**
[code]
It will only considered group by field of department alone. I want to group by both department and status based group results.  Is this po

[2019-01-28 08:47] #574 closed

[2019-01-28 08:47] #711 closed

[2019-01-28 08:47] #866 closed

[2019-01-28 08:47] #976 closed

[2019-01-28 08:47] #1235 closed

[2019-01-28 08:47] #1076 closed

[2019-01-28 08:47] #1404 closed

[2019-01-28 08:47] #619 closed

[2019-01-28 08:47] #1003 closed

[2019-01-28 08:47] #1195 closed

[2019-01-28 08:47] #1655 closed

[2019-01-29 11:48] alcaeus commented on #644
Bad bot...

[2019-01-29 11:48] alcaeus commented on #1536
Bad bot...

[2019-01-30 03:41] #856 closed

[2019-01-31 07:58] sakalys commented on #1262
Any news on this?

[2019-01-31 09:13] malarzm commented on #1262
@sakalys it's available through the [query builder](https://github.com/doctrine/mongodb-odm/blob/5d9b452c067a7d9eeb4d2555cfa168df76e6a99e/lib/Doctrine/ODM/MongoDB/Query/Builder.php#L1431)

[2019-01-31 09:15] sakalys commented on #1262
what about that part?

[2019-01-31 11:58] malarzm commented on #1262
Nothing new, there's https://github.com/doctrine/mongodb-odm/issues/1425 to track that

[2019-02-08 13:29] elangovanshanthi commented on #1945
@alcaeus Perfectly working...! thanks for your time.

[2019-02-08 13:41] #1945 closed

[2019-02-11 07:19] alcaeus commented on #1696
Closing as current BC breaks have been documented in 1.3.

[2019-02-11 07:19] #1696 closed

[2019-02-12 16:41] dossorio opened #1955 "An element is duplicated in a collection"
### Bug Report

An new element of a collection is duplicated when the collection is updated

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.1.2

#### Summary

When you update a field of the root document, a field of the embedded document and try to add an element to a collection present in the embedded document, this element is duplicated

#### Current behavior

A

[2019-02-12 18:24] malarzm commented on #1955
@dossorio is this happening with `1.2.x` version of ODM as well? Asking since `1.1` branch is not maintained. Also reading your extensive description it seems like you have a code to reproduce the issue. Any chance you could submit us a failing test case?

[2019-02-12 19:27] #1933 closed

[2019-02-12 19:52] jmikola commented on #1808
Note to self: the goal here is to support additional operation options (e.g. [`MongoDB\Collection::find()`](https://docs.mongodb.com/php-library/current/reference/method/MongoDBCollection-find/)) in the ODM query builder; however, we should refrain from dumping _all_ options into the already complex builder API.

[2019-02-13 16:34] dossorio commented on #1955
Many thanks @malarzm for your message and your suggestion.

I have just tested with `1.2.6` and its still happening.
The only difference I have noticed is that the second query uses `$push` and `$each` now:
[code]

I'll try to get a failing test case asap

[2019-02-13 18:02] malarzm commented on #1955
@dossorio when you get to it please open a PR against `1.2.x` branch, we'll first fix it there. If needed I'll take care of moving fixes to `master` branch after.

[2019-02-14 06:24] alcaeus commented on #1955
This is because the `$pushAll` operator was deprecated, so we work around this by using `$push` and `$each`. The end result is the same 👍

[2019-02-14 15:27] jmikola commented on #631
Removing the `stale` label, as I think this is still worthwhile.

[2019-02-15 03:14] Seb33300 opened #1957 "Symfony 3.4 support for 2.0"
`symfony/var-dumper 4.1` dependency is required so it is not able to install on a Symfony 3.4 project.

https://github.com/doctrine/mongodb-odm/blob/2.0.0-beta1/composer.json#L36

[2019-02-15 05:34] #1957 closed

[2019-02-15 05:38] #1920 closed

[2019-02-15 05:59] alcaeus commented on #631
I added it to the roadmap for 2.1. Should be a nice little improvement along with some aggregation changes.

[2019-02-15 06:50] alcaeus commented on #1633
I've tried to reproduce this in 1.2.x (using `alcaeus/mongo-php-adapter` as polyfill which [replicates the exception in question](https://github.com/alcaeus/mongo-php-adapter/blob/ae806ac488c021dfe1be5af2abf0ce62376058f7/lib/Mongo/MongoCollection.php#L987)) with the test below, but couldn't reproduce it. @stampycode if you can create a reproducer, please open a pull request with it and I'll invest

[2019-02-15 06:50] #1633 closed

[2019-02-15 10:43] josefsabl opened #1959 "Configuration::setLoggerCallable removed without mentioning in UPGRADE notes."
I consulted these materials before posting this:

https://github.com/doctrine/mongodb-odm/blob/master/UPGRADE-2.0.md
https://github.com/doctrine/mongodb-odm/blob/master/CHANGELOG-2.0.md
https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.0/reference/logging.html

### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0-beta1

#### Su

[2019-02-15 12:52] alcaeus commented on #1959
Thanks for reporting this! We've noticed a couple of other BC breaks as well, which means that we'll need to do another pass to make sure we document all deprecations and removals.

I played around with [`roave/backward-compatibility-check`](https://github.com/Roave/BackwardCompatibilityCheck) this morning and will try to use that to figure out what else we missed.

[2019-02-18 16:20] dossorio commented on #1955
I'll close this, as I figured out that the place where I was calling `persist` and `flush` affected the shape of the first query.

By having changed that, the element of the array is not specified in the first query anymore, only in the second, so its not added twice

[2019-02-18 16:20] #1955 closed

[2019-02-19 06:21] alcaeus commented on #1955
Glad you got it fixed. Thanks for letting us know!

[2019-02-19 18:18] jmikola commented on #1083
@malarzm: While 2.0 is using `ext-mongodb`, I don't think it's taking advantage of bulk writes for flush operations. Are you aware of any ticket for that? If not, perhaps we can repurpose this.

[2019-02-19 19:05] malarzm commented on #1083
@jmikola repurposing this ticket is a good idea 👍

[2019-02-19 21:08] Dragonqos opened #1961 "[Bug] @EmbedOne @EmbedMany without targetDocument on 2.0@beta-1"
### Bug Report

Trying to create EmbedOne/EmbedMany Relation with discriminatorMap and discriminatorType only, getting error on Metadata parse:

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 2.0.0-beta1

#### Summary

When we calling `$class = $metadata->getAssociationTargetClass($property);` from file **_api-platform/core/src/Bridge/Doctrine/MongoDbOdm/Property

[2019-02-19 21:38] malarzm commented on #1961
I believe we could treat the only entry `discriminatorMap` as it'd be defined as `targetClass`. @alcaeus thoughts on this?

Offhand, @Dragonqos what's the use case for an embedded document with one entry? Is it being prepared for the future extension?

[2019-02-20 05:50] Dragonqos commented on #1961
One entry in discriminatorMap is just for example for test. My application has at least 5 embedded document.

[2019-02-20 06:14] alcaeus commented on #1961
@Dragonqos thanks for providing a test case. You are correct, an association without a target document is perfectly valid, so we should fix the wrong typehint.

[2019-02-20 12:49] Dragonqos commented on #1961
Hope it will be fixed asap)

[2019-02-20 20:01] malarzm commented on #1444
Commenting here so it won't get lost on Slack:

[2019-02-21 19:24] #1941 closed

[2019-02-25 08:43] Mihail0v opened #1964 "Wrong behavior when using sortMeta"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    |no
| Version     | 2.0.0-beta1

#### Summary
When you use sortMeta of Query\Builder it causes a wrong behavior of DocumentPersister::prepareSort

#### Current behavior
sortMeta creates a new sorting with array as a value, but the DocumentPersister waits for sort direction(desc/asc).

#### How to reproduce
[code]
throws array

[2019-02-26 19:47] jmikola commented on #631
Recap: @alcaeus suggested creating a GeoJSON 1.1 version that aliases the new class names as a forward-compatibility layer for proper renames in 2.0. See: https://dev.to/greg0ire/how-to-deprecate-a-type-in-php-48cf

ODM 2.0 can then require GeoJSON 1.0 or 1.1 and we can safely keep the current code with maual `jsonSerialize()` unwrapping as-is. If ODM 2.1+ then decides to introduce GeoJSON type ma

[2019-02-27 11:23] #465 closed

[2019-03-05 07:03] alcaeus commented on #1344
@Steveb-p took me a bit longer, but #1966 should fix your issue 👍

[2019-03-05 08:22] Steveb-p commented on #1344
@alcaeus thank you :smile:

[2019-03-06 07:18] malarzm opened #1968 "Check documentation for old driver references and links"
One of the places still mentioning legacy driver is [here](https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/latest/reference/annotations-reference.html#index).

[2019-03-07 06:13] #1344 closed

[2019-03-07 15:20] rieschl opened #1970 "Partial discriminator-maps not working anymore since 1.2.7"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 1.2.7

#### Summary

The changes [calculating the discriminator mapping](https://github.com/doctrine/mongodb-odm/pull/1962/files?utf8=%E2%9C%93&diff=unified#diff-c9b41d11b954b84d2c23a31bf8807b00L956) introduced a BC break in our mappings, because the discriminator map in the `mapped-superclass` only

[2019-03-07 15:37] alcaeus commented on #1970
Yeah, this looks like it would be my fault in #1962. I have to see what I can do here - looks like this is one of those situations where we can't fix one use-case without breaking another.

For the record even though I've already mentioned it in Slack, partial discriminators will be deprecated in the upcoming 1.3 release and dropped entirely in 2.0, so you'll have to update the logic soon.

I'll s

[2019-03-08 16:10] Steveb-p commented on #1863
I've taken a little time on it, since I'll probably need to use this functionality myself. Those two ways of handling `$lookup` are however really different and do not really mix & match.

Using one practically should disable another.

Is it acceptable to treat them as two separate classes with common ancestor? Or simply use some kind of flag to indicate which type of lookup is being used?

Should

[2019-03-10 21:17] ostrolucky commented on #1970
Both could be fixed by saving all parent discriminators in metadata, then using $nin specifying all parent discriminators (or discriminators of other classes on same level), instead of current $in with discriminators of current class. This is more complicated approach though and not sure if worth it when use case in this issue is going to be removed in 2.x. Personally I would just close this issue

[2019-03-11 05:47] alcaeus commented on #1970
Since it never worked before 1.2.7, I'm willing to take that risk.

Relying on "undefined" behaviour is what happens after a software gets older. Remember, the first beta versions of 1.x are almost 9 years old - people come to rely on certain things, especially when you tag a final release. Whether it's undocumented or not, I don't like breaking people's workflows, no matter how ridiculous it seem

[2019-03-11 14:34] elangovanshanthi opened #1973 "Doctrine aggregation $project query is not working properly"
I have combine the two columns into single columns for this using below one.
[code]
It return perfect results in terminal, but doctrine it is not working?

# My doctrine query:
[code]
It returns results as empty array of values.

# Expecting Results as :
[code]

[2019-03-11 14:47] alcaeus commented on #1973
Those two `$project` stages are completely different, as you can see when evaluating the result of `$builder->getPipeline()`. The ODM example you posted evaluates to this stage:
[code]

If you were to reproduce the `$project` stage from your MongoDB shell example, it would look like this:
[code]

[2019-03-11 15:05] rieschl opened #1975 "add DateImmutableType"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

It would be nice if `DateTimeImmutable` would be supported natively, as using immutable dates is usually better than mutable ones.
So I suggest implementing a `DateImmutableType`.
It's probably as easy as using the current `DateType` type and converting the Date

[2019-03-12 05:56] klickers opened #1976 "Uncaught Error: Call to a member function add() on boolean $loader"
|    Q        |   A
|------------ | -----
| Version     | 2.0 beta

### Support Question

I'm trying to set up doctrine on my yii2 project, but I keep getting the error `Fatal error: Uncaught Error: Call to a member function add() on boolean ` where the code runs `$loader->add('Documents', __DIR__);`

`bootstrap.php` file (in __DIR__/common/config/bootstrap.php):
[code]

I cannot figure out what i

[2019-03-12 06:51] alcaeus commented on #1976
By default, the composer autoload file returns the autoloader in question, which seems to not be the case for you. Could you tell us which version of composer you are running locally?

[2019-03-13 05:06] CathChen003 commented on #1976
Maybe this is related to the problem?  When I run
[code]
rather than
[code]
the program gets stuck on this line rather than on `$loader->add()`.

[2019-03-13 05:18] elangovanshanthi commented on #1973
@alcaeus Perfect...It is works...Thanks for time.

[2019-03-13 05:18] #1973 closed

[2019-03-13 06:01] alcaeus commented on #1976
I missed this initially, but if your bootstrap file is located in `/common/config/bootstrap.php` you'll want to use this:
[code]

In general, you'll want to ensure that you're actually loading the autoload file from the vendor directory. Not knowing your path structure I can only guess where this is, but it should be easy to handle.

[2019-03-13 06:14] CathChen003 commented on #1976
Thanks - `__DIR__` works now.  I still get the "uncaught error" though.

[2019-03-13 10:23] InternalServerError opened #1979 "How to use "allowDiskUse" in aggregationBuilder ?"
|    Q        |   A
|------------ | -----
| Version     | 3.4

### Support Question

Hi,
Is it possible to use the allowDiskUse: true in aggregationBuilder please ?

[2019-03-13 10:26] Steveb-p commented on #1979
You can pass `$options` when calling `execute`.

See execute method excerpt:
[code]

[2019-03-13 10:32] InternalServerError commented on #1979
You're a rockstar man, thank you for the quick and clear answer.
I did not see that, thanks again !

[2019-03-13 11:06] #1979 closed

[2019-03-13 14:11] rieschl opened #1980 "less strict constraint for discriminator-mapping values in 2.0"
It's not really a feature request but more retaining backwards compatibility.
When testing version 2 I noticed that the syntax checks for XML mappings are more strict than in version 1. Using a FQCN as `discriminator-mapping` `value` now throws a `Doctrine\ODM\MongoDB\Mapping\MappingException` for it not being a `xs:NMTOKEN` type.

While I totally understand the necessity of breaking BC from time

[2019-03-13 14:16] rieschl commented on #1980
btw: also `index` `key` values have to be `xs:NMTOKEN`s, which is not really necessary because mognodb itself doesn't have that kind of restriction on it's indexes.

[2019-03-14 06:02] #1970 closed

[2019-03-14 06:03] alcaeus commented on #1970
We've reverted #1962 in #1978 for the 1.x branch. The fix will be added only to 2.x to avoid the regression with partial discriminator maps.

[2019-03-14 08:06] alcaeus commented on #1980
I've scheduled this for 1.3 since invalid mapping files cause deprecation warnings in 1.3. It makes sense to loosen the rules before people try to change mappings to be compatible with 2.0 where the changes wouldn't have been necessary.

[2019-03-14 08:09] rieschl commented on #1980
In `1.x` are not yet invalid, are they? Or are they invalid but accepted anyways?

[2019-03-14 08:13] alcaeus commented on #1980
In 1.2.x, they are invalid but accepted anyways. In 1.3, we're deprecating mapping files that are invalid according to the schema, with 2.0 refusing to load such mapping files. Thus, when upgrading to 1.3 you'd receive a deprecation warning that your mapping file is invalid and you'll no longer be able to load it after moving to 2.0.

This is why I want to fix this in 1.3 to ensure the mapping fil

[2019-03-14 15:11] jmikola opened #1981 "Query builder incorrectly handles updates with replacement documents"
[`Query::runQuery()`](https://github.com/doctrine/mongodb-odm/blob/2.0.0-beta1/lib/Doctrine/ODM/MongoDB/Query/Query.php#L442) currently delegates `TYPE_UPDATE` operations to either [`Collection::updateOne()`](https://docs.mongodb.com/php-library/current/reference/method/MongoDBCollection-updateOne/) or [`updateMany()`](https://docs.mongodb.com/php-library/current/reference/method/MongoDBCollection

[2019-03-15 08:00] CathChen003 commented on #1976
Cross-referencing to https://stackoverflow.com/questions/55178020/doctrine-odm-annotations-or-composer-autoload-php-not-working.

[2019-03-19 03:46] CathChen003 commented on #1976
@alcaeus Does this mean I need to autoload the files manually?  How is that supposed to be done?

[2019-03-20 08:25] strobox opened #1982 "Proxy ID field not filled with id value"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | dev-master 62ca36c

#### Summary

ID null while hydration (not set)

#### Current behavior

Bad query to mongodb happen (with _id null)

#### How to reproduce

I've compared Proxies generated by 2.0.0-beta1 and dev-master 62ca36c

2.0.0-beta1:
[code]
62ca36c:
[code]
Maybe it is desired behavior that *id*

[2019-03-21 21:58] malarzm commented on #1961
@Dragonqos I've just submitted #1983 with a fix

[2019-03-21 22:10] malarzm commented on #1964
#1965 was merged, closing here

[2019-03-21 22:10] #1964 closed

[2019-03-21 22:41] malarzm commented on #1931
Closing as I've just opened #1984 to mark classes as final which was last thing to do in this issue (PR has a needs compat label)

[2019-03-21 22:41] #1931 closed

[2019-03-27 13:59] josefsabl opened #1985 "Metadata not stored with File document"
### Bug Report

I tried to follow [these instructions](https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/latest/reference/storing-files-with-mongogridfs.html) to store a file in the MongoDB. The file is stored just fine but the metadata is thrown away.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.0-beta1

#### Summary

As stated above, the meta

[2019-03-29 06:12] alcaeus commented on #1976
Sorry for the long delay, I was unable to do any work for personal reasons.

I see that the answers on your StackOverflow post pretty much cover what I was going to ask next, so we can skip that step. Can you confirm that your `autoload.php` file is a) the correct file you intend to load and b) that it contains a `return` statement? Thanks!

[2019-03-29 06:48] alcaeus opened #1986 "Refactor handling of BSON filters"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | not yet

#### Summary

The `Configuration::addFilter` method currently only allows adding a filter by specifying its name, class and optional parameters. When needed, those filters are instantiated by the `FilterCollection` according to the configuration. There are several issues

[2019-03-29 06:50] alcaeus commented on #1961
#1983 was merged, closing here. Thanks for bringing this up @Dragonqos!

[2019-03-29 06:50] #1961 closed

[2019-03-29 10:08] ychanan opened #1987 "[mapping, xml] field-name argument ignored for embedded document id"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | n/a
| Version     | 2.0.0@beta

#### Summary

When mapping an ID of an embedded document to a property not called "id", an exception is thrown in "Property id does not exist at ClassMetadata.php:1940". I suspect that the new "field-name" XML argument is ignored in this specific case.

#### Current behavior & how to reproduc

[2019-03-29 10:55] etshy commented on #1987
Using `fieldName="name"` instead of `field-name="name"` should work.
[See this line](https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/Mapping/Driver/XmlDriver.php#L270)

[2019-03-29 10:56] ychanan commented on #1987
But you can't use that as it fails XML schema validation. It's no longer supported.

[2019-03-29 11:20] etshy commented on #1987
Sorry, I didn't know it was not supported anymore, I didn't try the 2.0 beta yet.

I just read the `<field id="true"/>` is removed too so I don't see any other way to do that.

It seems to be a bug, then.
The `field-mapping` attribute appears in xsd [here](https://github.com/doctrine/mongodb-odm/blob/master/doctrine-mongo-mapping.xsd#L134) but maybe it's not handled in code.

[2019-03-29 12:24] alcaeus commented on #1987
The new `id` mapping doesn't allow using a different name, as an identifier in MongoDB is always mapped to the `_id` field in the database. However, this `_id` field doesn't really exist for embedded documents, at least not with the special handling normally associated with it (even when you don't specify it while inserting a document, it will always be added). This handling does not exist for emb

[2019-03-29 13:38] ychanan opened #1988 "[pagerfanta] The latest Pagerfanta adapter does not appear to be compatible with the library"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0@beta

#### Summary

The library is no longer compatible with latest Pagerfanta adapter.

#### Current behavior

The `Pagerfanta\Adapter\DoctrineODMMongoDBAdapter`, when used with the beta version throws an exception in `getNbResults()` method, and in some cases has the wrong query type set in `getS

[2019-03-29 14:04] malarzm commented on #1988
Thanks for the report! I'd say that this is Pagerfanta that needs to adapt its code to work with ODM 2.0, they have an adapter written - not us.

[2019-03-29 14:09] dkarlovi commented on #1988
Thanks @malarzm, we just wanted to confirm this is expected behaviour on your end, not an unexpected BC break, @alcaeus said there are still some parts in need of cleanup.

[2019-04-01 05:37] alcaeus commented on #1988
Correct - we dropped the `count` method from the `Query` class without properly deprecating and dropping it, which is why I wanted to take a good look at this.

I also want to take a look at the `find` query since you mentioned you needed to explicitly add the `find()` call when building it, which shouldn't be necessary.

[2019-04-02 07:04] alcaeus commented on #1982
I wanted to reproduce this as you've posted it, but it doesn't make any sense: `$id` can't be protected in the parent and private in the child class. Could it be that it's declared as private in all classes?

[2019-04-02 17:17] strobox commented on #1982
Yes, it can't. It is my mistake. Maybe I've copy-pasted that piece of code while make experiments with id field access levels. I will try and check all again now.

[2019-04-02 17:54] strobox commented on #1982
So, of course `private $id;` in `class Customer extends LinkNode` is was my mistake in provided sample. But I can confirm that issue still exits (no matter public or protected is used). Also I would note that `public` or `protecetd` can not be used for parent class `LinkNodeModel` because it is generated model by openapi-generator tool. Even so, I think library should work with any field access le

[2019-04-02 18:08] alcaeus commented on #1982
I just wanted to confirm the access levels. So the property is protected in both classes? I’ll try to reproduce it that way.

[2019-04-03 03:06] CathChen003 commented on #1976
Yes, it looks like:
[code]

[2019-04-03 04:23] strobox commented on #1982
There is three classes:

|   | Superclass | Sub-class | Sub-sub-class|
| ------------- | ------------- | ------------- |------------- |
| **Class name**  | LinkNodeModel  | LinkNode  | Customer  |
| **Field access level**  | protected  | protected  | protected*  |
| **Is in project source**  | No**  | Yes  | Yes  |
| **Extra info**  | Is POPO class  | Is Mongodb MappedSuperclass  |  one of three m

[2019-04-03 04:33] strobox commented on #1982
Here is the project sources with issue (if  change 2.0.0-beta1 => dev-master): http://gg.wseb.cf/afram/xap_pback (have docker-compose to run it) but now (at dev stage) it have two local filesystem dependencies) If it will make sense I can publish them to VCS.

[2019-04-03 07:33] strobox commented on #1982
I found some time to research issue by myself. I try reproduce issue from scratch and provide repo.

[2019-04-03 09:57] strobox opened #1990 "Proxy ID field of entity not filled with id value for one -> many relation for "mappedBy" field"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | dev-master c1b0137

#### Summary

ID null while hydration (not set)

#### Current behavior

Bad query to mongodb happen (with _id null)

#### How to reproduce

- Clone repo: https://github.com/strobox/modm_idnull and run composer install
- Start docker *docker-compose up -d* or run app locally
- Execute s

[2019-04-03 09:58] strobox commented on #1982
I decided to create new issue and close that because I found more details and prepared reproduce repo https://github.com/doctrine/mongodb-odm/issues/1990

[2019-04-03 09:58] #1982 closed

[2019-04-03 10:02] strobox commented on #1990
I have 2 entities. Folder and Customer. Both have same mapped superclass LinkNode. LinkNode by design have have 1 to many relation to itself. (One LinkNode may have several related LinkNodes) This done by
[code]
So, both Folder and Customer inherit this behavior. In current case we have one customer (id: "abcxyz") in some folder (id: "xxxyyy"). So this folder's $items = [<<customer instance _id:"a

[2019-04-03 10:05] strobox commented on #1990
2nd place - we came to HydraterFactory which begin hydration of *itemOf* using generated AppDocumentCustomerHydrator to fill that reference:
![image](https://user-images.githubusercontent.com/10600123/55470777-f4522380-5610-11e9-8a25-c5b6ce7fc9dc.png)

[2019-04-03 10:08] strobox commented on #1990
Last three stack frames where exception happen ($identifier became null) and it difficult to me to me to understand why:

![image](https://user-images.githubusercontent.com/10600123/55471058-92de8480-5611-11e9-967d-ad5b52154e30.png)

[2019-04-03 10:15] strobox commented on #1990
What I've tried with no luck:
1.
[code]
from <--> to
[code]

2. Disable own *repositoryMethod*

[code]
from <--> to
[code]

[2019-04-03 15:06] alcaeus commented on #1990
Thank you for the detailed analysis. I'll create a reproducer tomorrow and fix the issue. If I understood you correctly, this worked in Beta-1 but is broken on the latest master commit?

[2019-04-03 15:15] strobox commented on #1990
Yes, you're right.

[2019-04-04 07:38] alcaeus commented on #1990
I've managed to figure out the issue, see #1991 for the fix. Thanks for the reproducer @strobox!

[2019-04-04 08:14] #1985 closed

[2019-04-04 08:14] #1990 closed

[2019-04-04 08:24] ychanan opened #1992 "Empty server configuration value results in an exception"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0@beta

#### Summary

An exception is thrown when an empty string is provided in configuration for:
[code]

Exception:
[code]

This is important because it occurs during cache clearing and warmup and breaks the application if the server value is to be resolved dynamically or is not provided for

[2019-04-05 05:25] alcaeus opened #1993 "Support metadata class name resolution in ResolveTargetDocumentListener"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | yes

#### Summary

The `ResolveTargetEntityListener` in ORM not only supports changing the `targetEntity` attribute for associations but also doing a secondary ClassMetadata lookup in case the original class was not found. This secondary behaviour is not supported in the `ResolveT

[2019-04-05 07:28] etshy opened #1994 "Doctrine matching collection in mongodb-odm"
|    Q        |   A
|------------ | -----
| Version     | 2.0

### Doctrine Common Feature Question

That's not really a support question, but a question about v2.0.

I recently saw the matching method on Collection in ORM documentation. (https://www.doctrine-project.org/projects/doctrine-orm/en/latest/reference/working-with-associations.html#filtering-collections)

As this matching method seems t

[2019-04-05 07:34] alcaeus commented on #1994
This is tracked in #929 and currently scheduled for a 2.x release, meaning that it won't happen in 2.0 but is also not scheduled for any other release. I've built something like this for an app of mine, but it doesn't really deal with edge cases (e.g. how does `matching()` work with inverse references using a `repositoryMethod`?

I'm closing this in favour of #929 - if you are willing to work on t

[2019-04-05 07:34] #1994 closed

[2019-04-05 08:22] josefsabl opened #1995 "Proxy directory is created with wrong permissions"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0-beta2

#### Summary

Relates to:

https://github.com/doctrine/mongodb-odm/issues/1890
https://github.com/doctrine/mongodb-odm/commit/9f4f4ce35beae0634973b7b32c9612e05008d869#diff-9502eb87a0cbee5c6090046e8f5494da

The original implementation created the dir with 775 permissions, the new implementati

[2019-04-05 08:24] etshy commented on #1994
I didn't see the previous issue, sorry.

I'll read the other issue, and will test a bit of things about it.

[2019-04-05 10:07] #1995 closed

[2019-04-06 16:30] emulienfou commented on #1993
Hi @alcaeus just made the changes here:
* `ResolveTargetDocumentListener` has an event subscriber in this branch [here](https://github.com/emulienfou/mongodb-odm/tree/listener-event-subscriber)
* Introducing class `onClassMetadataNotFound` in this branch [here](https://github.com/emulienfou/mongodb-odm/tree/introducing-class-metadata-not-found)

I also update the **DoctrineMongoDBBundle** to regis

[2019-04-06 16:37] emulienfou commented on #1993
Hi @alcaeus however I think there is something I missed, I cannot figured out why the `getSubscribedEvents()` method is not triggered.

Here is the cache result for the service after updating the ODM bundle:
[code]

When debugging the event manager, no listeners are registered. Cannot figured out why.
If you got some times to check that?

[2019-04-07 14:47] emulienfou commented on #1993
Never mind, I figured out my issue

[2019-04-07 15:13] alcaeus commented on #1993
Sorry for the delay, the past couple of days have been extremely stressful. Please create pull requests for the respective branches and I'll review them either tonight or in the next couple of days. Thank you!

[2019-04-08 10:12] josefsabl opened #1999 "Problem with proxy permission due to Ocramius possible bug?"
Hey guys, it's me again :-) The problem with write permissions for proxy directory is ironed out I guess. Here comes problem with write permissions for proxy FILE :-)

### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | dev-master

#### Summary

Although strictly not a bug in Doctrine ODM, the new version introduces dependency on Ocramius/ProxyManage

[2019-04-08 10:20] josefsabl commented on #1999
Looks like Ocramius already has this patched in dev-master.

[2019-04-08 10:24] alcaeus commented on #1999
Confirmed to be a bug in `ocramius/proxy-manager` - nothing to do here. Closing as there's nothing we should fix.

Also, bugs in other libraries are no BC break, and even if: this is 2.0 where they are to be expected.

[2019-04-08 10:24] #1999 closed

[2019-04-08 10:31] josefsabl commented on #1999
Okay, fair enough. Thank you.

Ocramius seems to have this fixed is his 2.3 that requires PHP 7.4. I see that there is a request to backport this to php 7.3 so let's hope it gets fixed soon.

Btw, BC break bugs that make the library unusable for some people are not a good bread of BC break and I think they require some special attention ;-)

[2019-04-08 11:02] josefsabl commented on #1999
Will be fixed with: https://github.com/Ocramius/ProxyManager/issues/458

[2019-04-09 10:53] josefsabl opened #2000 "Documents changed during preUpdate method don't get saved."
|    Q        |   A
|------------ | -----
| Version     | 2.0.0-beta2

I am not sure if this is bc break, or a bug or if I'm doing something wrong, so please pardon me if this is misplaced.

### Support Question

- I use deferred explicit persisting strategy.
- I have a subscriber hooked to event manager subscribed to preUpdate event.
- I have a document and an embedded document.
- In the subscrib

[2019-04-09 11:10] alcaeus commented on #2000
At which point do you modify and call `persist`? The title says `preFlush`, the text says `preUpdate`.

Changesets are computed after `preFlush` but before `onFlush`. In an `onFlush` listener, you may safely change more documents, but you'll have to compute their changesets yourself. Once you left the `onFlush` hook, there is no guarantee that any changes in further `pre` or `post` hooks will actu

[2019-04-09 11:25] webdevilopers commented on #1674
I can confirm this behaviour described by @KarunaGovind!

I use XML mapping and have two fields "_id" (the MongoId Object") and an extra ID "id".

[code]

I explicitely set the names to "_id" and "id" but I always get the value of "_id". Maybe the `name` is normalized and has the "underscore" is removed which would result in "id" in both cases.

I think I once got a warning that "id" was marked as

[2019-04-09 15:22] josefsabl commented on #2000
Okay, but now I have the problem to get to the persisted documents in the preFlush method. I can get to the unit of work and getScheduledDocumentUpdates. But they don't contain the embedded documents of course.

I don't simply see any solution to the problem I have now:

I have a Document (let's say User), it has an embedded document property (let's say Profile), it has a property (let's say $name

[2019-04-09 17:43] josefsabl commented on #2000
First and foremost, thank you for time and effort you put into this. I really appreciate it.

But to be honest, I am still confused.

How do I access the generated changesets? I only see the `\Doctrine\ODM\MongoDB\UnitOfWork::getDocumentChangeSet` method, which requires the document to get the changeset for.

But I don't need the changeset, I need to get all the documents that were changed. I need

[2019-04-09 17:45] malarzm commented on #2000
FWIW if you're going to modify a document that is being updated at the moment you can safely do that on the `preUpdate` event, just remember to recalculate the change set (or use [`setNewValue` method from the event](https://github.com/doctrine/mongodb-odm/blob/33b11823752372935f480785dc04f52d77e22976/lib/Doctrine/ODM/MongoDB/Event/PreUpdateEventArgs.php#L65)).

[2019-04-09 17:52] josefsabl commented on #2000
Oh man, I had it working like that this morning but I thought there may be some gotchas as @alcaeus stated that:

Nevermind that :-) I learned quite a bit about Doctrine today, which is always a good thing anyways ;-)

Thank you guys!

PS: I will still happily wait for any comments from @alcaeus as I am trying to do things the best way possible as this solution will be heavily built on.

[2019-04-09 18:06] malarzm commented on #2000
I've allowed myself to change title to "saved" instead of "persisted" - I guess @alcaeus thought you are talking about `persist`ing new documents which indeed can be safely done `onFlush` latest :)

[2019-04-09 19:26] josefsabl commented on #2000
Hehe, and I forced myself to use "persist" instead of "save" thinking it was the right term. Even the subscriber I keep writing about is called SaveSubscriber :-) Thanks for the correction.

I'll try to polish and test the suggested solution and close the issue tomorrow. Thanks again for the help and for Doctrine ODM in the first place!

[2019-04-10 05:45] alcaeus commented on #1674
@KarunaGovind, @webdevilopers

In ODM, both field name and name (aka database name) are immediately reserved and required to be unique. There may not be a field with a name equal to another fields `fieldName` attribute. The reason for this is because it's possible for you to create a query like this:
[code]

In this case, we wouldn't want you to have to know how exactly `someReference` is mapped (

[2019-04-10 09:51] josefsabl commented on #2000
Okay, so my final solution is:

- prePersist event: Just change the values.
- preUpdate event:
  - change the values
  - `$dm->persist($document)`
  - `$dm->getUnitOfWork->->computeChangeSet($classMetaData, $document)`

Works like a charm.

[2019-04-10 09:51] #2000 closed

[2019-04-10 10:36] alcaeus commented on #2000
Yes. Just a word of warning, once you start modifying values in other, non-embedded documents, you might get in trouble with your solution. That's where my suggestion regarding `onFlush` comes in (I assumed the worst-case scenario of changing unrelated documents).

[2019-04-10 11:10] etshy commented on #929
I took a bit of a look at this yesterday night (about how it was implemented in ORM too).
I'm a bit lost as I never really looked into the code before, but here what I saw for now, let me know if I'm completely wrong.

In ORM's `matching` method (in `PersistentCollection`) it call a `persister->loadCriteria(Criteria)` to query the referenced Entities.
The thing is, in ORM, there is a specific pers

[2019-04-10 14:14] josefsabl opened #2002 "Document class is unlisted in the discriminator map - using no discriminator map"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0-beta2

#### Summary

Document class "Domain\XYZ\Document" is unlisted in the discriminator map although I am using no discriminator map.

Possibly related to this: https://github.com/doctrine/mongodb-odm/issues/867

#### Current behavior

Let's assume this code:

[code]

Now I get the `Document cla

[2019-04-11 05:13] alcaeus commented on #2002
Could you by any chance reproduce this in a test case? You can find a whole bunch of such test cases in https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket. Thanks!

[2019-04-11 05:34] alcaeus commented on #929
The implementation differs a lot from ORM. For one, we have a lot more flavours of associations than ORM. For example, for any owning-side collection, `matching` wouldn't really be a performance boost (be it references or embedded relationships): since the collection only keeps a list of documents (either raw embedded document data or references) that should be in it, we can't apply a custom query

[2019-04-11 09:55] josefsabl commented on #2002
Will give it a shot.

[2019-04-11 11:39] alcaeus commented on #1674
TL;DR: no way for 1.x, no for 2.0. The version in the roadmap is still up-to-date.

My initial idea was to update the `expr` method in `Query\Builder` to take a field name and inject the target mapping for the field name into the newly created `Expr` object instead of the builder's metadata. While this can easily be done for straight-up field names, but when building queries for nested field names

[2019-04-11 16:02] josefsabl commented on #2002
Done. I hope the clearing loaded metadata like that is okay. It simulates my problem where request that doesn't work with document A but works with document B fails.

[2019-04-11 19:38] josefsabl commented on #2000
Would you be please so kind and elaborate a bit? I would really appreciate it.

You know, I want to do things the good way. But I don't see any other way.

I want to keep the document mere data holding objects and strive against having any logic in them. Injecting services into them seems like a bad idea. And I don't want any singletons, globals and other crap.

How do YOU do it? You have a user d

[2019-04-11 19:56] malarzm commented on #2000
The trouble @alcaeus was referring to is if you try to modify an *other* document than the one the `preUpdate` event is fired for. If you're modifying the document itself, or documents embedded (but not referenced), you'll be fine :)

[2019-04-11 22:41] josefsabl commented on #2000
Cool, good to know. I guess I don't want to affect anything but the document so I will be fine. But heck, good to know :-)

[2019-04-13 12:48] #1981 closed

[2019-04-15 05:06] alcaeus opened #2009 "Document remaining BC breaks"
|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0

### BC Break Report

Running [roave/backward-compatibility-check](https://github.com/Roave/BackwardCompatibilityCheck) on MongoDB ODM 2.0 against 1.2.x yields a total of 3303 BC breaks. I suppose many of them can be ignored (e.g. default values or properties changed and such) and many have been documented, but th

[2019-04-15 05:09] alcaeus commented on #1988
The BC break is taken care of in #2009. As for the `find` behaviour, there is nothing to suggest you need to add explicit `find()` calls to query builders in 2.0. If you can provide more information regarding that, I'd be happy to take another look.

[2019-04-15 05:09] #1988 closed

[2019-04-15 05:09] alcaeus commented on #1959
Closing in favour of #2009 where I finally got to running `roave/backward-compatibility-check`.

[2019-04-15 05:09] #1959 closed

[2019-04-15 05:58] alcaeus opened #2010 "Add package name to deprecations"
As suggested by @nicolas-grekas in https://github.com/doctrine/DoctrineBundle/pull/951#discussion_r272850188 and @greg0ire in https://github.com/doctrine/mongodb-odm/pull/2005#discussion_r275119872, we should make sure to add the package name to all deprecations messages. Currently, some simply say "will be removed in 2.0", others use some variation of "ODM 2.0". To allow users to quickly pinpoint

[2019-04-15 11:41] alcaeus commented on #1992
Without having a trace for the exception, I can only speculate, but here goes.

The exception is thrown when constructing a `MongoDB\Manager` instance: https://github.com/mongodb/mongo-php-driver/blob/d0cc6bd9b0fd70073cc3c7c9fcb661dee9fd06c8/php_phongo.c#L1376. This instance is constructed when creating a `DocumentManager` instance. I would assume that upon cache warmup, proxy classes are generate

[2019-04-15 11:45] alcaeus commented on #1987
After discussion within the team, we've decided to keep things the way we have them at the moment. Identifiers will always map from any property name to an `_id` field in the database. While this may seem unnatural for embedded documents, I would suggest not using identifiers for embedded documents at all. Instead, if you want to store an ObjectId, map it as a regular field with the `ObjectId` typ

[2019-04-15 11:45] #1987 closed

[2019-04-15 20:36] greg0ire commented on #2010
I should have quoted my source for this idea: a discussion with @nicolas-grekas on the train to the EUC hackathon :)

[2019-04-16 05:12] alcaeus commented on #2010
It's a great idea. The way we have many deprecation notices set up right now, people might not realise what package is causing it without looking at the trace. They shouldn't have to do that.

[2019-04-16 08:53] josefsabl commented on #2002
Until the bug is fixed, I forked the ODM and just plainly disabled the notification whatsoever to enable me to work on my project.

[2019-04-17 11:53] alcaeus commented on #1873
Quick update: this is currently waiting on https://github.com/mongodb/mongo-php-library/pull/599, which is most likely going to land in version 1.5.0 of `mongodb/mongodb`. There is `DocumentManager::CLIENT_TYPEMAP` which has to be used when manually creating a DocumentManager. Once we're able to require `mongodb/mongodb` 1.5.0 or newer (which will be in a future 2.x release), the exception will be

[2019-04-17 11:55] alcaeus commented on #1980
#2007 was merged, closing.

[2019-04-17 11:55] #1980 closed

[2019-04-23 05:54] alcaeus commented on #1976
@klickers Pleas set a breakpoint in `autoload_real.php` and try to debug it that way. Took me a while, but the issue is most likely that your autoload file is returned twice. Take this example:
[code]

Then, try to include it twice:
[code]

As you can see, all calls to `require_once` after the initial call no longer return the value returned by the script (in your case the autoloader) but `true`.

[2019-04-23 11:48] alcaeus commented on #1993
Both PRs have been merged with support in the bundle coming soon. Closing here.

[2019-04-23 11:48] #1993 closed

[2019-04-23 16:21] josefsabl opened #2015 "Discriminator value is lost for reloaded documents"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | dev-master

#### Summary

Okay, so this is probably related or maybe duplicate to: https://github.com/doctrine/mongodb-odm/issues/2002

But not only I get the error message described in the ticket but I also lose the discriminator value for the references associations.

#### Current behavior

After reloa

[2019-04-23 16:52] josefsabl commented on #2015
If I may humbly present my opinion. I don't like the discriminator map feature at all. Especially with the latest changes.

I believe it violates DRY and OCP quite obviously.

First of all I need to maintain lists like:

[code]

We also search for documents by their type (`findBy(['class' => Document\User])`). And as we don't want to have string constants in the code we would have to create consta

[2019-04-23 18:10] malarzm commented on #2015
I'll allow myself to answer to some of your points:

You shouldn't need to query by a discriminator field, if you get a repository for a specific class (say `Document\User`) it'll automatically get you instances of that class only. Discriminator and its value are ODM-specific, it shouldn't leak to your code.

Both consts and the `::class` "const" can be used with annotations: https://github.com/do

[2019-04-23 18:45] jmikola commented on #1808
I think we can get away with adding `array_merge()` logic to https://github.com/doctrine/mongodb-odm/blob/485d84dc05401aea58db9d41335924475b50f7f1/lib/Doctrine/ODM/MongoDB/Query/Query.php#L415 as we do for other operation types. This would allow users to specify additional `find` options in the call to `getQuery()` instead of introducing new builder methods for each option.

[2019-04-24 09:50] josefsabl commented on #2015
Thank you for your reply! Not all my concerns are resolved but it was inspirational nonetheless :-)

I thought I would only add value to the discriminator map if the class was renamed and leave the default behaviour with class name as discriminator value when not in discriminator map. But I may be mistaken, I was merely theorizing :-)

Cheers.

[2019-04-25 07:52] josefsabl commented on #2015
The theoretical debate aside :-) Is this a bug? Is it a duplicate for #2002 or am I missing something?

[2019-04-26 11:36] aturki opened #2018 "Aggregation builder $indexStats with discriminator fields mapping"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.2.8

#### Summary
Aggregation builder $indexStats with discriminator fields mapping

#### Current behavior
The aggregation builder fails to execute $indexStats stage when a discriminatorField is used in the class definition with error "$indexStats is only valid as the first stage in a pipeline." (ref: h

[2019-04-26 14:36] alcaeus commented on #2018
Could you please post the output of `$builder->indexStats()->getPipeline()`? I suspect that the culprit is in https://github.com/doctrine/mongodb-odm/blob/4acb36955163b20e1ac3241c5fe354ea24337691/lib/Doctrine/ODM/MongoDB/Aggregation/Builder.php#L219..L221 - we presend a `$match` stage containing the appropriate filters, but may not be allowed to do so. In fact, we check for a `$geoNear` stage, so

[2019-04-26 14:36] alcaeus commented on #2015
I'm currently checking it against the fix I made for #2002. Not quite sure what it is just yet 😉

[2019-04-26 14:58] aturki commented on #2018
@alcaeus, that's exactly it. Here is the output of `$builder->indexStats()->getPipeline()`
[code]

[2019-04-26 16:11] #1808 closed

[2019-04-28 10:58] alcaeus commented on #2015
While I could reproduce it in master, I couldn't reproduce it with the fixes from #2005 applied. With that in mind, I'd like to finish #2005 and get that merged down to master and revisit this afterwards. I believe you may just be seeing different effects of the same bug.

[2019-04-28 11:18] #2009 closed

[2019-04-28 11:38] alcaeus commented on #2002
Fix has been merged to 1.3 and master. Thanks for reporting, and more so for the failing test case!

[2019-04-28 11:38] #2002 closed

[2019-04-28 11:39] alcaeus commented on #2015
With the test case provided in #2016, I could not reproduce any failures, neither by leaving the `exit` call in, nor by removing it. I'm closing this - please reopen if you feel that I've missed something.

[2019-04-28 11:39] #2015 closed

[2019-04-29 06:11] #2010 closed

[2019-04-29 11:25] josefsabl opened #2024 "Query builder finds parent classes although explicitly asked to find only child documents (without discriminator map)"
### Bug Report

Relates to #2002, #2015.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | dev-master

#### Summary

I followed @malarzm [comment](https://github.com/doctrine/mongodb-odm/issues/2015#issuecomment-485914361) about not needing to query by discriminator field and removed the query. And it worked well. But today, as I tested the fixed #2002 and removed the

[2019-04-29 11:25] josefsabl commented on #2015
The exception went away, but new problem appeared. See: #2024

[2019-04-29 11:52] josefsabl commented on #2002
The exception went away, but a new problem appeared. See: #2024

[2019-04-29 11:57] alcaeus commented on #2024
This was initially fixed in #1962 but reverted in #1978 due to a regression (see #1970). I had this on my radar for 2.0 but lost track of it. I'll be providing a fix shortly.

[2019-04-29 14:25] alcaeus commented on #2024
So this use-case is a bit different (and unfortunately significantly more complicated) than the original issue in #1962. For a bit of knowledge about internals, when you define a discriminator map on a document, you're basically telling ODM that there are child classes of this class that contain mapping information. ODM will not immediately load these, but it will know of them. This information is

[2019-05-02 18:59] alcaeus commented on #1992
@ychanan did you try using a semantically valid URL instead of `<EMPTY>`?

[2019-05-02 19:32] #2018 closed

[2019-05-03 08:43] etshy commented on #929
Hey.
I was in break for the past 2 weeks, and I couldn't really continue working on this.

If it's for 2.1 (or more) I guess it's not really urgent, then.

I think I'll take a better look of the sources, to know how it works, for now.

Once I know better about the sources, how it works etc, I could really help.

[2019-05-03 14:18] alcaeus commented on #929
2.x is not very different except for coding standards and the low-level logic. Collections are very similar. As this feature won’t make it into 2.0 either way, there’s no need to hurry.

[2019-05-03 14:44] josefsabl commented on #2024
LOL. Yeah sure, as long as it is well documented ;-)

[2019-05-03 19:29] alcaeus commented on #2024
Closing as #2025 was merged.

[2019-05-03 19:29] #2024 closed

[2019-05-07 02:48] fengjunhui commented on #1354
davidloubere @davidloubere you must create document manager by "DocumentManager::create($connection, $configuration)",and you only set logger callable on $config.But the log callable should be setted on $connection.When creating document manager, dm's construct founction would not set $configuration into $connection included log callable.And i think it is a  BUG. @malarzm @davidloubere @alcaeus @p

[2019-05-07 02:51] fengjunhui opened #2026 "logger callable will not work"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.2.8

When i create document manager by "DocumentManager::create($connection, $configuration)",and i only set logger callable on $config.But the log callable should be setted on $connection if that work.When creating document manager, dm's construct founction would not set $configuration into $connection

[2019-05-07 02:59] fengjunhui commented on #2026
#1354

[2019-05-07 06:13] alcaeus commented on #2026
This is not an issue. The connection part of the `Configuration` instance will be passed when creating a new connection, but will not be used to overwrite any settings on an existing connection. This is because it is your responsibility to pass the correct options when creating the connection. ODM cannot assume that you'll want connection options overwritten, especially since the same connection m

[2019-05-07 06:13] #2026 closed

[2019-05-10 10:03] ychanan commented on #1992
Semantically valid URLs work, `mongodb://127.0.0.1/` is ok.

Btw, to clarify, when I wrote `<EMPTY>`, I meant either an empty string, or a parameter containing an empty string. Not a literal `"<EMPTY>"` string.

[2019-05-10 10:46] alcaeus commented on #1992
I see. An empty string will not trigger the fallback to the default URI set in the driver (see comment above for references to the code in question). This is something that shouldn't change IMO, so it's up to your configuration to properly pass `null` instead of an empty URL. If using environment variables, you may want to use the [new `default` env var processor](https://symfony.com/blog/new-in-s

[2019-05-23 19:47] alcaeus commented on #1976
@klickers Any luck with my suggestion above?

[2019-05-23 22:22] klickers commented on #1976
@alcaeus I'm so sorry for the late reply; I got too busy and didn't have much time to work on this project for a while.  I just figured out where it's been double-called;  the framework I'm using calls `autoloader.php` itself.  So my `bootstrap.php`, which was loaded after the main file of the framework, called it a second time and returned `bool(true)`.

Thank you so much for your time and help!

[2019-05-23 22:22] #1976 closed

[2019-05-30 21:04] jmikola opened #2027 "Ensure query filters for replacement-style updates include shard keys for MongoDB 4.2"
[SERVER-39158](https://jira.mongodb.org/browse/SERVER-39158) describes a change for MongoDB 4.2 whereby replacement-style updates target the update to a shard by the replacement document. Starting in 4.2, these updates will instead be targeted by the query document.

To my knowledge, ODM does not make extensive use of replacement-style updates. I'm not too concerned about the query builder, as it

[2019-06-04 07:18] alcaeus commented on #2027
Right now, the shard key is always added to the query part when writing a document through `DocumentPersister`, see https://github.com/doctrine/mongodb-odm/blob/a50624c38534a3f238353c83c12fb268eee61281/lib/Doctrine/ODM/MongoDB/Persisters/DocumentPersister.php#L354 and https://github.com/doctrine/mongodb-odm/blob/a50624c38534a3f238353c83c12fb268eee61281/lib/Doctrine/ODM/MongoDB/Persisters/DocumentP

[2019-06-04 07:39] alcaeus commented on #1992
@ychanan did the above work for you?

[2019-06-04 09:47] dossorio opened #2028 "Hash indexes with digits are populated as integers"
I have looked for a similar issue everywhere but couldn't find anything related, apologies if its been asked somewhere else.

When using `Field(type="hash")` lets say to store the following object:
[code]

`2019` and `anotherIndex` are properties of that object, but when the object is hydrated and the associative php array created, `2019` is created as an integer:
[code]

|    Q        |   A
|----

[2019-06-04 15:40] alcaeus commented on #2028
How do you store the document? I created a functional test to check and the behaviour is what we expect: https://gist.github.com/alcaeus/30592b53acbd96d35d57391c515807bd.

[2019-06-05 06:32] Drygba commented on #2028
This is expected behavior.
https://www.php.net/manual/en/language.types.array.php

[2019-06-05 11:56] kailashkds opened #2029 "Cannot use object of type MongoId as array in unitOfWork.php"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 1.2.9

#### Summary

[code]

   **now if I use**
[code]
  or```

     /**
      * @Document
      */
      class Logs
      {
        ......
        ......
         /**
          * @MongoDB\ReferenceOne(targetDocument="Employee", simple=true)
         */
         private $createdBy;
      }
[code]
  if (

[2019-06-05 17:34] malarzm commented on #2029
@kailashkds I believe your issue stems from using a `simple=true` on a reference to a discriminated document. I'm not 100% sure though so if you could please prepare a failing test case that would clear things up for me as I'm also not sure what is the BC break you're facing. You can take a look at out [functional tests](https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoD

[2019-06-06 11:00] Steveb-p commented on #2029
@malarzm I believe @kailashkds just set it as BC break unknowingly.

[2019-06-07 10:20] xNarkon opened #2030 "Doctrine\MongoDB\LoggableCollection::aggregate deprecation"
`The "Doctrine\MongoDB\LoggableCollection::aggregate()" method will require a new "array $op" argument in the next major version of its parent class "Doctrine\MongoDB\Collection", not defining it is deprecated.`

[2019-06-07 11:17] alcaeus commented on #2030
The upcoming 2.0 version has entirely different methods here, as it no longer uses `doctrine/mongodb`. Also, please refrain from creating multiple issues for the same topic across repositories. Thanks!

[2019-06-07 11:17] #2030 closed

[2019-06-12 09:27] rieschl opened #2032 "Show hint what to add to discriminator map for partial discriminator maps"
### Feature Request

`1.3-RC1` introduced deprecation warnings for the upcoming version `2.0`. One of them is a warning when a partial discriminator map is found ([e.g. here](https://github.com/doctrine/mongodb-odm/blob/1.3.x/lib/Doctrine/ODM/MongoDB/Persisters/PersistenceBuilder.php#L308)).

As discussed on Slack, , it would be nice if this warning included what should be added to the discriminat

[2019-06-13 01:30] Abir-H opened #2034 "Handle DocumentNotFoundExceptions more gracefully or turn it off"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

When mongo references become invalid, doctrine throws the `DocumentNotFoundException` from doctrine mongo-odm `Caught exception: The "MongoDBODMProxies\__CG__\CrLib\Document\Image" document with identifier "0e2922a9-7dcd-4709-ad8e-9d36cd98f11d" could not be found

[2019-06-13 06:57] malarzm commented on #2034
@Abir-H thanks for the idea! Right now there is no way to specify the flag globally however you may have some luck with an event listener that will disable exceptions for all not found documents.

[2019-06-13 14:22] alcaeus commented on #2034
Thinking about this I'm not entirely sure how we'd go on about this: when the hydrator encounters a reference, it creates a proxy object and injects that into the mapped property. The proxy object is then initialised when a method call is made on the proxy object. However, at that time it's too late to generically handle the missing proxy: we can't return `null` and also shouldn't return an uninit

[2019-06-27 11:21] ychanan commented on #1992
This is how we currently use it, and this works.
[code]

These two do not:
[code]
[code]

[code]

This worked:
[code]

It could be just our specific setup that manifests these issues - trying to use an empty string as a default, when we could use a `null` value.

[2019-06-27 13:53] Oihso opened #2036 "The class "Doctrine\ODM\MongoDB\PersistentCollection" was not found in the chain configured namespaces App\Document""
|    Q        |   A
|------------ | -----
| Version     | 1.2.9
| Framework | Symfony 4
| PHP | 7.2

### Support Question

I created a class to update the cart object. When I try to update an object that is already stored in the database, I get an error `The class "Doctrine\ODM\MongoDB\PersistentCollection" was not found in the chain configured namespaces App\Document"`. This error occurs only wit

[2019-06-27 14:52] malarzm commented on #2036
Are you sure that `->setProducts()` gets only instances of `CartItem`s? Offhand your types in entity are wrong, `getProducts()` should not be typed to `array` as ODM will use `PersistentCollection` after the `Cart` is loaded thus you should type against `Doctrine\Common\Collections\Collection`

[2019-06-27 14:54] malarzm commented on #2036
Also just to be sure: you don't have `Cart` and `CartItem` in one file as the pasted code suggests?

[2019-06-27 16:31] Oihso commented on #2036
No, both of these objects are in the same file.

Once again checked the returned types of variables at each stage of logic. When retrieving from the database, `$cart->getProducts()` somehow belongs to the type `[object] (Doctrine\\ODM\\MongoDB\\PersistentCollection: {})`, and therefore an error occurs with the class not found when updating the cart object. I also looked at the `Doctrine\Common\Col

[2019-06-27 16:42] #2036 closed

[2019-07-01 09:20] markitosgv opened #2037 "CommandLogger doesn't collect commands data"
### Bug Report

CommandLogger doesn't collect commands data

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.0-RC1

#### Summary

Using Symfony 4 with MongoDBBundle, I see that CommandLogger is subscribed to MongoDB monitoring but after that commandStarted or commandSucceeded never be triggered.

#### Current behavior

It doesn't get any data

#### How to reproduc

[2019-07-01 13:49] markitosgv opened #2039 "Array to string conversion using $$ROOT on aggregation"
### Bug Report

This code works on v1.x. But fails in V2.

I've got an aggregation query, in last stage I've got a $project like this:

[code]

I'm using a Hydraration Class like this:

[code]

This triggers an array to string conversion on CachingIterator.php line 128:

[code]

If I change project step to this:

[code]

And my hydratation class to this:

[code]

It works ok, putting purchase data

[2019-07-05 07:45] zaerl commented on #1581
I know that this issue has been closed 2 years ago but I leave a comment for all the visitors with the same problem. I can confirm that this error only happens when the cache folder is inside a docker shared volume.

[2019-07-07 23:57] JonathanHolvey opened #2040 "Can Doctrine's ODM reference one document without declaring type?"
### Feature Request

|    Q        |   A
|------------ | :----:
| New Feature | yes
| RFC         | ?
| BC Break    | ?

#### Summary

I'm using Doctrine with Symfony 4. I can see in the documentation for Doctrine's ODM references that a referenceMany relationship can store different types of documents in references by omitting the targetDocument option:

[code]
becomes

[code]

 It seems that the

[2019-07-09 16:30] alcaeus commented on #2027
Closing here - I don't see where we need this. We can always revisit once testing with MongoDB 4.2 starts.

[2019-07-09 16:30] #2027 closed

[2019-07-09 19:42] alcaeus commented on #2040
You can omit the `targetDocument` property for all references as long as you don't use `storeAs="id"` in the mapping. You can find an example in the tests: https://github.com/doctrine/mongodb-odm/blob/a50624c38534a3f238353c83c12fb268eee61281/tests/Doctrine/ODM/MongoDB/Tests/DocumentRepositoryTest.php#L77. The document in question uses a `ReferenceOne` mapping without `targetDocument` property.

I'

[2019-07-09 20:22] alcaeus commented on #2039
Can you create a small test case to reproduce the issue? You can take a look at existing tests in https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket. Thanks!

[2019-07-09 20:29] alcaeus commented on #1992
I believe changing the `server` parameter to the following should do the trick:

`server: "%env(resolve:default::WAREHOUSE_DSN)%"`. Could you give that a shot?

[2019-07-12 08:32] #2028 closed

[2019-07-12 08:36] alcaeus commented on #2037
After checking, this is an error in the registration of command subscribers in the bundle. Registering them manually works as expected, so I'm closing this since the fix is in the bundle. Thanks for the report!

[2019-07-12 08:36] #2037 closed

[2019-07-12 18:48] alcaeus opened #2044 "Type error when data from database is incompatible with mapping"
This is the root cause for the issue described in https://github.com/doctrine/DoctrineMongoDBBundle/issues/564: a property was mapped as an embedded document, but the data received from the database was a scalar value. In order to avoid type errors, the hydration logic needs to better assert expected types.

[2019-07-13 11:35] #2029 closed

[2019-07-15 14:30] eopaquette opened #2045 "Documentation for migration to 2.x"
### Feature Request

#### Summary

Please provide a documentation for the migration from 1.x to 2.0 concerning all changes up to namespaces.

Thx.

[2019-07-16 17:14] malarzm commented on #2044
FWIW have no idea we can fail gracefully if we expect an object and get a scalar. Unless more gracefully as throw an exception instead of a type error? :)

[2019-07-17 09:29] ychanan commented on #1992
Thanks, we'll give that a try once we upgrade to Symfony 4.3, we're currently on 4.2.7 and `default` is not supported yet.

[2019-07-17 16:04] josefsabl commented on #1354
I was looking for a way to replace the old logging feature and was glad I found this reply of yours as that lead me to CommandLogger :-)

[2019-07-17 18:32] alcaeus commented on #1992
If you don't want to wait, you can always register your own `default` env var processor and use the upcoming class to do so.

Either way, closing this here as there's nothing we can do when we're given an invalid connection string: we're merely passing it on to the underlying library.

[2019-07-17 18:32] #1992 closed

[2019-07-22 12:26] alcaeus commented on #2045
Cross-referencing https://github.com/doctrine/mongodb-odm/pull/2038#issuecomment-509716753 for completeness.

I can add a section to the UPGRADING docs to explain this process, but in theory, it will be straightforward. Alongside ODM 2.0, we'll also release ODM 1.3, which is available to everyone currently running on 1.2. This release will trigger deprecation notices for all BC breaks when updatin

[2019-07-22 13:24] alcaeus commented on #1344
Just a very late follow-up to the problem @The-Don-Himself mentioned:

MongoDB 4.2 removes the 127 byte limit for index names once the `featureCompatibilityVersion` has been set to 4.2. That might help people that don't want to manually set an index name.

[2019-08-01 10:27] Romaxx opened #2046 "dbRefWithDb multiple dbs"
Hello,
Is it possible to use dbRefWithDb to reference collection from another database ?
Currently if I reference document managed by another documentManager, it throw an error "A new document was found through a relationship that was not configured to cascade persist operations".

DB1:
- Collection 1: refA

DB2:
- Collection 1: refB

how refA can reference refB easily ?
Thanks

[2019-08-01 10:35] alcaeus commented on #2046
Whether you store your references as ID references, `dbRef`, `dbRefWithDb` or the new `ref` doesn't make a difference since ODM will always use mapping information to know where to fetch data for a referenced document. The storage strategy matters when you're accessing the references from a separate application that doesn't use ODM.

As for your problem at hand, are both documents managed by the s

[2019-08-01 10:58] Romaxx commented on #2046
both documents are managed by distinct documentManager because I use cluster per tenant strategy, each db have their own host (https://fr.slideshare.net/mongodb/securing-mongodb-to-serve-an-awsbased-multitenant-securityfanatic-saas-application) I have created a superclass DocumentManagerFactory which serve the right documentManager instance according to the class and account used. Currently I use

[2019-08-01 11:49] alcaeus commented on #2046
I'm thinking how we can better ensure this besides through documentation, but a referenced document needs to be managed by the same document manager as the referencing document, otherwise the error you encountered will occur. Referencing a document managed by another document manager simply isn't possible.

I'm not sure I understand your reasoning for using multiple document managers, but either w

[2019-08-01 14:12] Romaxx commented on #2046
Thank you, I understand the limitation.

[2019-08-01 14:12] #2046 closed

[2019-08-15 18:57] arevai opened #2047 "$toInt aggregation operator unavailable?"
Is $toInt aggregation operator available?

[2019-08-16 05:52] jcaillot commented on #2047
let's say our document has already a 'price' (decimal) field, we can extract some new fields:

[code]
All. available operators are detailed here : https://docs.mongodb.com/manual/reference/operator/aggregation/

[2019-08-16 07:28] Steveb-p commented on #2047
That would make a nice addition to docs actually.

[2019-08-16 12:19] arevai commented on #2047
Awesome, thanks!

[2019-08-16 12:19] #2047 closed

[2019-08-17 08:56] alcaeus commented on #2047
Using `expression` is the preferred way to use new operators that don't have a native method yet.

As for the `$toInt` operator itself, we will work on aggregation improvements in 2.1, which includes adding all new operators and new stages added since we last worked on aggregation here.

[2019-08-20 10:05] nimleaf opened #2049 "Tools for working with GridFS"
|    Q        |   A
|------------ | -----
| Version     | 2.0

### Support Question

Hi, does doctrine 2 supports mongo tools for working with GridFS? I want to store file with many versions, then get its history.

[2019-08-20 10:49] alcaeus opened #2050 "Support accessing older revisions of GridFS files"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

GridFS treats multiple documents with the same filename as revisions of the same file, with the uploadDate determining order. The `open_download_stream_by_name` and `download_to_stream_by_name` allow passing a `revision` option, which is then used to select the a

[2019-08-20 10:50] alcaeus commented on #2049
GridFS is supported both in 1.x as well as 2.0, however the APIs are very different. With respect to multiple versions, these are stored as individual documents as per the [GridFS spec](https://github.com/mongodb/specifications/blob/master/source/gridfs/gridfs-spec.rst). Accessing older revisions varies greatly between versions.

In 1.x, there is no built-in way to access older revisions. Instead,

[2019-08-20 12:20] alcaeus opened #2051 "Document working with text indexes"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

The index section in the docs does not contain any information on how to work with text indexes. While the query builder docs have a section on text search (see https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/1.2/reference/query-builder-api.html#

[2019-08-20 21:08] renorram opened #2052 "Services not being injected on DataFixtures"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 3.5.3

#### Summary

I have an `UserFixture` class that injects UserPasswordEncoderInterface but when I execute the `doctrine:mongodb:fixtures:load` the interface is not injected on the class causing a error.

#### Current behavior

The interface `UserPasswordEncoderInterface` is not injected on the fixtu

[2019-08-20 21:48] #2052 closed

[2019-08-20 21:53] renorram commented on #2052
closed this as is related to DoctrineMongoDB Bundle.

[2019-08-22 21:34] #2049 closed

[2019-09-17 23:09] alcaeus opened #2063 "Support new aggregation features"
|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

This issue serves as an epic to track various aggregation features that are not supported in ODM yet.

##### New aggregation pipeline stages

* [`$currentOp`](https://docs.mongodb.com/manual/reference/operator/aggregation/currentOp/#pipe._S_currentOp)
* [`$listLocalSessions`](https:/

[2019-09-17 23:47] alcaeus commented on #2032
I finally managed to take a look at this today. The three exception cases all affect the class that is being printed in the deprecation message, or its inheritance chain. Due to the way mapping is set up, we don't know what class defines the discriminator mapping, so it's best to check the class that is printed and go up the inheritance chain if it doesn't have a discriminator map.

While looking

[2019-09-19 22:08] akincer opened #2066 "Add mechanism to add options to Builder"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Specifically for the aggregation function, I'd like to be able to add options such as hint to specify the index that should be used.

[2019-09-23 15:38] anyx commented on #1354
`setLoggerCallable` was removed from configuration in 2.0 version (but still exists in documentation). How I can get queries logs in that version?

[2019-09-24 06:58] alcaeus commented on #1354
There is a command logger that you can register. We no longer provide a way to log queries, instead using the APM functionality from the MongoDB driver to log queries. You can find an [APM tutorial](https://www.php.net/manual/en/mongodb.tutorial.apm.php) in the extension docs. We also provide a CommandLogger class that you can register as APM logger and look at queries later.

The ODM bundle for S

[2019-09-24 07:05] alcaeus opened #2067 "Use strict mode for array_search"
We use `array_search` to find the correct discriminator value for a given class name. This does not use strict mode (third argument for `array_search`). This should not have a big impact since we're expecting to look for class name strings which shouldn't have to use type coercion, but due to the potential BC implications this change should be evaluated carefully.

[2019-09-24 18:07] alcaeus commented on #2032
Closing now that we've merged #2064. We've added what we can add without breaking BC. Unfortunately, there are a couple of instances where we can't show you all the info, but in general you should be able to deduce what's going on here.

[2019-09-24 18:07] #2032 closed

[2019-09-24 18:27] alcaeus commented on #2034
Closing here as there is currently no feasible way to handle this (see comment linked above). I'm not sure if I want to expose handling this kind of behaviour in the mapping.

[2019-09-24 18:27] #2034 closed

[2019-10-01 06:13] alcaeus opened #2070 "Support pipeline-style updates in query builder"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

With MongoDB 4.2 and version 1.5 of the MongoDB library, it is possible to pass an aggregation pipeline to update operations (`findAndModify`, `update`, updates in bulk writes). This should be leveraged in the query builder by integrating a subset of aggregation

[2019-10-01 06:13] alcaeus opened #2071 "Deprecate currentDate operator in query builder"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

The `$currentDate` operator is being deprecated in MongoDB 4.4, as it can be done with pipeline-style updates (introduced in 4.2) and the `$$NOW` or `$$CLUSTER_TIME` expressions.

Note that the deprecation should not be done before adding support for pipeline-styl

[2019-10-01 07:42] alcaeus commented on #2045
I've written a little about the upgrade process in a blog post on the Doctrine website: https://www.doctrine-project.org/2019/09/30/mongodb-odm-1.3.0-and-2.0.0-RC2.html. The UPGRADE document also contains all BC breaks that you'll encounter. This list was compiled using [roave/backward-compatibility-check](https://packagist.org/packages/roave/backward-compatibility-check) to make sure that we catc

[2019-10-01 07:42] #2045 closed

[2019-10-01 09:18] alcaeus commented on #2039
I took a look at this and wasn't able to reproduce it with the following test: https://gist.github.com/alcaeus/8f91cc6ad367ed842a88ff7c5bfee3ab. Since you say the exception occurs in `CachingIterator::key`, I would assume there's something fancy going on. Can you please share the full aggregation pipeline that you are running? Thanks!

[2019-10-01 19:30] #1968 closed

[2019-10-02 07:14] alcaeus commented on #2044
Fixed in #2073

[2019-10-02 07:14] #2044 closed

[2019-10-03 07:26] JonathanHolvey commented on #2040
I just got round to testing this as I'm using `@ReferenceOne` successfully in the same project without specifying `targetDocument` or `storeAs` properties. However, my use case requires a bi-directional reference, requiring `@ReferenceOne(inversedBy="accounts")`, which results in an error:

Removing the `inversedBy` property to leave a uni-directional reference results in the error reported above:

[2019-10-03 14:22] jmikola opened #2077 "Add hydrator tests for reading invalid reference objects"
As discussed in https://github.com/doctrine/mongodb-odm/pull/2073#discussion_r330260331, HydratorTest does not currently test behavior for encountering unexpected data for either a DBRef or ODM-specific "ref" object.

[2019-10-03 14:35] jmikola commented on #2045
PR for BSON type migration is in https://github.com/mongodb/mongo-php-library/pull/685. I'll aim to get this reviewed, merged, and deployed soon.

@eopaquette Feel free to follow that issue for updates. Once the changes are deployed, you should find them on https://docs.mongodb.com/php-library/current/upgrade/.

[2019-10-05 14:53] alcaeus commented on #2040
Thanks for the update! I’ll take a closer look at this next week 👍

[2019-10-06 05:50] christiankasse opened #2079 "The unique MongoDB constraint (fields = "...", "...") does not work"
Hello,
I just put a constraint in my document asking to make a registration constraint like phone number, email address and username.
But nothing is checked because I use
`@ MongoDBUnique (fields = {"email", "username", "phoneNumber"})`
Help please.

[2019-10-06 08:39] malarzm commented on #2079
For help with development please consider posting a question on [stack overflow](https://stackoverflow.com/questions/tagged/doctrine-odm). Also you must be more specific than "does not work", "nothing is checked" as it's almost impossible to help you. My blind guess is that you've set unique field constraint on all three fields so only the same combination of email, username and phoneNumber will m

[2019-10-06 08:39] #2079 closed

[2019-10-06 08:58] christiankasse commented on #2079
The problem is that if I take a single element for example email for unique, the constraint works, but if I take 3 elements for unique, everything goes well but there is no longer the constraint and it passes without checking

[2019-10-06 12:09] malarzm commented on #2079
There is a constraint, but you need to have all 3 violations at the same time. You need to have 3 different unique constraints, one per field

[2019-10-06 14:32] Steveb-p commented on #2079
@christiankasse
You're probably looking for:
[code]

[2019-10-07 08:06] Frederick888 opened #2080 "Undefined property error from proxy when EmbedOne field is not set"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0

#### Summary
When an EmbedOne field is not set in database, it now causes an `Undefined property` error.

#### Previous behavior
Previously in 1.2.x the field was simply left `null`.

#### Current behavior
An `Undefined property` is caused by generated proxy `__get($name)` method.

#### How t

[2019-10-07 08:34] malarzm commented on #2080
@Frederick888 could you please report an issue to https://github.com/Ocramius/ProxyManager as it seems to be a shortcoming in the proxying mechanism itself? For the time being you may consider using a getter method that should work just fine as it won't utilize magic `__get` under the hood.

[2019-10-07 08:44] alcaeus commented on #2080
@Frederick888 out of curiosity, does the error appear when changing property visibility to `protected` or `private`? Not saying you should change the code, but I remember there were some special things about public properties in proxies.

[2019-10-07 09:02] Frederick888 commented on #2080
@malarzm

No problem. But honestly I've got no idea what OOP proxies are... What would be an appropriate title for the issue there?

You meant a getter in my own model? It's already got one in `BaseModel`:
[code]

@alcaeus

This time the undefined `address` error is gone but instead I got undefined `excludedFromArray` (the toArray filter I've got in `BaseModel`). I guess it's because the property

[2019-10-07 09:10] malarzm commented on #2080
@Frederick888 something like "Undefined property error for public property and __get" should do. Also you can link to this issue, but I'm sure @Ocramius will either know what to do or what questions to ask :)

[2019-10-08 13:03] alcaeus commented on #1876
Testing against replica sets was added in https://github.com/doctrine/mongodb-odm/pull/2060. No tests against servers with SSL enabled have been added so far.

[2019-10-08 13:21] #1444 closed

[2019-10-08 13:21] #1607 closed

[2019-10-08 13:23] alcaeus commented on #1907
Duplicate of #1824.

[2019-10-08 13:23] #1907 closed

[2019-10-09 07:12] malarzm commented on #2080
Closing as #2082 was merged

[2019-10-09 07:12] #2080 closed

[2019-10-09 11:56] rbaarsma opened #2083 "[2.0] Argument 1 passed to Doctrine\ODM\MongoDB\UnitOfWork::getParentAssociation() must be an object, string given, called in UnitOfWork.php on line 2082"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.0

#### Summary

I'm using an EmbeddedDocument with inheritence mapping, having an embedded object that has children, which are the same type or an extended type of the same embeddedDocument. This doesn't want to persist.

#### How to reproduce

[code]

This leads to this error:
[code]

#### Expected

[2019-10-09 12:04] rbaarsma commented on #2083
Let me debug a bit more, because somehow the error seems unrelated to the mapping. WIP

[2019-10-09 12:09] #2083 closed

[2019-10-09 12:09] rbaarsma commented on #2083
(for reference, bug was caused by using `@EmbedMany` on a field that should've been `@Field(type="collection")` (simple array field)

[2019-10-12 12:36] christiankasse commented on #2079
Okay,
I'm sorry but it's not working for me

[2019-10-12 12:37] christiankasse commented on #2079
`/**
 * @MongoDB\HasLifecycleCallbacks
 * @MongoDB\Document(collection="users", repositoryClass=UserRepository::class)
 * @MongoDBUnique(fields={"email"})
 * @MongoDBUnique(fields={"username"})
 * @MongoDBUnique(fields={"phoneNumber"})
 */
class User extends AbstractController implements UserInterface
{`

[2019-10-15 16:21] malarzm opened #2086 "Add DecimalType"
Relevant post on SO: https://stackoverflow.com/questions/58346555/doctrine-odm-float-field-not-working-with-decimal-field

[2019-10-15 16:59] alcaeus commented on #2086
Duplicates #1835. 😉

[2019-10-15 16:59] #2086 closed

[2019-10-15 18:43] malarzm commented on #2086
Ah sorry, I trusted "related issues" that showed me no good results :)

[2019-10-16 02:50] Frederick888 opened #2087 "GridFS upload freezes if chunkSizeBytes is not specified in 2.0"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.1

#### Summary
GridFS upload freezes if `chunkSizeBytes` is not explicitly specified in File model annotation.

#### Current behavior
It freezes in `\MongoDB\GridFS\Bucket::uploadFromStream` at `stream_copy_to_stream` (FYI I'm using `mongodb/mongodb` 1.5.0).

The reason why this happens is that `\Doc

[2019-10-22 09:00] mayro opened #2088 "DynamoDB..."
Hello
Can i use DynamoDb with this bundle please ?

[2019-10-22 11:11] malarzm commented on #2088
This was requested in the past (https://github.com/doctrine/mongodb-odm/issues/1353#issuecomment-177173995) and the resolution is that we do not have the throughput to work on supporting more databases.

[2019-10-22 11:11] #2088 closed

[2019-10-24 10:31] TheHett opened #2089 "Logging page is obsolte"
|    Q        |   A
|------------ | -----
| Version     | 2.0.0

### Support Question

I want to find a way to use logging in ODM 2.0
How I understand this page is obsolete:
https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.0/reference/logging.html

If possible, tell me how to use the PSR-3 logger?

[2019-10-24 21:15] SenseException commented on #2089
Truly a very outdated part in the docs. Thank you for pointing that out. I've created #2090 for removing that part from the 2.x documentation.

As for the question about using a psr-3 logger, I'm not sure myself. We probably need a way to introduce psr-3.

[2019-10-25 06:08] TheHett commented on #2089
Thanks!
Is there any way to enable logging using ODM?
Information about this will not be superflous in the documentation :)

[2019-10-25 09:29] alcaeus commented on #2089
The Symfony Bundle for ODM contains a PSR-3 logger: https://github.com/doctrine/DoctrineMongoDBBundle/blob/master/APM/PSRCommandLogger.php. Not sure why we didn't add it to ODM itself, but here we are

[2019-10-25 09:33] alcaeus commented on #2089
For the sake of completeness, I don't think that logging any command as it was sent to the database is a good idea. You may want to filter this, customise log output, redact some data, and so on. I think you're way better off doing this yourself.

I'm closing this as the issue at hand (e.g. obsolete documentation) has been fixed in a PR and will be removed from the docs once they are re-deployed (

[2019-10-25 09:33] #2089 closed

[2019-10-25 11:23] TheHett commented on #2089
Why not add CommandLoggerInterface to the documentation on that page instead of deleting?

[2019-10-25 11:41] alcaeus commented on #2089
Because the interface is mainly provided for the bundle. The actual functionality is described in the MongoDB extension docs: https://www.php.net/manual/en/mongodb.tutorial.apm.php. There are a few downsides to using command subscribers, mainly because you will be notified for all commands sent on the client object, which may be reused by multiple processes on the same machine.

[2019-10-29 07:55] TheHett opened #2092 "Memory leaking when used query builder in the loop"
### Bug Report

I try to use ODM in daemon, but have problem with memory consumption.

|    Q        |   A
|------------ | ------
| Version     | 2.0.1

I created minimal example that leads to an error:

[code]

The code crushes regardless of the size allocated memory after some iterations (the more memory, the more iterations)

[code]

[2019-10-29 08:31] malarzm commented on #2092
What is `File`? Is it any document?

[2019-10-29 08:40] TheHett commented on #2092
Hi, yes
[code]

[2019-10-30 10:14] blakyris commented on #2087
Same for the `uploadFromFile();` method if I do like this :

``$file = $this->documentManager->getRepository(File::class)->uploadFromFile($path);

It freezes. Nothing happens in the Symfony CLI

[2019-10-30 13:17] alcaeus commented on #2063
For the `$currentOp`, `$listLocalSessions`, and `$listSessions` stages: we may consider not adding these, as there is no concept for `db.aggregate` in the aggregation builder: it always runs on a specific collection. I'm not sure how to best handle that via the current API. At the same time, these commands are not likely to be used in your average ODM application, so I don't think it will be parti

[2019-10-30 18:48] alcaeus commented on #2087
Fixed in #2094.

[2019-10-30 18:48] #2087 closed

[2019-10-31 00:53] etshy opened #2095 "[2.0]XML schema validation seems too strict"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.1

#### Summary/Reproduce

- Update my composer.json to use 2.0 (ODM bundle 4.0)
- run `composer update`
- XML Schema validation throw an exception about this line
[code]
I think it comes from the gedmo line to add the slug behavior.
The thing is it's impossible to add a content element from ano

[2019-10-31 07:43] alcaeus commented on #2095
That's not good. I'll take a look during the day. Thanks for providing a file I can test this with 👍

[2019-11-05 13:53] alcaeus commented on #2095
After taking a look, this is somewhat intended, with a few unintended consequences. We've decided to validate the mapping files against our schema, which makes sense as it catches errors in the schema definition that could otherwise lead to other errors when interpreting the mapping.

When adding the mappings for the Gedmo extension to the `field` mapping, the following validation errors occur (fo

[2019-11-05 13:57] alcaeus commented on #2095
Cross-referencing with https://github.com/Atlantic18/DoctrineExtensions/issues/2055.

[2019-11-06 11:07] shehi opened #2096 "Custom Identifier name isn't allowed to be custom."
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no idea
| Version     | 2.0.1

#### Summary

In XML configuration, attempting to give custom field_name to IDs doesn't work. ClassMetadata fails.
```<id field-name="uuid" strategy="UUID" type="bin_uuid" />```

#### Current behavior

```<id field-name="uuid" strategy="UUID" type="bin_uuid" />```

Field-names ~~both~~ in docu

[2019-11-06 11:12] shehi commented on #2096
At https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/Mapping/ClassMetadata.php#L1953 the dumped value of ```$mapping``` variable is as below:
[code]

[2019-11-06 12:03] malarzm commented on #2096
IIRC field named `uuid` cannot be an identifier in the document as MongoDB expects document's identifier to be named `_id`. I think we should rather block custom name for identifier fields.

[2019-11-06 12:05] shehi commented on #2096
After some research, I tend to agree with you @malarzm . I think this issue should be renamed appropriately into a task to disable custom fieldnames for IDs.

[2019-11-06 12:30] alcaeus commented on #2096
Identifier names in the database are fixed to the `_id` field - this is the identifier of a MongoDB document. There is a bug with handling the `field-name` attribute in XML mappings, which allows you to change the name of the class property the database field is mapped to. This bug is being fixed in #2097.

In your case, you can have a `uuid` field in the class and map it to the `_id` field by usi

[2019-11-06 12:32] shehi commented on #2096
@alcaeus , that IS the problem: I can't have field named ```$uuid``` in document class. It is being converted to ```$id```. That might need fixing.

[2019-11-06 12:33] shehi commented on #2096
@alcaeus , I just checked your PR, and I believe change in XMLDriver is fixing the problem I described above.

[2019-11-06 12:35] alcaeus commented on #2096
I just wanted to make sure you don't have wrong expectations because of this:

With the `id` mapping you described, the database field will always be `_id` - the `field-name` attribute only affects the class property. If that's what you intended to do, I apologise for the confusion I caused.

[2019-11-06 12:36] shehi commented on #2096
Yea, updated the original post above, striking through some wordings.

[2019-11-06 13:34] #2096 closed

[2019-11-07 10:30] petr-buchin opened #2098 "Getting PHP value in `Type::convertToPHPValue()`"
I'm not sure, whether this is a bug or expected behavior, so I'll try to explain an issue first.

I have my custom mapping type, which looks like this:

[code]

I also use **Symfony Messenger** component, and one of my message handlers returns a document, which has field with this `DocumentIdType`.

However, when I run my application, I get an exception. Long story short - my method `DocumentIdTyp

[2019-11-07 12:05] alcaeus commented on #2098
Looking at usages of `convertToPHPValue`, the only place it is used for is [`ClassMetadata::getPHPIdentifierValue`](https://github.com/doctrine/mongodb-odm/blob/56408ed68687a6d826230881d87720dccf54f4e4/lib/Doctrine/ODM/MongoDB/Mapping/ClassMetadata.php#L1391), which is called in a few places in the document lifecycle. I've examined a few of the calls, and they seem to call `getPHPIdentifierValue`

[2019-11-07 12:35] alcaeus opened #2099 "Some documentation pages don't show up in the table of contents"
### Bug Report

While looking up some documentation, I noticed that the [Reference mapping documentation](https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.0/reference/reference-mapping.html#mixing-document-types) is not linked in the table of contents of the website. We should add this and double-check to make sure all documentation is accessible on the website.

[2019-11-07 12:38] alcaeus commented on #2040
Sorry for the delay here, this slipped under my radar - good thing the bot reminded me (again).

I've taken another look, and we have a test covering this. You can see such a reference in the [`Documents\FavoritesUser`](https://github.com/doctrine/mongodb-odm/blob/56408ed68687a6d826230881d87720dccf54f4e4/tests/Documents/Functional/FavoritesUser.php#L32) document, which is used in a functional test

[2019-11-07 17:11] petr-buchin commented on #2098
@alcaeus thank you very much for the quick reply!

I've looked at the stack trace attentively and figured out that this behavior is the result of me calling `DocumentManager::getReference()` with a php value (`DocumentId`) instead of db value (`ObjectId`).

`StaticProxyFactory` then calls `ClassMetadata::setIdentifierValue()`, which tries to convert value to its PHP representation.

Here's part of

[2019-11-07 19:00] alcaeus commented on #2092
Thanks for the report! It took me a few hours to figure out the root cause, but apparently the generators we use to wrap MongoDB cursor objects stick around. In my tests, removing the generator in `__destruct` removed the memory leak, but it'd be good to get confirmation for this. @TheHett would you be able to test the code in the PR to see if it fixes your problems?

[2019-11-08 11:39] TheHett commented on #2092
@alcaeus Now is works fine, thanks!

[2019-11-08 11:49] alcaeus commented on #2092
Thanks for confirming! I'll try to get a patch release out today!

[2019-11-08 12:11] alcaeus opened #2101 "Improve documentation around custom types"
The `Type::convertToDatabaseValue()` and `Type:: convertToPHPValue()` specify that the methods receive a PHP and database type and return the opposite type. However, there are numerous instances where `convertToPHPValue()` is called with a PHP value. Built-in types all handle this gracefully, so we should document this in the method signatures as well.

We may also want to add a short section to t

[2019-11-08 12:12] alcaeus commented on #2098
In general, we expect that users may pass PHP types wherever they interact with ODM, as it's the job of ODM to convert this to the appropriate types. So passing a PHP type to `DocumentManager::getReference()` is definitely correct. If we take a closer look at that method, there are two different code paths.

The first path takes us into `DocumentManager::tryGetById()`, where the ID is converted to

[2019-11-08 12:28] petr-buchin commented on #2098
@alcaeus thanks for such a detailed explanation!
I am closing this issue in favor of #2101.

[2019-11-08 12:28] #2098 closed

[2019-11-09 13:53] Steveb-p opened #2102 "Using Builders without class after 2.0"
|    Q        |   A
|------------ | -----
| Version     | 2.0.2 after migrating from 1.3

### Support Question

Query and Aggregation builders in version before `2.0` were able to work with queries against collections that did not have their own class.

I used to be able to instantiate them and then pass a string indicating what collection I wanted to ask. Then if the string I passed was not a val

[2019-11-09 14:04] malarzm commented on #2102
I think it was unintentional feature drop however I had no clue such thing was possible with 1.x :D

[2019-11-09 14:06] malarzm commented on #2102
But I believe such thing was possible due to all builders in 1.x being inherited from doctrine/mongodb which was dealing with plain collections. FWIW I think it would be nice to preserve this functionality if that's not too much hassle on our side.

[2019-11-09 14:13] Steveb-p commented on #2102
Yes, that's the case actually. Since in 2.0 they no longer extend from those base classes, hence no ability of building those queries with support of ODM (without anythying that relied on metadata, of course).

Using `onClassMetadataNotFound` seems to have no obvious side-effects - `MetadataFactory` caches entries using original requested class name, so asking for another collection afterwards see

[2019-11-10 12:22] petr-buchin opened #2103 "No ability to query by custom mapping types"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.2

#### Summary

Currently ODM does not support querying by any PHP object values, except `DateTimeInterface` and `ObjectId`, even if there are custom mapping types to convert this values to their DB representation.
This makes using of ODM pretty weird, when you can use your value objects in your docu

[2019-11-10 17:32] alcaeus commented on #2103
That is unfortunately known. I’ll put this on the roadmap, but can’t say when we’ll get to it.

[2019-11-10 19:06] petr-buchin commented on #2103
@alcaeus from what I see, this is pretty straightforward to add this feature. Actually, you can see my PR, which adds this feature at least for non-array values.

If you have any comments on that PR, I would be happy to fix it.

[2019-11-11 07:19] alcaeus commented on #2102
I'll have to take a look. That definitely wasn't an intended BC break, and if we can easily bring that back, I'd be happy to do so.

@Steveb-p do you want to cook up some test cases or even give the implementation a shot?

[2019-11-11 10:29] alcaeus opened #2105 "Replace generators with IteratorIterator in custom iterators"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | improvement
| RFC         | no
| BC Break    | no

#### Summary

The `HydratingIterator` and `CachingIterator` classes use generators to wrap the given traversable. As described in #2092 and fixed in #2100, this can leak memory if the iterator class is destroyed while the generator isn't exhausted completely.

`Iterato

[2019-11-11 17:34] Steveb-p commented on #2102
Yes, I'll try to work it out this week.

[2019-11-12 10:00] #2092 closed

[2019-11-12 11:12] TheHett opened #2106 "Ununitialized data in relation after merge entity"
### Bug Report

A certain set of actions can lead to null fields in related entity.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.1

#### Summary

This occurs when working with more than one DocumentManager`s.

#### Current behavior

#### How to reproduce

[code]

Where the `Upload` entity has `project` relation:
[code]

#### Expected behavior

Related data in

[2019-11-12 11:52] TheHett commented on #2106
Reproduce with one DM:

[code]

[2019-11-12 11:53] alcaeus opened #2107 "Upload methods for GridFS make unnecessary query"
(originally reported as https://jira.mongodb.org/browse/PHPLIB-486)

When using `DefaultGridFSRepository::uploadFromStream`, the repository class runs a proxy object for the GridFS file with the ID returned from `MongoDB\GridFS\Bucket::uploadFromStream`. This results in a database query when accessing the file proxy, which is unnecessary as the stream wrappers keep a copy of the document in memory

[2019-11-12 17:27] blakyris opened #2109 "First file will not be stored in GridFS if database does not exist"
I stored music tracks in GridFS and when I test my app I always delete the DB before trying a new upload of a song just to be sure the data I flush is correctly stored in DB
But when I upload the first file all the metadata and file chunks are stored but not the file ref in fs.file.
So my API is returning an error.

Here is my function that add a song in my DB :

[code]

**Dev environnment :**

Wi

[2019-11-12 19:03] malarzm commented on #2109
Transfering the issue to ODM repository as bug is about it, not the bundle itself.

[2019-11-13 12:00] #2106 closed

[2019-11-13 12:17] alcaeus commented on #2109
I've tried to reproduce this by removing the test database and running the test for `uploadFromFile` ([link to code](https://github.com/doctrine/mongodb-odm/blob/92e4514d9ec4928710edd0381da89fe7c1e9cbc5/tests/Doctrine/ODM/MongoDB/Tests/Repository/DefaultGridFSRepositoryTest.php#L167)). This worked as expected, with content being stored in both `fs.files` and `fs.chunks` collections, so the upload

[2019-11-14 10:04] Steveb-p opened #2113 "Query/Aggregate Builders no longer allow incremental results / always cache"
|    Q        |   A
|------------ | -----
| Version     | 2.0.2

### Support Question

In ODM 1.3 I was able to build and run queries with large result sets. This allowed me to process incoming data incrementally, by yielding data in generator.

In 2.0 with new Builders I've noticed that both builders wrap `Cursor` with `CachingIterator`, which causes high memory usage in such cases. I've hit my m

[2019-11-14 23:06] olvlvl commented on #1652
Hi,

We have this kind of documents, would they be supported by this feature?

[code]

[2019-11-15 03:39] alcaeus commented on #1652
Yes 😊

[2019-11-19 07:30] alcaeus commented on #2113
Ah, I see. We originally made the decision to wrap the MongoDB cursor in a `CachingIterator` instance to allow rewinding over the result set. I think adding an explicit way to disable the `CachingIterator` functionality should be possible for query and aggregation builders:

[code]

For the aggregation builder I'd have to think about where to put this option. I'm a bit vary of putting it on the ro

[2019-11-19 08:07] malarzm commented on #2113
FWIW I'd name the method `rewindable` or something alike. Cache might imply we finally implemented 2nd level cache for queries :)

[2019-11-19 08:18] alcaeus commented on #2113
Good point. Let's not call it `cache` ;)

[2019-11-19 09:22] Steveb-p commented on #2113
Gladly, however I've still got another issue I've reported here that I promised to take care of, so I don't want to promise more :) I'll try though. I'll say so here if I start doing anything about it :smile:

[2019-11-19 22:12] Steveb-p commented on #2113
I've looked into both `HydratingIterator` and `CachingIterator` and their behavior is a little different. By this I mean `HydratingIterator` does not cache it's results and does not allow re-iterating over the results. I've confirmed this by adding a test to `HydratingIteratorTest`:

[code]
which passes. This is in contrast to a similar test that is present for `CachingIterator`:
https://github.co

[2019-11-20 10:47] alcaeus commented on #2113
This is intentional. For a bit of context, let me elaborate on cursor in MongoDB. Server-side cursors are forward-only: once you have received a batch, there is no going back to the previous batch. Once the cursor is exhausted, i.e. the last batch of data has been sent, the cursor is closed on the server. In the legacy `ext-mongo` extension, this was hidden away in the `MongoCursor` class. When yo

[2019-11-20 21:57] Steveb-p commented on #2113
@alcaeus Thanks for the detailed explanation :+1: It perfectly answers my doubts regarding the reasoning of the change between previous major version.

I've read the usage of `HydratingIterator` wrong. I thought that it is returned immediately. I did not notice that practically always it is wrapped with `CachingIterator`. I expected that the memory issue would occur only when not hydrating results

[2019-11-21 14:21] blakyris commented on #2109
I don't know how to reproduce your case. I tryed to flush after adding the file and it doesn't solve the issue. I don't do checking with assert after inserting my documents because I don't want to do it now but I'm not sure it comes from that. (the only difference between the test code and my code.)

[2019-11-21 14:23] blakyris commented on #2109
And also I don't force Doctrine to set a filename, because I dont want one.
I'm doing a One-to-One relation between tracks and files.
My track contains A file.

[2019-11-21 14:27] blakyris commented on #2109
![image](https://user-images.githubusercontent.com/10896518/69346612-60060100-0c73-11ea-9431-4f45a4afb88f.png)

[2019-11-23 14:49] malarzm commented on #1835
I've started working on this but I need to have https://github.com/doctrine/mongodb-odm/pull/2118 merged first as I'm sure I'll have conflicts.

[2019-11-24 19:30] petr-buchin opened #2120 "Allowing version 5.0 for Symfony components"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

For now ODM users cannot update to a new major version of Symfony framework - `v5.0`, since odm's `composer.json` requires versions of a few symfony components, bumped to `^3.4` or `^4.1`.

We should update `composer.json` to allow version `^5.0` for this depende

[2019-11-25 15:34] rbaarsma opened #2122 "[deprecations] Create a DocumentManagerInterface to prevent deprecations on @interal"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes*
| Version     | 2.0.2
* but only for automated testing without deprecations, which breaks our CI.

#### Summary

Since updating to Symfony 4.4 I have this deprecation message in the automated tests:

The "Doctrine\ODM\MongoDB\DocumentManager::getClassMetadata()" method is considered internal Performance-sensitive metho

[2019-11-25 15:47] alcaeus commented on #2122
I don't think a method should be marked as "internal" because it's performance sensitive, especially when it uses a cache. I suggest removing the `@internal` designation instead. @malarzm @jmikola would you agree?

[2019-11-25 17:16] malarzm commented on #2122
Yes, TBH I'm surprised it's still there :D IIRC long time ago `@internal some comment` was meant for PHPDoc to exclude part of the comment from docs and I suppose it's just a remainder of that times.

[2019-11-25 19:43] alcaeus commented on #2122
#2123 removes the designations. We will still add an interface for the document manager, similar to `EntityManagerInterface` in ORM.

[2019-11-25 22:33] malarzm opened #2124 "Deprecate integer and boolean types"
And suggest to use `int` and `bool` instead. FTR I'm not sure if we should switch those types at runtime as somebody might have overridden built-in type (or is that too far fetched?)

[2019-11-26 13:39] Ludo444 commented on #1888
If somebody passes around this, it's pretty easy to implement with ODM 2.0 by passing session into `flush()` method `$options`

[code]

Ideally you can override `DocumentManager` and store session there.

[2019-11-26 13:44] alcaeus commented on #1888
I'll just note here that the above is not suggested: this will lead to the UnitOfWork assuming that all data was written successfully, while the `commitTransaction` call might still lead to errors. In that case, the UnitOfWork will be left in a very inconsistent state.

[2019-11-26 15:06] Ludo444 commented on #1888
Fair point, in my case it's used with `DEFERRED_EXPLICIT` policy and in case of any error I am persisting all documents again.

[2019-11-27 21:44] SenseException commented on #2120
Symfony 5 support was introduced in PR #2115. Thank you.

[2019-11-27 21:44] #2120 closed

[2019-11-28 13:01] sirian commented on #2113
+1 to this issue. As workaround I've implemented helper function, which unwrap caching iterator via reflection.

[code]

[2019-12-01 10:21] #2109 closed

[2019-12-01 10:48] blakyris opened #2129 "Files are not stored in GridFS if fs.files and fs.chunks are not created."
### Bug Report

Symfony version : 4.3
ODM Version : latest
MongoDB : latest
OS : WIndows 10 or Linux
PHP : 7.2 / 7.3
PHP MongoDB Driver : 1.6

#### Summary

I'm storing a music collection in a Symfony project using MongoDB GridFS. I always delete database to be sure everything OK in my test env.
I'm using MongoDB latest on Windows and Ubuntu (both native, not VM nor Docker or WSL...).
MongoDB is a

[2019-12-01 10:53] malarzm commented on #2129
@blakyris how is this different from #2109?

[2019-12-01 11:19] blakyris commented on #2129
I've done some test to be sure it was a bug and I would like to be more precise on the behavior and what is the bug exactly.

[2019-12-01 12:39] malarzm commented on #2129
Would you be able to write a functional test in ODM [like this one](https://github.com/doctrine/mongodb-odm/blob/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH1964Test.php)? This would greatly speed things up for us.

[2019-12-01 13:01] alcaeus commented on #2129
@blakyris In the future, don’t open a new report for the same issue. I previously asked you to create a reproducer because I could not reproduce the issue in tests, and you haven’t done so yet. Until you do, there’s nothing we can do here or in any other ticket you create.

[2019-12-01 14:00] blakyris commented on #2129
Ok I will make some tests for you to reproduce the issue.

[2019-12-02 20:33] binary-data commented on #1583
@TomCan Thanks! Set Hydrators directory to /tmp (outside of a shared folder) on Virtualbox VM and the error was gone!

[2019-12-04 13:17] olvlvl opened #2132 "Proxy generation and autoloading"
|    Q        |   A
|------------ | -----
| Version     | 2.0

### Support Question

I originally created this issue over here: https://github.com/Ocramius/ProxyManager/issues/531.

We recently upgraded  to `mongodb-odm` v2 and we're facing an issue with the proxy generation. You see, we generate the hydrators and proxies before building our docker images, and the _cache_ folder is readonly after

[2019-12-04 13:22] alcaeus commented on #2132
Do you use DoctrineMongoDBBundle for Symfony or do you configure ODM yourself? If you use Symfony and the bundle, you can change this by updating the proxy generation strategy to not auto-generate proxies. This will register an autoloader for proxies in the bundle: https://github.com/doctrine/DoctrineMongoDBBundle/blob/master/DoctrineMongoDBBundle.php#L63..L70.

Then, you can pair this with the `d

[2019-12-04 13:44] olvlvl commented on #2132
We don't use Symfony, we configure the ODM ourselves, and we use [this package](https://github.com/olvlvl/doctrine-generators) to generate the hydrators and the proxies. I'll have a look at `odm:generate:proxies`, but are you suggesting we should register an additional autoloader for the proxies? We're not doing anything special for the hydrators, and the proxies used to work fine. Would you be so

[2019-12-04 13:50] alcaeus commented on #2132
Hydrators and Proxies work significantly different: Hydrators are required manually, while the proxy manager depends on an autoloader. It's just a different concept of dealing with generated code.

The [Setup documentation](https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.0/reference/introduction.html#setup) has a section on how to configure proxies, along with a message (typo i

[2019-12-04 14:40] olvlvl commented on #2132
Thank you very much @alcaeus, this is much simpler. I'll have a look at these commands.

[2019-12-04 16:49] #2132 closed

[2019-12-07 15:06] malarzm commented on #2099
This is weird, I see the link in https://github.com/doctrine/mongodb-odm/blob/2e1d0bfd4b325449030c0bfde2ebd273cefba10a/docs/en/sidebar.rst but not on the website

[2019-12-08 23:25] SenseException commented on #2099
Maybe there's something wrong with the page itself or the rst build. This needs further investigations.

[2019-12-08 23:31] SenseException commented on #2101
I assume this part of the docs is meant: https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/latest/reference/custom-mapping-types.html

Do we need to target a specific branch for the extended information?

[2019-12-09 07:44] alcaeus commented on #2101
This can be added to the lowest supported branch, which at the moment would be 1.3.x.

[2019-12-09 09:29] TheHett opened #2134 "Incorrect `persist` method behavior"
It's normal that I can pass `managed` document to another `DocumentManager`?
As I understand it, the `persist` method should only accept new documents?

Next code works fine:
[code]

[2019-12-09 11:53] alcaeus commented on #2134
The two object managers don't know each others' documents, so while `$fo1` is managed in `$dm1`, `$dm2` sees it as unmanaged entity. Even then, `persist` also accepts already managed documents and is used in explicit change tracking strategies to mark objects for update.

[2019-12-11 20:08] malarzm commented on #2102
Bad bot!

[2019-12-12 06:07] alcaeus commented on #2102
@malarzm putting the issue into a project (e.g. the Roadmap) keeps the bot away :)

[2019-12-12 08:38] Steveb-p commented on #2102
I like the stale bot though. It exists as a constant reminder of my failure to deliver promises and things I forgot about :smiley_cat:

[2019-12-12 08:45] alcaeus commented on #2102
@Steveb-p I'm glad you like it - I always appreciate it reminding me about issues and PRs that I forgot to follow up on :)=

[2019-12-12 09:56] TheHett commented on #2134
hmm, I thought the proxy contains information about this.
Is it normal that programmers use `persist` to translate an entity state into `managed` from one DM to another?

[2019-12-12 10:04] alcaeus commented on #2134
No, but we have no way of preventing this.

[2019-12-12 11:51] TheHett commented on #2134
Code must lock like this, right ?

[code]

[2019-12-13 10:31] binary-data opened #2136 "Annotation Driver deprecation error after doctrine/persistence upgrade to 1.3.2"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.3

#### Summary

I ran ```composer update``` and I see that ```doctrine/persistence``` was updated to version **1.3.2** just recently. And without any changes to my code I see an exception:
[code]

I was using the Annotation Driver. Here is a code snippet:

[code]

**As a workaround**, I manually ins

[2019-12-13 15:41] alcaeus commented on #2136
If you see an exception for a deprecation error, please reconsider whatever tool you are using to convert PHP warnings into exceptions: a warning should never cause an exception to be thrown.

That said, we'll update ODM to work with persistence 1.3 soon. Until then, either use 1.2 or apply the solution above.

[2019-12-13 15:41] #2136 closed

[2019-12-14 13:41] #2040 closed

[2019-12-14 17:38] petr-buchin opened #2137 "Allow typed collection mapping"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Do you have plans on allowing typed collections mapping?
I would like to have something like

[code]

[2019-12-14 21:22] malarzm commented on #2137
What's the use case? The `collection` field can already hold scalars and for objects there's an `@EmbedMany`?

[2019-12-14 22:44] petr-buchin commented on #2137
@malarzm for example I have my custom mapping type, let's say it's `Username` class, which is an object in my PHP code, and should be represented as a string in MongoDB.

And for example I want to have a field `usernames`, which should be an array of `Username` instances on PHP level, and should be stored as a list of strings in a MongoDB.

How do I implement that, without implementing some mappin

[2019-12-14 23:18] malarzm commented on #2137
Indeed it might make sense 👍 IIRC we wanted to keep `collection` and `hash` a simple arrays but maybe we should allow setting an inner type. Would you like to take a shot at implementing this?

[2019-12-14 23:46] Steveb-p commented on #2137
This behavior can however be easily achieved by using `PostLoad` event for loading and filling up the collection/array with object instances, and `PreFlush` for saving them back to database. I'm not sure such a use case warrants creating a special case for it in Doctrine ODM, unless it doesn't affect complexity too much.

[2019-12-15 00:55] petr-buchin commented on #2137
@Steveb-p actually **Domain-Driven Design** methodology, which is widely used today, suggests to use ValueObjects for any scalar value you have in your app. `Username` example above is just one simple example of a value object class.

So I think my use case is not something very special, since there are many people who used **DDD** methodology, thus I believe that enabling ODM to be used with DDD

[2019-12-15 01:01] petr-buchin commented on #2137
@malarzm yeah, I can do that.
Just wanna ensure that we are on the same page:

I think it's a bad idea to add `itemType` property to the `Field` annotation class, since this property will be shown by the IDEs for every field. Instead, I think it's better to create new annotation `Collection`, which will have `itemType` property.

Having that said, how do you think, is it a good idea to implement n

[2019-12-15 10:20] malarzm commented on #2137
@Steveb-p but if you change the values on `PreFlush` to strings then you'll need to change it back again on `PostFlush` - that seems like a lot of hassle and is error prone as there might be an exception during flush and you'll end up with strings instead of objects. Also I believe adding Type conversion will not add a lot of complexity to the ODM.

Ah that's reminding me why we haven't done this

[2019-12-16 07:49] binary-data commented on #2136
@alcaeus Thanks, this was the case.

[2019-12-17 07:56] alcaeus commented on #2137
I've put this on the roadmap and we'll be discussing this in our hangout tonight - I'll post an update afterwards.

I remember us wanting to make some changes to collections and hashes in general (e.g. allowing to use `Collection` instances for them instead of only plain arrays), so this might could be a good step towards a better implementation for that.

[2019-12-17 13:30] AronSzigetvari opened #2138 "1.3.0 is declared to work in ^5.6 || ^7.0 composer.json but uses PHP 7 feature"
### BC Break Report

After updating from 1.2, on php 5.6.40 the following error occurred:
Doctrine\ODM\MongoDB\Mapping\MappingException::__construct() must be an instance of Throwable, instance of ReflectionException given

Composer updated to this version because composer.json contains:
[code]

However, `Throwable` is a PHP 7 feature, so either PHP 5.6 or Throwable should be removed.

|    Q

[2019-12-17 13:41] malarzm commented on #2138
@AronSzigetvari do you want to write a PR fixing this? Removing type (or making it same as exception in 5.6) should be sufficient

[2019-12-17 19:11] alcaeus commented on #2138
Fixed in #2139.

[2019-12-17 19:11] #2138 closed

[2019-12-17 19:23] malarzm opened #2140 "Extract Versionable interface for types"
Following in the footsteps of https://github.com/doctrine/mongodb-odm/pull/2128 which provided `Incrementable` interface for types.

[2019-12-23 14:43] webdevilopers commented on #1674
We currently switch to *2.0*. If I see this correctly than it is still no possible to map the Mongo internal ObjectId Field "_id" to a different property on our model than `$id`? We would prefer e.g. `$surrogateId` and use `$id` for our real Domain Model ID instead of e.g. `employeeId`.

[2019-12-23 17:54] webdevilopers commented on #1674
I will have to correct myself on the last comment. Indeed our solution on order to keep the domain model clean and stay with our internal "$id" property we can do this:

[code]

[2019-12-23 18:41] mstaack commented on #1959
@alcaeus
was wondering what is a good approach to add a somehow simliar logging functionality in 2.x .
any hints?

thank you

[2019-12-24 13:38] webdevilopers opened #2141 "Custom repository class on GridFS File XML mapping is not used"
|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.3

While migrating to v*2* we are changing the mapping for files to the new GridFS usage.

[code]

But when checking the class for the used repository the custom repository is not used:

[code]

Possibly related:
* https://github.com/doctrine/mongodb-odm/pull/1790

Came from:
* https://twitter.com/webdevilopers/statu

[2019-12-24 13:54] webdevilopers commented on #2141
This seems to be an issue with the XML mapping.
I tried setting the metadata manually according to the tests and it worked.

[code]

* https://github.com/doctrine/mongodb-odm/blob/master/tests/Doctrine/ODM/MongoDB/Tests/Mapping/ClassMetadataTest.php#L51

[2019-12-24 14:40] webdevilopers opened #2142 "How to reference manually uploaded GridJS files?"
|    Q        |   A
|------------ | -----
| Version     | 2.0.3

With v*2* handling GridJS files has changed. They have to be manually uploaded via their own repository and can return a proxy when the upload was successful.

* https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.0/reference/storing-files-with-gridfs.html#inserting-files-into-gridfs-buckets

We are currently migratin

[2020-01-02 14:53] Steveb-p opened #2144 "Allow renaming of Collections"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

I'm working on a service that is responsible for downloading and inserting data into a MongoDB database. To prevent downtime I wanted to rename collections at the of a relatively long-running operation, since I cannot simply upsert data.

I've looked into MongoD

[2020-01-02 18:40] webdevilopers commented on #2142
If I understand this correctly then we upload the file `FooImage`, take the proxy, and set it on the original document `Foo`. Everything else should work as expected?

[2020-01-02 19:06] webdevilopers commented on #2142
I was able to get it working. My collection still had documents with an (L)UUID. For some reasons these could no longer be updated. I made several changes to the mapping until we decided to switch away from UUIDs totally.

I replaced the (L)UUID with a ObjectId() and then everything worked as expected.

[2020-01-02 19:06] #2142 closed

[2020-01-03 13:31] mstaack commented on #1959
whats the preferred approach now for logging?

[2020-01-03 16:22] webdevilopers opened #2145 "Metadata stored, queried but not populated"
|    Q        |   A
|------------ | ------
| Version     | 2.0.3

I added metadata as an embedded document:

[code]

[code]

The metadata is stored in the collection. I can also query for it:

[code]

But the Document property is not populated. Other properties e.g. `chunkSize` or `uploadDate` work correctly.

Possibly related to:
* https://github.com/doctrine/mongodb-odm/issues/2141
* https://git

[2020-01-06 19:06] malarzm commented on #2144
I'll leave decision here to @alcaeus as he might have some plan on whether we'll help helpers here in ODM or rather should have them in the mongo lib itself :)

[2020-01-06 19:10] malarzm commented on #2145
@webdevilopers is this bug specific to the XML mapping? Any chance you could write a failing test case?

[2020-01-07 08:57] webdevilopers commented on #2145
Are there any exiting tests for XML mapping that could help me getting started?

[2020-01-07 09:32] malarzm commented on #2145
Here is test: https://github.com/doctrine/mongodb-odm/blob/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH774Test.php and here are mappings: https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH774 :)

[2020-01-07 11:32] webdevilopers commented on #2145
Ok, GH123 stands for Github and number of issue I guess.
I will return to that project next week. I will give it a try then! :)

[2020-01-07 11:45] malarzm commented on #2145
Correct :)

[2020-01-07 14:37] #2129 closed

[2020-01-08 08:34] alcaeus commented on #2141
Thanks for the report. This will be fixed in 2.0.4.

[2020-01-08 08:49] alcaeus commented on #2145
I changed the mapping driver tests to use a different field name (by changing the property name for annotations and the `field-name` property for XML mappings), and the resulting mapping file is the same. This eliminates the XML mapping driver as the culprit (which was the case in #2141). Given that, we can assume that the `DefaultGridFSRepositoryTest` tests apply to XML mappings as well, even tho

[2020-01-08 09:01] alcaeus commented on #2144
While ODM 1.x used to have its own `Database` and `Collection` classes through the `doctrine/mongodb` library, this is no longer the case in 2.x. We are now using the `mongodb/mongodb` library to interact with the MongoDB server, which currently does not provide a `rename` method on the collection object. I've created [PHPLIB-518](https://jira.mongodb.org/browse/PHPLIB-518) to track this issue and

[2020-01-08 09:01] #2144 closed

[2020-01-08 09:34] alcaeus commented on #1959
The [APM features of the MongoDB driver](https://www.php.net/manual/en/mongodb.tutorial.apm.php) should be used to log commands that are run. The Symfony bundle for MongoDB ODM already incorporates this into the Symfony profiler. If not using Symfony, you can use the [`Doctrine\ODM\MongoDB\APM\CommandLogger`](https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/APM/CommandL

[2020-01-08 10:05] alcaeus commented on #2141
Fixed in #2146.

[2020-01-08 10:05] #2141 closed

[2020-01-09 13:45] rbaarsma opened #2147 "doctrine:mongo:schema:update creates the same index again and again"
### Bug Report

Every time I run `doctrine:mongo:schema:update` it creates the same index again. On production this takes 6 minutes, resources and probably locks the collection. It should not recreate the index again after it's initial creation.

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.3
| MongoDB version     | 4.0.14  (hosted on cloud.mongodb.com on M10 s

[2020-01-10 13:06] alcaeus opened #2149 "UUID generator doesn't work with binary UUID types"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.3

#### Summary

Given an identifier using `strategy="uuid"` and `type="bin_uuid"` or `type="bin_uuid_rfc4122"`, an error occurs when trying to store data:

#### Expected behavior

The UUID generator should be able to generate UUIDs for consumption with the binary BSON types for UUIDs.

[2020-01-10 13:42] alcaeus commented on #2147
Fixed in #2148.

[2020-01-10 13:42] #2147 closed

[2020-01-11 12:36] #2134 closed

[2020-01-13 15:16] webdevilopers commented on #2145
I just returned to the project. When we tested the first time we had a "mimeType" field inside the metadata. This has now changed to "contentType" and the issue no longer exists.
We didn't anything else so I can only guess that there was mismatch with the mapping.

Everything seems to work as expected now. :+1:

[2020-01-13 15:16] #2145 closed

[2020-01-13 15:53] alcaeus commented on #2145
That’s good to know, thanks for the update!

[2020-01-14 10:35] bizley opened #2154 "Fatal error when upgrading to 2.0.4"
### BC Break Report

When executing `cache:clear` after `composer update` there is PHP fatal error.

[code]

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.4

Package `mongodb-odm` is provided through `doctrine/mongodb-odm-bundle` (^4.0).
Adding fixed `"doctrine/mongodb-odm": "2.0.3"` to composer as a temporary fix does the trick.

[2020-01-14 11:11] malarzm commented on #2154
@greg0ire could this be related to https://github.com/doctrine/mongodb-odm/pull/2150?

[2020-01-14 11:12] greg0ire commented on #2154
Uh yes, definitely, let me check

[2020-01-14 11:14] greg0ire commented on #2154
`Doctrine\ORM\MappingClassMetadataFactory`

Wait what?

[2020-01-14 11:17] bizley commented on #2154
Yea, I know. But `mongodb-odm` update triggers this. Not sure what is going on here but I'm happy to provide all the info you need.

[2020-01-14 11:18] malarzm commented on #2154
@bizley are you using ODM and ORM at the same time?

[2020-01-14 11:18] bizley commented on #2154
Yes.

[2020-01-14 11:29] greg0ire commented on #2154
Can you check which version of Doctrine persistence you use? I fear it misses yet another autoload call

[2020-01-14 11:35] bizley commented on #2154
1.3.4.

[2020-01-14 12:47] alcaeus commented on #2154
Meh, that’s a shame.

[2020-01-14 13:08] alcaeus commented on #2154
I believe we need to revisit the compat layer and namespace move entirely

[2020-01-14 13:23] greg0ire commented on #2154
@alcaeus not so fast, I think I found a mistake here: https://github.com/doctrine/persistence/blob/1.3.x/lib/Doctrine/Persistence/Mapping/ReflectionService.php#L74

[2020-01-14 13:58] bizley commented on #2154
Yup, changing line 74 to
[code]
fixed it. Or at least clearing the cache

[2020-01-14 13:59] greg0ire commented on #2154
I will make a PR tonight with that change, unless you beat me to it. I will also check other files in the project, and then make a release of `doctrine/persistence`. That should fix it. Sorry for this.

[2020-01-22 13:52] Ludo444 opened #2157 "DiscriminatorMap is breaking Facet Aggregation Builders"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.2

#### Summary

If there is a `Doctrine\ODM\MongoDB\Aggregation\Stage\Facet` used on a pipeline with document using `DiscriminatorMap`, when calling `getPipeline()` method inside `Facet`, it prepends the pipeline with filtering `$match` step that queries `DiscriminatorField`. This filtering may fail

[2020-01-22 18:21] malarzm commented on #2157
@Ludo444 thanks for the report! Could you maybe create a PR with a failing test case? If you don't feel like diving too much into our tests, a functional one [like one of these](https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket) will suffice.

[2020-01-22 18:38] Ludo444 commented on #2157
@malarzm hopefully i can look to it sometime this week

[2020-01-28 18:15] Ludo444 commented on #2157
I created PR with test case and possible fix. Not sure if it's the most elegant solution but it seems to solve the problem fine.

[2020-01-28 18:36] malarzm commented on #2157
@Ludo444 thank you very much! I've asked Andreas to take a look there :)

[2020-01-29 15:03] josefsabl opened #2161 "Fix typed property without default value support"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.0.5

#### Summary

We are having same (or similar) issue described in this [issue](https://github.com/doctrine/orm/issues/7854) and [PR](https://github.com/doctrine/orm/pull/7857) on ORM albeit with Mongo ODM although the doctrine/persistence is on 1.3.6.

Aside from embedded documents, we get the `Erro

[2020-02-07 09:41] TheHett opened #2162 "Memory leak when useing embedded documents"
### Bug Report
| Version     | 2.0.3

#### Summary

I ran into a memory leak and it occurs when using `EmbedMany` annotation.

[code]

[code]

[code]

The problem occurs event when used `$dm->clear()` instead of `$dm->detach($e)`

**UPD: HERE I PROVIDED TEST** https://github.com/doctrine/mongodb-odm/issues/2162#issuecomment-584599533

example of my script output:

[code]

[2020-02-07 10:38] malarzm commented on #2162
Probably detach is not unsetting embedded documents' own identity map. Theoretically it'll be easy to fix unless we did that specifically because of `spl_object_id` collisions.

[2020-02-07 10:55] Steveb-p commented on #2162
@malarzm Isn't it related to `QueryBuilder` caching results?

[2020-02-07 12:31] malarzm commented on #2162
could be, I'm replying from the top of my head :)

[2020-02-07 13:07] alcaeus commented on #2162
QueryBuilder does not cache results, as it doesn't even have any. Results are only stored in UnitOfWork through identity map. However, detach operations cascade for embedded relationships, so that every embedded document is properly detached. I was also able to reproduce this in a test.

@TheHett are there any other relationships (maybe references) that aren't detached? The continuously increasing

[2020-02-07 13:08] Steveb-p commented on #2162
I can see `CachingIterator` in the provided stacktrace, which has caching in it.

[2020-02-07 13:16] TheHett commented on #2162
Yes, but i tried to remove different field, and made sure that this is field `$hashes4`
In addition, this can be seen in the rapid increase of memory consumption (the field `$hashes4` contains very large array of bin data)

[2020-02-07 13:23] Steveb-p commented on #2162
@TheHett try applying code changes from this PR #2116

[2020-02-07 13:39] alcaeus commented on #2162
That is due to the Query class itself, not the builder. The builder only assembles the query array and passes it on to the query object when you run `getQuery()`. Semantic difference, but important nonetheless.

[2020-02-07 13:50] Steveb-p commented on #2162
Sorry :crying_cat_face:, I meant `Query` class.

Anyway, I'm practically sure that the `CachingIterator` is at fault here. Applying fix from the PR and setting `Query` as `->rewindable(true)` should help.

[2020-02-07 13:53] alcaeus commented on #2162
Yep, CachingIterator may very well be the culprit. 😢
Detaching entities works as expected, but there's an additional reference stored in the iterator instance, so it's never garbage collected. Still, doesn't explain why the UoW size keeps growing 🤔

[2020-02-07 13:54] Steveb-p commented on #2162
I was wondering as well. Maybe embedded documents are still kept, even if parent was detached :thinking: ? I was sure there were some tests that covered this though (don't have time to look for it atm).

[2020-02-07 14:00] alcaeus commented on #2162
I explicitly tested that:
[code]

Test passes successfully.

[2020-02-07 14:29] TheHett commented on #2162
@Steveb-p  ok, I can only do it tomorrow at the office

[2020-02-07 14:31] TheHett commented on #2162
@alcaeus in my case the memory wasn`t released even I called `$dm->clear()` on each iteration.

[2020-02-10 05:40] TheHett commented on #2162
[code]

@Steveb-p It did not help, same problem.

[2020-02-10 06:56] TheHett commented on #2162
The next configuration works fine (no leaks):
[code]
The next falls (with memory limit exception):
[code]

[2020-02-10 07:36] alcaeus commented on #2162
Ok. I'll see how we can fix this in 2.0 as the new API will require a new minor release. Until then we'll document the behaviour a bit better. Weak references in PHP can't come soon enough 😅

[2020-02-10 07:51] Steveb-p commented on #2162
Sorry, setting rewindable to `false` is the setting that disables caching for cursor. Rewindable = `true` is current behavior.

[2020-02-10 09:16] TheHett commented on #2162
@Steveb-p yes, i understood that this is a typo (I looked at the code). It really solvers the problem only when hydration is disabled. Maybe there are two problems...

[2020-02-10 09:19] TheHett commented on #2162
Maybe I didn’t put it right, but the problem persists in any rewindable position, if hydration is turned on. No problems only when rewindable and hydration both disabled.

[2020-02-10 09:32] Steveb-p commented on #2162
@TheHett try also setting the read-only option (`QueryBuilder::readOnly`). This should prevent objects from being put into `UnitOfWork`.

[2020-02-10 09:55] TheHett commented on #2162
@Steveb-p

Works
[code]
Falls
[code]

[2020-02-10 09:57] alcaeus commented on #2162
@TheHett you could inspect the unit of work after the first detach call to see what entities are still managed. Rewindable will create an additional reference which prevents freeing memory, but the UoW size should definitely be 0 after you call detach.

[2020-02-10 10:13] TheHett commented on #2162
@alcaeus Now with `readOnly` setting UoW is empty, but memory comsumption is growing.
The next screen done after 90 iterations:
![image](https://user-images.githubusercontent.com/946246/74140930-97f46300-4c28-11ea-8cae-509d878f007d.png)

It is really to inspect where is all memory using xdebug?

[2020-02-10 10:48] Steveb-p commented on #2162
In the screenshot provided we can see that you have 7 `FileKeyframesHash` objects stored in memory and 4 `FilterCollection`s. Could you see if they cross-reference each other?

[2020-02-10 11:02] TheHett commented on #2162
@Steveb-p  it is not arrays, `$e` - is one entity with 7 fields.
![image](https://user-images.githubusercontent.com/946246/74144506-6f239c00-4c2f-11ea-9ae2-c858e733761a.png)

[2020-02-11 10:11] rbaarsma opened #2163 "Check index integrity"
### Feature Request

I recently had an issue, caused by an UniqueIndex annotation on a field that did not exist.

Is there any way we can check the indexes or perhaps fail schema:update when they are invalid?

I had this mapping
[code]

And the field $streamCode did not exist (it was renamed to $code).
But the index was created without any problems..

|    Q        |   A
|------------ | ------
| N

[2020-02-11 10:33] alcaeus commented on #2163
Whenever ODM reads field names from mapping, we silently fall back to using the provided name where possible. This is the case for queries or schema operations. In this case, we can't find a field named `streamCode`, so we'll fall back to using that as literal name in case you're dealing with an unmapped field. Given the flexibility in schema design for MongoDB this is the best way to handle such

[2020-02-11 10:39] rbaarsma commented on #2163
Okay I have no idea as to the impact. It's more of a nice-to-have feature that prevents problems downstream. As you noted on slack once to me: mongodb is not schemaless and especially because we use doctrine ODM, we are expecting a schema. That we silently fall back on literals is never my intention, although there's probably use-cases for it.

Thanks for the quick reaction. I still think a strict

[2020-02-11 11:51] TheHett commented on #2162
I tried to make test that shows leak
[code]

I have next result:

[code]
It shows that memory consumption strongly grows when we iterate holding existed data and.

[2020-02-11 11:52] TheHett commented on #2162
If we comment line ```$iterator = $bar->getLocations()->getIterator();``` then no problem.

[2020-02-11 12:03] Steveb-p commented on #2162
Then it seems initializing `PersistentCollection` causes memory leak?

[2020-02-11 13:14] alcaeus commented on #2162
Thanks for providing the test case. I'll take a deeper look at it later.

[2020-02-15 23:46] SzymonB opened #2165 "How to install doctrine/mongodb-odm on symfony 4.2 (windows)?"
Hi there,

I'm trying to install mongodb-odm but with no result.

`λ composer require doctrine/mongodb-odm-bundle
Using version ^4.1 for doctrine/mongodb-odm-bundle
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Restricting packages listed in "symfony/symfony" to "4.2.*"
Your requirements could not be resolved t

[2020-02-16 09:14] Steveb-p commented on #2165
As my colleague once said: "Read the error" :)

There you have it. You're using a Symfony version (lower) that is no longer supported by `doctrine/mongodb-odm-bundle` you're asking for. Either upgrade Symfony or use one of the earlier bundle versions.

[2020-02-16 09:29] #2165 closed

[2020-02-24 08:21] alcaeus commented on #2071
The deprecation has been reverted in MongoDB, so I'm closing this.

[2020-02-24 08:21] #2071 closed

[2020-03-12 13:01] alcaeus commented on #2163
Closing here, I don't think this is an idea worth exploring at this time. Please bring the issue up again in a little while if the use-case is still there. Thanks!

[2020-03-12 13:01] #2163 closed

[2020-03-20 08:35] robert0770 opened #2168 "Bad structure document type file from old mongoDB to new"
we update, our mongoDB and doctrinemongo, but now other fileds in document type file must be stored in metadata when we use "uploadFromFile" function but my database collection "offerPhotos.files" has fields like this:

how to fix it?

when now i set metadata offerId and others this is store like this:

[2020-03-20 10:22] malarzm commented on #2168
@robert0770 there's no automated way to fix this. As per [upgrade notes](https://github.com/doctrine/mongodb-odm/blob/master/UPGRADE-2.0.md#gridfs) you need to manually migrate the data.

[2020-03-20 10:22] #2168 closed

[2020-03-21 05:55] jcaillot commented on #1769
my 55 cents :

[code]

[2020-03-21 16:00] lcavero opened #2169 "Bidirectional one-to-many don't save relation in both sides"
|    Q        |   A
|------------ | -----
| Version     | 2.0.5

### Support Question

Hi, I have a simple one-to-many relationship

<pre><code>
/**
 * Class ProductType
 * @package App\Document\Product
 * @MongoDB\Document()
 */
class ProductType
{
    /**
     * @var string
     * @MongoDB\Id
     */
    public $id;

    /**
     * @var ProductSubType[]|Collection
     * @MongoDB\ReferenceMany(t

[2020-03-21 16:18] malarzm commented on #2169
The reference will exist on both sides once you load your documents from the database. Before that you must link the objects yourself.

[2020-03-21 16:18] #2169 closed

[2020-03-22 13:03] tehplague commented on #2161
Change `\Doctrine\ODM\MongoDB\Mapping\ClassMetadata::getIdentifierValue()` into:

[code]

[2020-03-22 20:08] malarzm commented on #2161
@tehplague @josefsabl if one of you have a moment please open a PR with test case, that'd be much appreciated!

[2020-03-23 12:06] alcaeus commented on #2168
Note that this is as easy as submitting a single `update`:
[code]

Then, move all those properties into an embedded document and use it as `metadata` mapped field in the file.

[2020-03-23 22:39] VincentLanglet opened #2170 "How to reset/get a part of the query ?"
### Support Question

`doctrine/orm` Querybuilder provide the `getDQLpart` and `resetDQLpart` functions.

I found the `debug` function in the `mongodb-odm` ; in my use case, this could be use to get the sort part of my query, but I don't feel like this function is intended to be used in production.
Plus I found no way to reset a part of my query.

Am I missing something or some `getQueryPart` and

[2020-03-24 21:25] MLDMoritz commented on #2161
This happens with postgres too.

[2020-03-24 21:34] MLDMoritz commented on #2161
This happens on postgres too, so it's probably another problem.

[2020-03-24 22:04] malarzm commented on #2161
@MLDMoritz how this happening on Postgres is relevant for ODM and MongoDB?

[2020-03-24 22:55] MLDMoritz commented on #2161
There is probably a more underlying issue, as this seems to happen on odm and orm.

[2020-03-25 07:48] tehplague commented on #2161
@MLDMoritz If you compare my snippet from above with the current body of said function you will see what kind of an issue there is. Both ODM and ORM implement the same `ClassMetadata` interface and both implementations need to be changed to account for typed properties.

[2020-03-30 13:32] nkanzari commented on #2039
Running into kind of a same problem here. In my case I don't have a project stage, I have a lookup and match stage. It works with ODM 1.x but not with 2.x. Here part of the code:

[code]

[2020-03-31 11:01] anyx opened #2173 "Priming fields for aggregation query builder"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

Looks like right now there is no way to use fields priming for aggregation queries (with hydration enabled). It would be nice feature, I think. Or it's possible somehow?

[2020-03-31 11:12] alcaeus commented on #2173
What is your use-case? Priming was added since there's no way to use joins in queries. For aggregation pipelines, the `$lookup` operator provides this functionality, so I'd recommend you use that whenever you know that you're going to need referenced documents.

I'll also add that if you find yourself in the need to prime references to avoid n+1 problems, your schema might need improving, as the r

[2020-03-31 11:55] anyx commented on #2173
Use-case pretty common, I think: for example, I need to calculate some statistic data per user (or just `$project` document to different format) and return collection of these elements like a regular document's collection with avoiding n+1 situations.

I never use hydration for aggregation query builder's before and always done it manually. I thought, since there a way to hydrate my aggregation re

[2020-03-31 14:51] alcaeus commented on #2173
In this case, you'd `$lookup` your reference and map it as `@EmbedOne` or `@EmbedMany` in the aggregation result document. This negates the need for lookup as the "priming" will be performed in the original aggregation pipeline.

[2020-03-31 15:31] anyx commented on #2173
@alcaeus ok, thank you for advice!

[2020-03-31 16:08] robert0770 opened #2174 "Querybuilder return always only one document"
when im use

return 101 documents...

return 1 document...

why?

[2020-03-31 16:26] TomHAnderson commented on #2174
ORM uses `getResult()`  Does that function exist in ODM?

[2020-03-31 17:00] jcaillot commented on #2174
Doctrine\ODM\MongoDB\Query\Query::Execute will return an iterator object that wraps a Mongo Cursor and only caches a (Proxied version of) the first item. One need to traverse it in order to get the results. Try :

`$qb->getQuery()->execute()->toArray()`

[2020-04-01 07:40] robert0770 commented on #2174
toArray works, thanks

[2020-04-01 08:38] #2174 closed

[2020-04-01 15:51] #1925 closed

[2020-04-05 17:32] serieznyi commented on #2162
Maybe is problem in `CacheIterator`?
I use `\Doctrine\ODM\MongoDB\Aggregation\Builder` and try iterate over big portion data.
How I see `CacheIterator` on every step get item from wrapped iterator and store in own variable. If you iterate over, for example 5000 objects, then they all stay in memory and you cant delete this objects until program is done.

[2020-04-05 18:27] serieznyi commented on #2162
I little change test of @TheHett and what I got

Also I change access modifier for `\Doctrine\ODM\MongoDB\Iterator\CachingIterator::getIterator` from private on public for test him

<details>
<summary>Test</summary>
<p>

[code]

</p>
</details>

Result

[code]

[2020-04-11 21:47] Cypaubr opened #2176 "Deleting referencing documents?"
### Support Question

I have two documents, one is referencing the other like that:

The User class:
[code]

And the Account class:
[code]
An User can have multiple Accounts for multiple Business (but an user can not have 2 accounts for the same business).

When I delete the User, the Account(s) remains in the database which causes error in Sonata (for example).

How can I make it to delete the Ac

[2020-04-11 22:01] malarzm commented on #2176
Please read available documentation before opening a support ticket: https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.0/reference/reference-mapping.html#cascading-operations

[2020-04-11 22:01] #2176 closed

[2020-04-12 00:41] Cypaubr commented on #2176
@malarzm Thanks for your useful support but cascading operations don't work.

[2020-04-13 09:35] malarzm commented on #2176
Please open a PR with a failing test case demonstrating how exactly cascading is not working. You can base your test on our [functional tests](https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket)

[2020-04-13 21:01] g13013 commented on #1425
is there any clean workaround to this issue ?

[2020-04-15 11:11] alcaeus commented on #1425
@g13013 if you are not relying on `$setOnInsert`, then assigning an identifier when the entity is created will work to force an upsert. If you want to use `$setOnInsert`, you'll have to insert data manually using the query builder.

[2020-04-15 19:00] g13013 commented on #1425
@alcaeus I fixed the issue using the @PrePersist @PreUpdate hooks by calling the generator manually

[2020-04-21 17:10] malarzm commented on #1975
Closing as #2118 was merged

[2020-04-21 17:10] #1975 closed

[2020-04-23 13:53] VincentLanglet commented on #2170
These functions are still needed

[2020-04-23 15:01] malarzm commented on #2170
@VincentLanglet mind making a PR? We're trying to wrap up 2.1 finally and for sure won't have time in foreseeable future to take care of this idea ourselves. Happy to chat on our Slack if you'd need anything tho.

[2020-04-23 15:21] VincentLanglet commented on #2170
I may try when I'll find time. But I've just posted a message to avoid this issue to be closed by the bot.

[2020-04-24 12:40] EmilSabitov commented on #262
@jmikola , do you can give me link for this solution please?

[2020-04-27 07:18] g13013 opened #2178 "customCollection on load"
|    Q        |   A
|------------ | -----
| Version     | 2.0.5

### Support Question
I have implemented a custom collection for a field that extends from ArrayCollection

[code]

The save operation works without problem, however, when trying to load the saved entity, the `collection` field loads with `ArrayCollection` instead of `MyCollection`, this makes calls to `MyCollection::customFunction` f

[2020-04-27 10:47] alcaeus commented on #262
@EmilSabitov you're commenting on a 8-year old issue. Please create a new issue and explain the problem you're having. Thanks!

[2020-04-27 12:57] malarzm commented on #2178
That sounds weird, we have tests covering that you get a correct instance of a collection: https://github.com/doctrine/mongodb-odm/blob/b852d476d521d60860530ec7811d92d71333a116/tests/Doctrine/ODM/MongoDB/Tests/Functional/CustomCollectionsTest.php#L83 I'm afraid that without a failing test case we won't be able to help you.

`PersistentCollectionInterface` is indeed marked as `@internal` to warn pe

[2020-04-27 13:01] alcaeus commented on #2178
This looks like it's coming from the `DebugClassLoader` in Symfony, which checks the namespace on internal classes. This causes the warning. This can be ignored for the time being, there's nothing we can do to prevent this message.

[2020-04-27 13:15] g13013 commented on #2178
@alcaeus indeed

[2020-04-28 14:22] g13013 commented on #2178
It seems that the problem occurs on persistence as long as it involves the same instance of the documentManager. if I instantiate a fresh instance of DocumentManager the problem disappears.

[code]

[code]

[code]

[code]

[2020-04-28 15:12] malarzm commented on #2178
Please provide a failing test we can run ourselves, i.e. without Symfony. You can take a look at our ticket-specific tests since they're easiest to write: https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket. A PR with a failing test case is the best course of action.

Besides:

This makes no sense to me, if the test passes then the collection is o

[2020-04-28 15:21] alcaeus commented on #2178
To elaborate on the last paragraph in the previous comment, you should always use collections internally. Allowing a `setChildren` call to replace the entire collection is bound to cause problems, e.g. an inconsistent type (as evidenced by your test), as well as inefficient writes as this will always be treated as a complete clear followed by a complete insert.

Your `ParentClass` should probably

[2020-04-28 15:35] g13013 commented on #2178
it seems that replacing with the following solves the problem
[code]

but still,  the `persist` function seems to incapsulate the array of Child with an instance of `AppDocumentChildrenCollectionPersistent` class with `ArrayCollection` instead of ChildrenCollection.

I think that `persist` should either fail if `children` is not set to the expected `ChildrenCollection` or support arrays but implem

[2020-04-28 15:41] g13013 commented on #2178
it doesn't make sens to me neither but
[code]

[2020-04-28 15:48] malarzm commented on #2178
Most probably this is caused due to this line: https://github.com/doctrine/mongodb-odm/blob/9f19a49c39f7fdd64d9534690d9d2e58b36c8427/lib/Doctrine/ODM/MongoDB/UnitOfWork.php#L565 as it's the only place in ODM (beside collection factory) that instantiates the `ArrayCollection`. I believe that disallowing arrays in this place at all would be the best course of action but this is way too strict for a

[2020-04-28 16:30] g13013 commented on #2178
Good that we've found the source of the problem

@malarzm @alcaeus thank you for your support

[2020-04-30 14:12] younesdiouri opened #2179 "Get the total count given a limit (...\Cursor replacement)"
### BC Break Report

Hi :smiley_cat: , we've been experiencing an issue in our mongodb-odm 2.X upgrade process (from 1.X).
We've been using the `Cursor` interface to count all results from a Query with limits.

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.X

#### Summary

Indeed, in the changelog , we read that :

The Doctrine\ODM\MongoDB\Cursor, Doctrine\ODM\Mo

[2020-04-30 15:10] alcaeus commented on #2179
This was changed in the MongoDB extension a while back. You can read a detailed explanation here: https://github.com/mongodb/mongo-php-driver/issues/195#issuecomment-169405194.

This always was two separate calls, except they were hidden. Calling `count` on a cursor issued a `count` command to the server, which could produce different results. If you want to know the total number of documents in t

[2020-04-30 15:17] younesdiouri commented on #2179
Many thanks for your quick reply :), we will use a separate query for the count.
Have a good day.

[2020-04-30 15:17] #2179 closed

[2020-05-06 08:06] SDPrio commented on #1482
The issue has been reported almost 4 years ago. A good solution (using the `Comparable` interface) has been proposed three years ago. The problem has still not been solved? Is this really true or am I missing something?

Is there any other solution for this?

[2020-05-06 11:14] alcaeus commented on #1835
Fixed in #2128.

[2020-05-06 11:14] #1835 closed

[2020-05-06 11:16] alcaeus commented on #1482
Indeed it hasn't. If you're up for it, we're happy to assist while you create the pull request.

[2020-05-07 13:57] CedrickOka commented on #237
Hi @housebolt

Here is a temporary solution since there has been no progress on the subject

[code]

[2020-05-07 16:07] #2173 closed

[2020-05-07 19:12] jmikola opened #2181 "Future server versions may not need shard key for write command query criteria"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Future server versions may no longer require a shard key in updateOne ([DRIVERS-817](https://jira.mongodb.org/browse/DRIVERS-817)). This may also extend to deleteOne and findAndModify. I believe ODM currently injects the shard key into queries to satisfy the requ

[2020-05-07 21:04] malarzm commented on #237
Actually there's a `\Doctrine\ODM\MongoDB\Types\ClosureToPHP` which provides exactly that function. We recommend using it along with implementing `convertToPHPValue` method. It's also showcased in the docs: https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/latest/reference/custom-mapping-types.html. If there is still something off please do open a new issue instead of resurrecting

[2020-05-10 10:09] malarzm opened #2182 "schema:create fails with single collection inheritance"
### Bug Report

As per https://stackoverflow.com/questions/61615412/odm-inheritance-document-with-type-single-collection-schema-create-error the `odm:schema:create` fails with an error if the collection already exists. This is the case when single collection inheritance is used.

#### Expected behavior

The command finishes successfully.

[2020-05-18 19:30] #2124 closed

[2020-05-19 11:40] #2140 closed

[2020-05-19 18:29] alcaeus commented on #2113
Fixed in #2116.

[2020-05-19 18:29] #2113 closed

[2020-05-19 18:30] alcaeus commented on #2103
Fixed in #2104.

[2020-05-19 18:30] #2103 closed

[2020-05-23 16:24] malarzm commented on #2161
To everybody reporting: could you please test and see if #2188 fixes the issues for you?

[2020-05-24 10:57] malarzm commented on #2051
This just popped up on SO: https://stackoverflow.com/questions/61933036/error-text-index-required-for-text-query

[2020-05-25 14:43] #2161 closed

[2020-05-28 12:08] alcaeus commented on #2162
I spent a lot of time last week investigating these leaks, and it turns out this has nothing to do with CachingIterator or embedded documents. I was able to observe the leak, but did not observe any difference with respect to using a non-caching iterator, or using `clear` vs. using `detach`. I did however observe that we didn't properly clean up references of an object as soon as `HydratingIterato

[2020-05-28 18:40] alcaeus commented on #2157
Fixed in #2160. Thanks for the PR, @Ludo444 and sorry for the delay!

[2020-05-28 18:40] #2157 closed

[2020-05-29 09:30] Romaxx opened #2190 "int64 support"
|    Q        |   A
|------------ | -----
| Version     | 2.1.0

I want to use int64 fields in my db to do a 64 bitmask permission system (32bits it's quite short for some rare cases, but it append..), by default Field(type="integer") are int32 (checked with mongodb compass), and I need to change it manually to int64.
My server is under Php 64bits version so I can use MongoDB\BSON\Int64, is there

[2020-05-29 10:39] malarzm commented on #2190
I believe the best would be adding a new type to handle `int64` since it requires specjal care. You could take a page from #2128 where we've added decimal type. Also we will appreciate a PR adding the type to ODM!

[2020-05-29 12:06] g13013 commented on #2178
should not be closed

[2020-05-29 12:39] alcaeus commented on #2178
I'm scheduling this for a fix in the next patch release.

On a different note, I believe it may be worth deprecating this automatic type conversion. For a clean API, you should always initialise your relationships to the correct collection class instead of having a mix of array and collection instances.

[2020-05-29 13:42] alcaeus commented on #2190
On 64-bit platforms, the driver will store integer values as int32 bson type as long as its value fits into 32 bits. Once the value exceeds the maximum size for 32-bit integers, it is stored as int64 type: https://github.com/mongodb/mongo-php-driver/blob/master/src/bson-encode.c#L33..L37

On 32-bit platforms, the driver always stores integer values as 32-bits. The `MongoDB\BSON\Int64` class is to

[2020-05-29 13:42] #2190 closed

[2020-05-29 21:02] CedrickOka opened #2193 "The Doctrine\ODM\MongoDB\Persisters\DocumentPersister::prepareQueryOrNewObj() method does not support certain expressions such as $currentDate"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.1

#### Summary

When using the expression `Expr::currentDate()` with the mongo query builder we get the following error :

[code]

#### Current behavior

I think the current implementation is trying to convert the value (date or timestamp) of the expression $type with the Doctrine\ODM\MongoDB\Persist

[2020-05-31 00:46] Plopix opened #2194 "exists(false); is transformed to exists('')"
This appears between 2.0.6 and 2.1.0

### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.1.0

#### Summary

The preparation does not work as expected for `$exists`, the current system look at the type of the property and convert it. But for `$exists` that should not be converted according the the type of the property tested.

**it should stay a bo

[2020-05-31 09:49] shadz3rg commented on #1621
Issue is resolved since v2 release, all collation options are passing to driver methods.

[code]

[code]

[2020-06-02 08:10] TvitiDev opened #2195 "Doctrine\ODM\MongoDB\Persisters\CollectionPersister::deleteCollections don't remove all necessary elements"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.3.7

#### Summary

In upgrading version up to 1.3.* in  DocumentPersister::handleCollections() method you made optimisation. Now you update the list collections in method CollectionPersister::updateAll() and method CollectionPersister::deleteCollections() remove all elements as one "$unset". But you los

[2020-06-02 10:30] malarzm commented on #2195
Please provide a failing test case as that's too much info in the issue to digest :) You can mimic how ticket related tests are written: https://github.com/doctrine/mongodb-odm/tree/master/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket

From which version were you updating?

[2020-06-02 10:38] TvitiDev commented on #2195
We updated up to version 1.3.7, but this code also is available in version 2.*
Ok, i'm will add test

[2020-06-02 13:04] malarzm commented on #2195
Yes but the question in which version it worked differently :)

[2020-06-03 09:27] TvitiDev commented on #2195
In this pull https://github.com/doctrine/mongodb-odm/pull/1948 was changed logic remove elements. Earlier items are removed step by step, now items removed at one step. This is good, but they made a mistake during optimization

[2020-06-03 09:31] TvitiDev commented on #2195
This my mini test. In branch 1.2.x successfully working. In branch 1.3.x don't working.
[code]

[2020-06-07 15:46] malarzm commented on #2195
@TvitiDev thanks for the test case! While this won't fix the issue itself, is there any reason you're not using `setArray` strategy for your collections? The test you provided passes then and maybe could continue the update.

[2020-06-10 13:15] sFreezer opened #2196 "Nullable field can not be overwritten by null"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | since 2.1.1

#### Summary

After this -> [change](https://github.com/doctrine/mongodb-odm/commit/f04d413ad6a13db90f14502e70f329740aba1b8b)

you can not overwrite any value on a nullable field to null with upsert.
because it is just set on **$setOnInsert** and not on **$set**.
I think: this was done to not

[2020-06-10 15:34] ondrejmirtes opened #2197 "Support doctrine/persistence v2"
### Feature Request

Would be nice if users of this library could update to doctrine/persistence v2. Thank you.

[2020-06-11 09:16] malarzm commented on #2196
The nullable flag description is correct, that's what is happening during insert and update, it is just upsert that works differently. If we don't have a section about upserting documents and its quirks, we shall write one.

[2020-06-11 11:51] ondrejmirtes opened #2198 "Undocumented: Move DocumentRepository to Repository namespace"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.0.0

#### Summary

Class DocumentRepository was moved to Repository namespace (https://github.com/doctrine/mongodb-odm/commit/682aa792cffc344f931a8b1a0ac82ffb2cd8d492) but this change isn't documented in the changelog.

[2020-06-11 16:21] malarzm commented on #2198
It is mentioned in the UPGRADE file: https://github.com/doctrine/mongodb-odm/blob/master/UPGRADE-2.0.md#repository :)

[2020-06-11 16:21] #2198 closed

[2020-06-12 12:43] ondrejmirtes commented on #2198
Thanks and sorry, I just checked the changelog and it's not mentioned there at all :)

[2020-06-13 13:34] malarzm commented on #2198
That's true, we used changelog for listing all issues/prs but now with automated release process we put all that in the release description instead. If you're looking for things that have changed between 1.x and 2.0, UPGRADE.md is your file :)

[2020-06-15 04:32] nationdata-it opened #2199 "Fatal error: Uncaught TypeError: MongoDB\BSON\ObjectId::__construct()"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 2.1.1

#### Summary
when querying the database it generates error

`file.php
        /** @ODM\Field(type="object_id") */
	private $collection_object_id;

	/** @ODM\Field(type="object_id") */
	private $form_cabinet_id;

	/** @ODM\Field(type="object_id") */
	private $employee_id;
`

`$files = $dm->creat

[2020-06-15 05:23] Steveb-p commented on #2199
@nationdata-it please provide a stacktrace.

[2020-06-15 07:11] malarzm commented on #2199
@nationdata-it at a glance it seems that either `$collection_object_id` or `$session_user` is a bool.

[2020-06-15 11:51] nationdata-it commented on #2199
yes initial i was thinking that i'm sending wrong values to confirm that i changed the call to something like this.

`
$collection_object_id = new ObjectId('5ecd55047ac60e4c2c1f266e');
		$session_user = new ObjectId('5e6843962aca3953e42e2d99');
		$files = File::getSingleResult([
				'collection_object_id' => $collection_object_id,
				'employee_id' => $session_user,
				'form_cabinet_id' => ['$exi

[2020-06-15 12:16] nationdata-it commented on #2199
stack trace @Steveb-p

( ! ) TypeError: MongoDB\BSON\ObjectId::__construct() expects parameter 1 to be string, boolean given in /var/www/project/vendor/doctrine/mongodb-odm/lib/Doctrine/ODM/MongoDB/Types/ObjectIdType.php on line 20
Call Stack
#	Time	Memory	Function	Location
1	0.0037	414904	{main}( )	.../index.php:0
2	0.2908	4849104	src\helpers\Slim->run( )	.../index.php:54
3	0.2908	4849080	Slim\Mi

[2020-06-15 12:17] nationdata-it commented on #2199
query debug:

`Array
(
    [0] => Array
        (
            [type] => 1
            [query] => Array
                (
                    [collection_object_id] => MongoDB\BSON\ObjectId Object
                        (
                            [oid] => 5ecd55047ac60e4c2c1f266e
                        )

                    [employee_id] => MongoDB\BSON\ObjectId Object

[2020-06-15 13:41] malarzm commented on #2199
Ah this seems to be connected with #2194 and #2193 - it seems we're too eagerly trying to convert values ignoring expressions

[2020-06-22 16:59] Steveb-p opened #2203 "Embedded documents with targetDocument and discriminatorMap property do not save discriminatorField"
|    Q        |   A
|------------ | -----
| Version     | 2.1.0

### Support Question

tl;dr
When using `targetDocument` and `discriminatorMap` annotation property for `EmbedMany` (I believe `EmbedOne` as well) embedded documents do not save discriminator property.

I believe it should be mentioned in the docs that those two should not be mixed.
If possible I would either allow `targetDocument`to

[2020-06-22 18:51] malarzm commented on #2203
IIRC we've made discriminator map strict if it's present (i.e. ODM will throw an exception if class is not listed in the map), so a sanity check is already there. My vote goes for an exception given it's not working anyway, a note in the docs will be also a nice to have.

[2020-06-24 16:09] Steveb-p commented on #2203
@malarzm so basically an additional check should be added around here:

https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/Mapping/ClassMetadata.php#L1929

Simply looking if `targetDocument` and `discriminatorMap` are set? And then throwing a new exception class?

If yes then I think I should be able to handle it :laughing:

[2020-06-24 17:35] malarzm commented on #2203
Exactly :)

[2020-06-26 20:40] malarzm commented on #2193
@CedrickOka would you mind checking if #2205 fixes your issue?

[2020-06-26 20:40] malarzm commented on #2194
@Plopix would you mind checking if #2205 fixes your issue?

[2020-06-26 20:40] malarzm commented on #2199
@nationdata-it would you mind checking if #2205 fixes your issue?

[2020-06-28 11:51] malarzm commented on #2197
Support has been merged with #2204

[2020-06-28 11:51] #2197 closed

[2020-06-29 19:43] Plopix commented on #2194
Reproduced on `2.1.1` and I confirm the fix is working well for me.

[2020-06-30 10:12] malarzm commented on #2193
Closing as #2205 was merged

[2020-06-30 10:12] #2193 closed

[2020-06-30 10:13] malarzm commented on #2194
Closing as #2205 was merged

[2020-06-30 10:13] #2194 closed

[2020-06-30 10:13] malarzm commented on #2199
Closing as #2205 was merged

[2020-06-30 10:13] #2199 closed

[2020-06-30 11:02] marcbln opened #2207 "After upgrading from 2.0.5 to 2.1.1 using the exists() operator on a date field in combination with $qb->addAnd() breaks"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.1.1
| PHP Version | 7.4.5

#### Summary

After an upgrade from 2.0.5 to 2.1.1 using the exists() operator on a date field in combination with $qb->addAnd() breaks, please see example code below.

#### Previous behavior

On version 2.0.5 no exception was thrown and the QueryBuilder worked as expect

[2020-06-30 11:16] malarzm commented on #2207
@marcbln can you please see if upgrading to 2.1.2 fixes your issue? It was released today and includes #2205 which fixed issue similar to yours

[2020-06-30 11:27] marcbln commented on #2207
An upgrade to version 2.1.2 fixed the issue. Thank you.

[2020-06-30 11:27] #2207 closed

[2020-07-01 17:38] Steveb-p opened #2209 "Documents with inheritance do not $unset null properties"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.2

#### Summary

When a document class is part of inheritance, fields that are set to null during update are not removed from the database.

#### Current behavior & How to reproduce

Consider classes declared:

[code]

and

[code]

When document is updated with `null` value it will not be `$unset`.

[

[2020-07-01 20:53] malarzm commented on #2209
Note to myself: check if the same thing is happening on 1.3.x branch after writing a test

[2020-07-09 18:35] #1826 closed

[2020-07-23 09:10] o10g opened #2212 "Custom types are not correctly transformered for embedded documents"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.1

#### Summary

Let's say we have `User` document with embedded document `Identities`. Some of fields in `Identities` has to be encrypted in the database. To achieve it, the new type was registered and assigned to the appropriate fields.
In the repository class we need to filter by the encrypted fiel

[2020-07-23 09:23] malarzm commented on #2212
Thanks for the report! Unfortunately issue you are experiencing is currently "by design" as query builder always expected database types and needed help with type transformation. This changed a bit with 2.1 when query builder started recognizing simple cases but it's far from being perfect. If you feel like taking a stab at expanding the feature please feel free to make it a feature for 2.2. Proba

[2020-07-24 06:57] Steveb-p commented on #2209
It seems I'm at fault for this one (I suspected as much, it would be really strange if an issue like this was not more widespread).

The sample test presented is not what was happening in my code. In reality I was loading the document like so:
[code]
What I didn't realize is that I was missing a crucial method call: `$qb->returnNew();`. Therefore I got a document with `null` value in `locked_until

[2020-07-24 06:57] #2209 closed

[2020-07-24 10:00] alcaeus commented on #2209
Thanks for updating us. I didn't get around to testing this, so I'm happy you were able to resolve this yourself.

[2020-07-25 16:45] Steveb-p opened #2214 "Embedded document index with partialFilterExpression is wrong"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.2

#### Summary

Embedded documents when creating indexes receive them with wrong `partialFilterExpression`, as if they were not embedded.

#### Current behavior

For a document class:
[code]

...creates an index with following specification:

[code]

#### Expected behavior

Created index should actua

[2020-07-27 07:01] alcaeus commented on #2203
I'll take another look at this - this should definitely work as you intend it to work.

[2020-07-27 07:09] Steveb-p commented on #2203
@alcaeus initial PR for it that I've made seems to be a little to aggresive (`isset` checks are to broad and cause exception to be thrown even then it shouldn't). Feel free to take it over and use those commits (or discard them and only use code).

[2020-08-05 21:05] shubaivan commented on #2051
@alcaeus I faced with error about language. I use db version v4.4.0

I added index to my collection

[code]
and then try to update schema

[code]

[2020-08-14 08:46] rbaarsma opened #2215 "persist & flush take up lots of memory, without clearing it properly"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | 2.1.2  (php 7.4.4, mongo server 4.0.19)

#### Summary

The following code:

[code]

Has this output:

[code]

#### How to reproduce

Unfortunately my `Stream` document is a fairly complex object with lots of Embedded documents, which is hard to just copy here for reproduction. It includes lots of both

[2020-08-14 08:47] rbaarsma commented on #2215
Probably related (or duplicate of) https://github.com/doctrine/mongodb-odm/issues/2162

[2020-08-19 20:39] emulienfou commented on #1863
First of all, I made some changes on my fork here: https://github.com/emulienfou/mongodb-odm
It's a work in progress to add some tests.

[2020-08-19 20:43] emulienfou commented on #1863
However, I was able to make it work using an array in the `pipeline` key, such has:
[code]

But using the query builder directly, seems to not working. I tested this kind of code:
[code]

[2020-08-20 11:02] josefsabl commented on #2161
Unfortunatelly no, I was able to reproduce the problem in v2.1.2. As I tried to reproduce and isolate, it went away.

I am not sure if it helps, but this is the code I put to base documents so as to help debugging them (all the doctrine stuff crashes var_dump on memory).

[code]

When I tried to debug the document like: ```var_dump($document)``` I got the aforementioned error. The document has ref