[2020-08-20 13:43] malarzm commented on #2161
@josefsabl it seems to me that you are the one accessing uninitialized properties in `[$property->getName() => $this->{$property->getName()}]` part. You need to account for uninitialized properties on your own since you're the one using reflection

[2020-08-29 09:57] apapilov-sc opened #2218 "cant install it with symfony 5.1.3"
composer output:

then i try to remove "doctrine/persistence" using "composer remove doctrine/persistence", it prints me this message:

[2020-08-31 06:10] Steveb-p commented on #2203
@alcaeus what's the prefered approach for this? From your comment I assume - maybe wrong - that those two annotation properties should be able to simultanously exist?

[2020-09-01 21:35] malarzm commented on #2214
Given partial indexes were introduced in 1.1 (#1303) this needs to be fixed in 1.3.x branch and then merged up. Gonna schedule it so the report won't fall through the cracks

[2020-09-02 10:43] josefsabl commented on #2161
Thanks for the reply. I don't understand this, however.

How is:

`$this->foo`

different from

[code]

?

And what does it have to do with the Reflection?

The part that makes this a problem is that the property is not initialized not how do I access it. Or am I mislead?

Thanks again.

[2020-09-02 13:55] malarzm commented on #2161
Hard to say what I was thinking 2 weeks ago, I must have mistakenly think you are accessing object's value with reflection, not via de facto `$this->$name`. I have never used documents with public properties so this is a bit of gray area for me, maybe new proxying can't handle it properly (although I expect it should). I believe that without an isolated test case we won't be able to help any furth

[2020-09-03 06:55] josefsabl commented on #2161
Yeah, I understand. The problem is, when I try to isolate it it always disappears and even if I put the code right back to the state where it was failing, it doesn't reappear. Weird stuff indeed :-)

[2020-09-03 09:26] Steveb-p commented on #2161
@josefsabl maybe you're using cache that is not cleared properly?

[2020-09-04 12:40] douglasjam opened #2219 ""ocramius/proxy-manager": "^2.*" now requires composer 2"
I'm currently using dev-master since a release with setRewindable hasn't been released yet.

In master, you guys use the following composer dependency
"ocramius/proxy-manager": "^2.2",

This means we get the latest 2.x, and currently, the latest is 2.9.1

And if you look there, they now require composer 2.0 since 2.9
https://github.com/Ocramius/ProxyManager/blob/2.9.1/composer.json

Can you set th

[2020-09-04 12:51] Steveb-p commented on #2219
@douglasjam as far as I know 2.1 has `setRewindable` already.

see https://github.com/doctrine/mongodb-odm/pull/2116

[2020-09-04 13:38] malarzm commented on #2219
I don't think it's feasible as limiting this on our end would mean folks with newer Composer won't be able to get newer proxy-manager versions. I believe this should be handled at composer level, would you @douglasjam mind opening issue there?

[2020-09-04 15:40] douglasjam commented on #2219
Thanks @Steveb-p, I missed totally this release, I just tested locally here 2.1 and it works, no more dev-master 👏

I'll check in my production if memory explodes, and if it does I come back here.

About the versioning, ocramius instructed me how to proceed, basically I was running with --ignore-platform-reqs, but without this option composer is smart enough to take the latest compatible version,

[2020-09-04 15:40] #2219 closed

[2020-09-08 13:09] alcaeus commented on #2162
Looking at #2215, this may not have to do with HydratingIterator directly, but rather with what's going on behind the scenes. In the related issue, memory usage spiked as the UnitOfWork was committed to the database, which does not involve HydratingIterator at all, but does involve some of the behind-the-scenes management shenanigans that UoW needs to do. This may help in debugging this issue.

[2020-09-08 13:09] alcaeus commented on #2215
@rbaarsma you are correct, this does look like the linked issue. The interesting thing is that I've observed this using `HydratingIterator`, which isn't used in your case. The fact that memory usage significantly goes up after `flush` makes me think that UnitOfWork is leaking somewhere. I'm closing this, but have added a note to #2162 to note that it may be UoW internals.

[2020-09-08 13:09] #2215 closed

[2020-09-08 19:01] DavideTriso commented on #1888
Hello, I would like to contribute and work on an implementation of this feature. Could you please provide some advice and tell me how the desired implementation should work?

[2020-09-09 00:50] jcaillot commented on #1888
@DavideTriso

I am in no way the best person to answer this but I would not like you to think, one second, that we are not interested.

There is a contribute page on the Doctrine Project site :

https://www.doctrine-project.org/contribute/index.html

You also may find useful this page on coding standard :

https://www.doctrine-project.org/projects/doctrine-coding-standard/en/7.0/reference/index.ht

[2020-09-09 05:53] alcaeus commented on #1888
@DavideTriso That is great news!

The first step would be basic transaction handling: have the UnitOfWork start a session (if the feature is enabled), do its usual commit operations, then commit the transaction and handle any errors. From then on, we can see what other features we want to add. Note that we can't make this an "always-on" feature, as transactions require replica sets which may not b

[2020-09-10 20:34] DavideTriso commented on #1888
Tanks for your advice @alcaeus and @jcaillot.

I have given a nearest look at the mongodb-odm code before starting to work at the implementation
This is how I would implement this feature:

1. Add a new `enableSession` attribute to `Doctrine\ODM\MongoDB\Configuration` which defaults to `false`.
1.  When `enableSession ` is true, have the DocumentManager create a new session in the constructor and

[2020-09-10 22:23] Steveb-p commented on #1888
Session should be "opened" as late as possible, possibly only before `flush` call or explicit `DocumentManager::beginTransaction`. They should be as short-lived as possible. I'm not an expert in MongoDB, but I'm pretty sure for high throughput multi-document transactions you would start getting into deadlocks.

I believe current approach is to leave `flush` method without arguments (just recently

[2020-09-11 07:44] alcaeus commented on #1888
To elaborate on what @Steveb-p commented:

I agree. If we were to start the transaction in the constructor, this would also directly open the connection to the server, which is not desired. Since there are no plans to use sessions on operations outside of `flush`, we shouldn't keep an open session around.

There is an `$options` array, but I'd have to double-check to see if the contents of it are

[2020-09-23 14:52] rieschl opened #2222 "Aggregation\Stage\Match class won't work with PHP8"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | yes

#### Summary

Just a heads up if no one noticed it before, but [`Match`](https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/Aggregation/Stage/Match.php) will be a reserved word in PHP8 so that won't work with PHP8 anymore 🙂

[2020-09-25 08:06] josefsabl commented on #2161
🤔Interesting idea. We have a custom made adapter that integrates Nette/Cache as Doctrine/Cache, although we use it in production for years there might be a bug. It is pretty simple thing however. But thanks for direction.

[2020-09-25 08:57] Steveb-p commented on #2161
@josefsabl What I meant is Doctrine creates proxy classes on it's own and usually on production regeneration of those is disabled for performance. Considering that "the problem went away" as soon as you started working with the files is a sign for me of a cache that's stale.

[2020-09-28 09:24] Steveb-p commented on #2162
Hit the same issue just now when clearing `PersistentCollection` with references / embedded documents. Despite explicit call to `clear()` on `DocumentManager` memory remained occupied.

[2020-09-30 08:05] endrsmar opened #2224 "Update indexes fails if there already exists same index with different name."
### Bug Report
Running the `doctrine:mongodb:schema:update` command fails with error `Index with name: <index_name> already exists with a different name` if there already exists an index with same keys and options but different name on the collection.

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.1.2

#### Summary

Because name of an index is ignored when checki

[2020-10-01 08:12] josefsabl commented on #2161
This "bug" appeared for me in the localhost development environment with proxy cache set to AUTOGENERATE_EVAL.

[2020-10-06 10:10] chrisdejager opened #2225 "Update ocramius/proxy-manager to prevent abandoned packages notices with composer"
When I use this great (!) plugin in my project, composer complains on every install/update that abandoned packages are installed:

This issue is solved in the latest proxy-manager code (from version 2.6+).

Thanks!
Chris

[2020-10-06 10:58] alcaeus commented on #2225
Please run `composer why-not ocramius/proxy-manager 2.6.0` to see why a version that no longer requires abandoned package can't be installed. ProxyManager 2.3.0 drops support for PHP < 7.4, so if you're running any older PHP release you're pretty much screwed. This is also the reason why we can't bump the dependency to this package.

[2020-10-06 13:28] chrisdejager commented on #2225
Yes: ocramius/proxy-manager  2.6.0  requires  php (7.4.* but 7.3.22 is installed)

Darn, I didn't think to check that! Then its logical, thanx!

[2020-10-06 13:28] #2225 closed

[2020-10-07 22:35] nottoohigh opened #2226 "Support OrderBy / Sort for DocumentRepository findOneBy()"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break         | no
| Version    | Since 2.1

#### Summary

Unlike `findBy`, `Doctrine\ODM\MongoDB\Repository\DocumentRepository::findOneBy` does not currently support `$sort` as a parameter.

**Current**
[code]

**Propose adding support for $sort:**
[code]

[2020-10-07 22:53] malarzm commented on #2226
@nottoohigh sounds reasonable :) would you mind sending us a PR with addition and some tests?

[2020-10-08 09:02] nottoohigh commented on #2226
@malarzm Ok will do as soon as I can. Thank you!

[2020-10-23 14:07] alexandre-abrioux opened #2233 "Collection validator: JSON Schema"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Hi,

I don't think it is currently possible to define a JSON schema to validate, on the database side, inserted or updated data. I am talking about the `$jsonSchema` operator of the `validator` expression: https://docs.mongodb.com/manual/core/schema-validation/#j

[2020-10-24 13:16] malarzm commented on #2233
@alexandre-abrioux this sound like a nice addition :) If you'd need any help feel free to ping me on our Slack's `#mongodb-odm` channel.

I think for a first step we should go with user-defined `jsonSchema`, generating schema based on metadata can be added later. Also I expect schema-generation to be a can of worms if we get to single collection inheritance or discriminated embedded documents so I

[2020-10-24 15:55] rieschl commented on #2222
bad bot! go to your room! 😋

[2020-10-27 09:54] alexandre-abrioux commented on #2233
Thanks for the answer! I agree, let's do it by step. I'll start working on adding an user-defined `jsonSchema` and get back to you as soon as I have a working solution with tests. I'll check Slack if needed :)

[2020-11-03 21:42] malarzm commented on #2224
@endrsmar thanks for the report! As you can see we are currently struggling with time we can devote to ODM so would you like to work a on fix for your problem? I can offer my help on our Slack's `#mongodb-odm` channel but otherwise I don't know when I'll be able to look into the fixing the issue personally.

[2020-11-05 11:04] o10g opened #2241 "Mongo 4.2+ now supports sharding key value change. Doctrine - doesn't."
### Feature Request

Doctrine now supports sharding key value change.
There are some limitations, but nothing critical.
The major one - you must provide sharding key in a "where" clause in case you change it.

https://docs.mongodb.com/manual/core/sharding-shard-key/#change-a-document-s-shard-key-value

Nowadays doctrine just unsets the sharding key changes on update if it knows about sharding. Or

[2020-11-09 11:51] douglasjam commented on #2162
Had the same issue here, we do have a 3 million documents collection and using hydration true just explodes the memory, no matter what kind of clear mechanism we try (clear, detach, unset, gb, gc_collect_cycles...)

[2020-11-09 12:04] mdjaman opened #2242 "Batch insert parent/children regenerate id of each child"
Hello maybe i am totally wrong but persisting master and details (OneToMany) resets given id of children.
The parent Id is correct but all his ReferenceMany object got new one

[2020-11-10 09:22] Steveb-p commented on #2242
For readability:

[code]

[2020-11-10 11:27] buffcode commented on #1863
@emulienfou

This usually happens if you use the wrong expression variable.
First it seems to work, as you get the correct result as return, but the root builder will also append the same code.

Try using `$builder->expr()->addAnd(...)`

[2020-11-18 20:27] alexandre-abrioux opened #2245 "Sandbox uses old doctrine/mongodb Connection class"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.2

#### Summary

Hi! While setting-up an environment to work on https://github.com/doctrine/mongodb-odm/pull/2238 I found out that the sandbox's `config.php` uses the old `Doctrine\MongoDB\Connection` class from the archived https://github.com/doctrine/mongodb driver repository (see below). I will sen

[2020-11-22 03:26] etshy opened #2247 "Discriminator with new GridFS"
|    Q        |   A
|------------ | -----
| Version     | 2.1.2

### Support Question

Is there a way to add discriminator with the new GridFS system ?
In my case I wanted to make a generic File class with basic fields (about the same as in the example) and sime others like Image, Archived, etc. that will have more fields at the root or inside the metadata.

The problem is, without discriminator w

[2020-11-23 11:39] alcaeus commented on #2247
The file itself can't have a discriminator mapping, as there can't be additional fields in the root document of a GridFS bucket. You can however use a discriminator when mapping the metadata document: this is what will vary between different file "types", the rest is always the same.

[2020-11-23 15:51] etshy commented on #2247
Yeah didn't think about that.
I even forgotten discriminator on embeddedDocument was possible.

Thanks, I'll manage with that.

[2020-11-23 15:51] #2247 closed

[2020-11-24 09:59] #2245 closed

[2020-11-26 00:02] dmitry84 commented on #2149
Hi, Any news regarding this issue?

[2020-11-27 07:58] alcaeus commented on #2149
I had lost track of this issue. I wanted to revisit this yesterday, but with travis-ci no longer reliably running our builds I had to prioritise moving the build environment. I'll pick this up once CI is stable again, but if you want to take a shot at fixing this, please do.

[2020-11-27 08:02] Dauflo opened #2251 "$elemMatch not working like standard MongoDB one"
Hi,

I'm trying to implement a MongoDB find query using an `$elemMatch`.

The query i want to recreate the following query:

[code]

Right now i have the following query using a queryBuilder:

[code]

But when i try to run it, i'm getting the following error:

`ErrorException: Notice: Array to string conversion[0] (caught throwable) at /var/www/app/vendor/doctrine/mongodb-odm/lib/Doctrine/ODM/Mong

[2020-11-27 08:14] alcaeus opened #2252 "Support denormalising data in references"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

When storing references as object (e.g. by using `dbref` or `ref` strategies), we can add data to the reference. This is currently only used to store a discriminator field if the reference or target document uses discriminator mappings, but could be used for any

[2020-11-27 08:32] alcaeus commented on #2251
In your `elemMatch`, you correctly use `$query->expr()` to generate a new expression object. In the `addNor` call however, you don't. This causes issues with the query generation. Changing `$query->field('children')` to `$query->expr()->field('children')` should fix the issue.

To confirm, I've run the following test. Note that I've used the `User` class from the test directory, with `groups` bein

[2020-11-27 08:47] Dauflo commented on #2251
Thans for your quick response, i've fix the missing `expr`.

I found that in the my document, my `ReferenceMany` was like this:

`@MongoDB\ReferenceMany(targetDocument="App\Document\Target", storeAs="id")`

As soon as i removed the `storeAs="id"`, the query could execute. Can you explain why this appended?

[2020-11-27 10:18] alcaeus commented on #2251
The difference is in how ODM stores references. When you store the reference as an ID, the document will look like this:
[code]

When you remove `storeAs="id"`, it defaults to `storeAs="ref"`, which looks like this:
[code]

If you want to store references as identifiers, your query portion does not need an `$elemMatch` operator but can use `$nin` directly:
[code]

[2020-11-27 11:01] Dauflo commented on #2251
Just tried your solution without the `elemMatch`, but i'm now getting data that i shouldn't get.

I do need to use the `elemMatch` to ensure the fact that all the elements in my field `children` are present in the array inside the `$nin`.

My problem now is that i'm getting `Array to string conversion` when i try to execute the query.

My work around was to create the database with `storeAs='id"`,

[2020-11-27 14:03] Dauflo commented on #2251
After a closer look at the code, i might have found something.

In the file `Doctrine\ODM\MongoDB\Persisters` at the line `1277` there is a condition, and i think `$elemMatch` ismissing in it.

[code]

Should in my opinion be like this

[code]

[2020-11-27 14:41] alcaeus commented on #2251
The comment above this line reads `Ignore query operators whose arguments need no type conversion`, so I'm not sure that will fix the issue. If you want to try to fix it, tests should confirm your suspicions.

[2020-11-27 14:51] Dauflo commented on #2251
By adding this new item in the array i'm not getting the error anymore.

[2020-11-30 00:28] emulienfou commented on #1863
@buffcode seems not not working, I have the next error message: **Unrecognized pipeline stage name: '$and'**
If someone wants to work on this feature, feel free to open a PR my master branch is updated with this new feature.

[2020-11-30 01:57] GregRbs92 opened #2254 "PartialFilterExpression with value set to null creates an index with value set to the string "null""
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes/no
| Version     | any

#### Summary

I wanted to create an index with a partial filter expression to index only the documents having a specific field set to `null`. Unfortunately, when using the XML mapping, the values are cast as `string`, therefore the index is created for the documents having the specific field set

[2020-12-01 10:58] rameesps opened #2255 "How to update one document , when updating another one.Two document have same fields."
|    Q        |   A
|------------ | -----
| Version     | x.y.z

### Support Question

[2020-12-01 20:43] malarzm commented on #2255
@rameesps I have no clue what are you asking about. Also please consider posting your question on [StackOverflow under the `doctrine-odm` tag](https://stackoverflow.com/questions/tagged/doctrine-odm) as are trying to keep github for actual issues with the library.

[2020-12-01 20:43] #2255 closed

[2020-12-02 09:44] Lewiatan opened #2256 "Void methods in collections causing fatal error"
### Bug Report

I have a collection that extends Doctrine\Common\Collections\ArrayCollection which is persisted to database. This collection has methods that returns void, for example:

[code]
The generated persistent collection is trying to return value from void method:

[code]

I updated symfony recently, and during that process doctrine/common was also updated. I think that with doctrine/commo

[2020-12-02 18:02] malarzm commented on #2256
@Lewiatan thank you for the bug report! The collection code is generated in ODM itself, if you'd want to take a stab at fixing the bug it's here: https://github.com/doctrine/mongodb-odm/blob/3bdfe97be472160ebbc924d5882ce61bd640a515/lib/Doctrine/ODM/MongoDB/PersistentCollection/DefaultPersistentCollectionGenerator.php#L204. The generated code template needs to have the `return` part removed if `voi

[2020-12-03 08:25] Lewiatan commented on #2256
Sure, I'll give it a try ;)

[2020-12-03 13:32] cgrabenstein opened #2257 "Compound Index not recognized for deletion if order changed"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.2

#### Summary

We are optimizing indexes in our project and discovered, that switching the order of keys of a compound index does not trigger a deletion of the old index with the previous order.

#### Current behavior

Say we have a class `User` with an index as following:

[code]

Running `bin/cons

[2020-12-03 21:36] malarzm opened #2258 "Support union types in custom persistent collections"
### Feature Request

https://github.com/doctrine/mongodb-odm/blob/3bdfe97be472160ebbc924d5882ce61bd640a515/lib/Doctrine/ODM/MongoDB/PersistentCollection/DefaultPersistentCollectionGenerator.php#L295 needs to be able to handle union types

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

[2020-12-03 21:38] malarzm commented on #2258
The generator was based on doctrine/common's proxy generator so there's a great chance we can mimic https://github.com/doctrine/common/pull/910

[2020-12-04 08:38] rbaarsma opened #2259 "Update document with EmbedMany does not update it's embedded documents"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.1.2

#### Summary

After doing a `$repository->find($id)` and modifying the embedded document, ex. `$doc->getData()[0]->setTitle('test')` and doing `$dm->flush()`, we expect the database to be updated with the new title value on an existing record with existing embedded documents.

This is not the case.

[2020-12-04 08:50] rbaarsma commented on #2259
After more debugging I finally found out the (parent) document is marked as `readOnly` and therefore does not consider any changes to it's embedded document.

Sorry for taking your time. Solved.

[2020-12-04 08:50] #2259 closed

[2020-12-05 23:56] malarzm commented on #2254
This sounds like a reasonable thing to do. What you like to implement the change @GregRbs92?

[2020-12-05 23:57] malarzm commented on #2254
Although to be on par with true/false handling I'd give up on the `strtolower` call

[2020-12-06 00:06] malarzm commented on #2257
This sounds like a bug indeed. Would you like to try fixing this @cgrabenstein? Re using `==` for the check we tend to use strict checks wherever possible so there had to be good reason to use a weak one this time. If possible, I'd add an additional check for key order instead of changing the equality check.

[2020-12-06 15:18] cgrabenstein commented on #2257
I'll gladly give it a shot. However I need some help concerning compound text indexes, especially if text index are mixed with non-text indexes. Consider the following cases:

Should `@Index({'foo': 'text', 'bar': 'text'})` be considered equivalent to `@Index({'bar': 'text', 'foo': 'text'})`? [`foo` and `bar` switched]
Should `@Index({'foo': 'text', 'a': 1, 'b': 1})` be considered equivalent to `@

[2020-12-07 08:25] malarzm commented on #2257
@alcaeus mind chiming in? My knowledge is a bit rusty here :)

[2020-12-07 11:51] alcaeus commented on #2257
Hi,

to elaborate on your questions:

I'm not entirely sure on the first one but absolutely sure on the other two: those indexes are not equivalent. To quote from the [text index documentation](https://docs.mongodb.com/manual/core/index-text/#text-index-compound):

I'm not entirely sure about the first case: I'd guess that these indexes are indeed equivalent, as the `$text` operator will search th

[2020-12-07 12:36] cgrabenstein commented on #2257
Thanks for your input @alcaeus. When you refer to "the first one", you are referring to the first Index in my comment, not in your quote, correct? It seems like the order got mixed up somehow.

Looking further into the `SchemaManager` I found this comment in `isEquivalentTextIndexWeights`:
[code]

Correct me if I'm wrong, but that would mean that we actually can not tell which order the fields in

[2020-12-07 13:21] alcaeus commented on #2257
I updated my comment, I thought I had put them in the right order after trying to address them individually but failed.

Thanks for digging deeper into server behaviour, I agree: key order is not important for keys that are part of the text index, but matters for all other keys in the compound index (meaning the behaviour is consistent across compound indexes).

Since we can't tell the original or

[2020-12-12 16:33] GregRbs92 commented on #2254
@malarzm With pleasure, do you have any contribution guide I can refer to for the development?

[2020-12-12 17:06] malarzm commented on #2254
@GregRbs92 depends what you're looking for :) but bare minimum is to add a test along with the change, so we won't break added behaviour accidentally. If you don't have MongoDB installed locally you can count on running tests through GitHub actions, that's happening for each commit. Also we have automated checks for coding standards and static analysis, so if there's anything off with our standard

[2020-12-16 19:52] alcaeus commented on #2095
Closing as this issue needs to be fixed upstream.

[2020-12-16 19:52] #2095 closed

[2020-12-20 11:25] #2256 closed

[2020-12-20 11:28] malarzm commented on #2257
Closing as #2260 was merged

[2020-12-20 11:28] #2257 closed

[2020-12-28 20:20] #2222 closed

[2020-12-29 20:03] malarzm commented on #2226
Closing as https://github.com/doctrine/mongodb-odm/pull/2264 was just merged

[2020-12-29 20:03] #2226 closed

[2020-12-31 09:48] franmomu opened #2265 "Reset stages in Aggregation Builder"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

When paginating an Aggregation Builder, I wanted to use the second method explained here: https://medium.com/finnovate-io/paginating-large-data-sets-with-mongo-aggregation-d4425b48c71e.

The problem comes [in the `facet` stage, when creating a pipeline](https://

[2021-01-04 16:22] thisbar opened #2266 "Doctrine ODM annotations not being loaded"
I am having an issue with an model while the others works succesfully.  I am using version 2.2.
I get this error:

[code]
My model is:

[code]
The other models are identical and works!

[2021-01-04 21:05] chandon opened #2267 "Is ODM 1 compatible with MongoDB 4.4 ?"
|    Q        |   A
|------------ | -----
| Version     | 1.3.7

### Support Question

I'm using ODM1 with map/reduce. I've upgraded my MongoDB server from 4.2 to 4.4

I've issues with map/reduce (linked to deprecated doctrine/mongodb 1.6.4). When trying to execute the map/reduce query, i got an error message "'map' should be string". Setting back the "setFeatureCompatibilityVersion" of my server

[2021-01-05 14:29] thisbar commented on #2266
This issue was caused by Mercado Pago's SDK that uses Doctrine Annotations

[2021-01-05 15:07] malarzm commented on #2266
This sounds like it should be reported upstream

In general if you're not using symfony bundle (or zend module) there's a setup step you need to do yourself so the annotations can be loaded, from https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.1/reference/introduction.html#setup

[code]

this possibly is mitigated by some newer version of doctrine/annotations, depends what you

[2021-01-05 15:07] #2266 closed

[2021-01-05 20:08] malarzm commented on #2267
ODM is not compatible or incompatible with any MongoDB version per se as it does not know what version you are running (there is no configuration option for that and no auto-detection). 1.x version of ODM abstracted db-related operations to doctrine/mongodb but that was merely an abstraction over legacy `mongo` driver and that's the first thing that needs to be checked whether will work with newer

[2021-01-05 20:08] #2267 closed

[2021-01-08 09:13] alcaeus commented on #2267
To follow up on the above: ODM 1.x is built on top of the legacy MongoDB driver (`ext-mongo`) but can be made to work on the new driver using an adapter library. The last MongoDB server version officially supported by the legacy driver is 3.0, although you may have luck running on newer server versions depending on the features you use. To have full compatibility with supported MongoDB versions, w

[2021-01-08 09:58] #2258 closed

[2021-01-08 12:45] matpo commented on #1862
2 years and half later, any news about integration of arrayFilters ?

[2021-01-08 16:03] chandon commented on #2267
@alcaeus thanks, i'm on the way to ODM2.0, but a lots of features are no longer supported (like flush($document), map/reduce [thanks to the query->debug() it's still possible...], and even the generate:document command which is not linked to the driver version), so it's not such a simple migration... but you're right, it's almost mandatory to migrate

[2021-01-08 16:21] alcaeus commented on #2267
Yes. Some pointers that may be helpful:

* `flush($document)`: if you want to selectively flush documents, [explicit change tracking](https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.1/reference/change-tracking-policies.html#deferred-explicit) is the way to go here. if that seems too daunting, you'll find that some changes may have been persisted despite you not explicitly passi

[2021-01-08 16:32] alcaeus commented on #1862
Nope. I experimented using them for collection updates, but that would require a significant overhaul (read "rewrite") of the persister logic which I didn't find the time for.

Obviously, the first step would be to add support for this in the query builder. I'm interested in your use-case: what would you like to use it for, do you use it already (e.g. by sending updates through the driver itself),

[2021-01-08 16:51] chandon commented on #2267
Concerning the `flush($document)` which is for me the biggest issue, i didn't know about explicit change tracking. I've already changed my logic by inserting/detaching then reloading inserted documents. For me, it's perhaps simpler than doing explicit tracking for my whole application code...

[2021-01-08 16:56] matpo commented on #1862
Thank you for your answer.

My use case is to replace an array value with a single query (like that: https://stackoverflow.com/a/58973094/6911841).
In the mean time I make two separates queries, one pull and one push, that is not very optimal.

[2021-01-22 06:51] hugochinchilla opened #2273 "Can we have a release from the current state on master to be able to update to php8.0 without having to rely on dev-master?"

[2021-01-22 07:58] malarzm commented on #2273
Yes, we will today or tomorrow max

[2021-01-22 07:58] #2273 closed

[2021-01-23 13:50] markitosgv commented on #1863
How about this? It would be great to use pipeline on lookup stages

[2021-02-03 13:53] buffcode opened #2278 "Locking is broken when ClassMetadata is cached"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | all

#### Summary

Lock functionality is broken as soon as a non-volatile ClassMetadata cache is used.

#### Current behavior

When a `metadata_cache_driver` is defined, Doctrine MongoDB caches the `ClassMetadata` using the given driver by serializing all relevant fields. The fields `isLockable` and `lock

[2021-02-04 13:06] josefsabl opened #2282 "Bi-directional reference pulls incorrect document from owning side"
I have something that looks like very bizarre bug. So pardon me if this report is bizarre either. I will try to describe it in as much detail as possible. I just need a bit of help isolating this as the project this appears in is **very** complex. I am trying to remove as much bogus code as possible. I hope I am not removing something relevant.

Let's have a document like this:

[code]

It simply

[2021-02-04 13:17] rrajkomar opened #2283 "Doc Error : GridFSRepository::uploadFromFile"
In https://github.com/doctrine/mongodb-odm/blob/2.3.x/docs/en/reference/storing-files-with-gridfs.rst, the documentation describes  the call to `uploadFromFile` as having for parameters:
- 1st parameter : filename
- 2nd Parameter : path to file
[code]

But looking at the method documentation, it is the other way around
[code]

so the example in the documentation should be
[code]

[2021-02-04 13:24] rrajkomar commented on #2283
Also the second example is wrong as well :
[code]
should use an UploadOptions parameter
[code]

[2021-02-04 21:09] malarzm commented on #2282
Given you're using references we can cross out weird embedded documents `spl_object_id` collisions. What's the cache doing? Do you clear document manager somewhere in the process? Even if you do, having two documents with same ids but different data looks very strange, `_id` must be unique in the collection. Beside these questions I'd take following steps:
1. Double check if the data in db is corr

[2021-02-05 08:36] josefsabl commented on #2282
Thank you for prompt response!

Yes, agreed.

It's a separate cache than what doctrine uses.

It caches general random pieces of information. Mostly pre-calculated fragments of html so that expensive calculations don't need to be run repeatedly without data being actually changed. Oversimplified: There is a list of users, it is cached and cache item is tagged as "Domain\User\Document". When any Do

[2021-02-15 13:19] tyteen4a03 commented on #1873
Any updates on this?

[2021-02-15 13:29] alcaeus commented on #1873
Yes: we've decided to not implement a `Client::withOptions` helper in the MongoDB Driver, due to its implications on the underlying extensions. If you are creating your collections manually, you currently will have to pass the correct type map. We'll be working around this in a different way by passing a `typeMap` option to all `find` calls manually, which means that we can reuse existing connecti

[2021-02-15 15:33] alcaeus commented on #2265
I don't think this is necessary. Creating a new aggregation builder is simple enough:
[code]

[2021-02-15 15:33] #2265 closed

[2021-02-15 16:26] franmomu commented on #2265
Rereading my issue, I wasn't clear, what I meant is to create a generic solution for paginate an aggregation builder, given an aggregation builder I think there is no way to get the document name necessary for creating the new aggregation builder.

[2021-02-16 13:06] alcaeus commented on #2265
I see. I currently have no plans to create a generic solution, as returning a single document from the pipeline is not efficient, especially when dealing with larger documents. Depending on the data, the `$facet` solution isn't necessary (e.g. if the data doesn't change frequently).

That is correct. Still, I don't believe that the builder should be able to create a new instance of itself. There a

[2021-02-17 23:02] franmomu commented on #2265
Thank you very much for your detailed response! I had in mind to create an adapter in`pagerfanta/pagerfanta` for Aggregation Builders in https://github.com/BabDev/Pagerfanta/tree/a67a44e4dedece5853cd9a7ecbfd2f91a3d5f652/lib/Adapter/Doctrine/MongoDBODM.

Truth is that the adapter could be like:

[code]
I guess the user usually has the repository when paginating, so document and document manager wil

[2021-02-18 11:24] alcaeus commented on #2265
With the API that the adapter interface requires, it makes no sense to use `$facet` at all. The calls to `getNbResults` and `getSlice` are entirely separate. Quick prototype:
[code]

Using `$facet` makes sense if the library has the capability to handle metadata and result in a single call, which pagerfanta doesn't.

Note that unlike the query builder, the aggregation builder can have multiple sor

[2021-02-25 20:25] dominikzogg opened #2289 "Doctrine\ODM\MongoDB\Tools\Console\Command\Schema\ValidateCommand marks each mapping got issues"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.0

#### Summary

The ValidateCommand uses `$meta === unserialize(serialize($meta)` to find mapping issues (no idea why it solved like that).
The original code used `$meta == unserialize(serialize($meta)` which could be correct, but the current one is not, cause you'll never get the same object referen

[2021-02-26 15:45] #2289 closed, assigned to alcaeus

[2021-03-05 00:32] etshy opened #2291 "GridFS referenced returns proxy class instead of File class"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.0

#### Summary

Referenced GridFS File is a proxy class when getting Parent Document

#### Current behavior

Not sure if this is intended, I didn't see anything about this in the doc.
When you reference a File in a document and get that document, the file property is az proxyClass and you have to man

[2021-03-05 07:01] alcaeus commented on #2291
The `uploadFromFile` method returns a proxy object for the class the repository is for. This is due to the upload not returning necessary metadata for creating an initialised document, so we defer initialisation to the first time a property is accessed in the proxy. However, the public API of the returned proxy object is the same as that of the configured GridFS file. What kind of issues are you h

[2021-03-05 17:50] etshy commented on #2291
The main issue is that I can't type-hint my referenced File property.
When i upload a new file, call `uploadFromFile()` and then set the result to my property I got a php error.
For example, "Argument 1 passed to Document::setImage() must implement interface \ImageInterface or be null, instance of MongoDBODMProxies\__PM__\App\Model\Persistence\Files\File\Generated457a4653aafba020df1e87bed723101e g

[2021-03-05 20:44] ossinkine opened #2292 "WriteConcern option never passes into MongoDB"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.0

#### Summary

I'm sorry in advance if I've just not figured out.
I want to be sure the transaction was processed on majority replicas, I've set up `w: majority` option in `doctrine_mongodb.default_commit_options`, and try to debug where this option passed into MongoDB and did not find any cases. [`

[2021-03-08 13:55] josefsabl opened #2293 "Custom Array_ (similar to Hash) type not working with query builder."
|    Q        |   A
|------------ | -----
| Version     | 2.2.0

### Support Question

We implemented our own Array_ type. We need to store some data as classic BSON array (hash converts them to objects).

It basically is ripped of hash with slightly changed conversion logic. It looks like this:

[code]

The code is working well and we have it in production for quite long. Now, however we encounte

[2021-03-08 19:27] malarzm commented on #2293
This doesn't solve the problem that working code broke, but why won't you use [`collection` type](https://github.com/doctrine/mongodb-odm/blob/2.2.x/lib/Doctrine/ODM/MongoDB/Types/CollectionType.php)?

[2021-03-09 08:53] alcaeus commented on #2292
Now that you mention it...updating the commit options to use `WriteConcern` has completely escaped my mind when updating to the new driver. Marking as a bug and will start fixing soon.

[2021-03-09 09:51] ossinkine commented on #2292
@alcaeus passing `w` option in `DocumentManager::flush` or specifying in Document annotation also does not work. What is a true way to pass it?

[2021-03-09 12:29] alcaeus commented on #2292
The true way is to pass a [write concern option](https://www.php.net/manual/en/class.mongodb-driver-writeconcern.php):
[code]

[2021-03-09 12:41] ossinkine commented on #2292
Looks like [this method](https://github.com/doctrine/mongodb-odm/blob/a88db3e46d335190ea0395d44d30d580a345141e/lib/Doctrine/ODM/MongoDB/Persisters/DocumentPersister.php#L1491) should be removed or refactored because it works wrong and consfusing

[2021-03-09 12:43] alcaeus commented on #2292
You've found the source of the problem. Want to create a PR to fix the issue? :)

[2021-03-09 12:45] ossinkine commented on #2292
Yes I can if you describe the correct behavior in your opinion

[2021-03-09 13:48] alcaeus commented on #2292
Instead of passing on the `w` key, the method you pointed out should create a `WriteConcern` object and trigger a deprecation to let everyone know that passing a `w` key is no longer supported. There are some places where ODM assumes that as default, so be sure to check those out as well. Please let me know (here or in the doctrine or Symfony-devs slacks) if you run into any problems or have quest

[2021-03-09 15:17] ossinkine commented on #2292
@alcaeus Please tell which base branch I should use to fix

[2021-03-09 15:27] alcaeus commented on #2292
2.2.x is our current branch for bug fixing. Thanks!

[2021-03-10 15:37] alcaeus commented on #2292
Fixed in #2294.

[2021-03-10 15:37] #2292 closed, assigned to nobody

[2021-03-12 11:53] wuchen90 opened #2295 "XML mapping doesn't take account of the attribute `nullable` for embedded document"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.0

#### Summary

I use XML to map the documents.
When I set the attribute `nullable=true` to a property, which is an embedded document (`embed-*`), the `ClassMetadata` resulted always set this property to `ClassMetadata->isNullable() === false`.
By the way, mapping with annotations works well.

Here i

[2021-03-12 19:51] malarzm commented on #2295
@wuchen90 thanks for the report! Would you be up for fixing the issue? Taking a look at the XML driver it seems to me that `nullable` is not handled not only for embed one/many but also for normal fields and references. It'd be great to investigate this all and fix if I'm right.

[2021-03-15 11:57] wuchen90 commented on #2295
@malarzm
Here is my PR: https://github.com/doctrine/mongodb-odm/pull/2297.
You were right about normal fields and references.

[2021-03-15 18:47] #2283 closed, assigned to nobody

[2021-03-16 13:18] #2295 closed, assigned to nobody

[2021-03-18 11:49] webdevilopers commented on #1674
Just stumbled upon this issue again. Any updates?

Refs: https://github.com/doctrine/mongodb-odm/issues/1987

[2021-03-18 11:54] webdevilopers commented on #1674
The code mentioned by @iskyd can be found in `Doctrine\ODM\MongoDB\Mapping\ClassMetadata` l. **1898**:

[code]

[2021-03-18 14:23] alcaeus commented on #1674
No updates to the issue. Having two fields share a name, even when one is the database name and the other is the property name in your domain model is not supported. The following mapping for example is invalid:
[code]

Written as annotations, this would correspond to this:
[code]

The reason this conflicts is that the query builder no longer knows what to do with this builder expression:
[code]

[2021-03-18 16:14] webdevilopers commented on #1674
Thanks for the instant feedback @alcaeus ! I get your point.

Our use case is the following:

We design persistence-ignorant Domain Models. We add our own IDs as value objects. The MongoDB required `_id` in our collections is auto-added by MongoDB, we ignore it in our application. This way we can easily switch to a different database without having to care about keys and their naming.

For instanc

[2021-03-19 10:50] alcaeus commented on #1674
I understand, but not entirely. Here's what I'd do:
[code]

[code]

This will lead to these documents:
[code]
[code]

I'm not sure I understand what switching databases has to do with this. Here's the same document that doubles as an ORM entity for any SQL-based database:

[code]

[code]

But what about queries? One identifier is called `_id` in the database, the other one `account_id` or `account

[2021-03-19 11:10] alcaeus commented on #2291
If I understood you correctly, you have a file ([excerpt from docs](https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.2/reference/storing-files-with-gridfs.html#mapping-documents-as-gridfs-files)):
[code]

When you call `uploadFromFile`, you get a proxy object back. In this case, the class could look like this:
[code]

So if your setter accepted the original `Image` class, it wou

[2021-03-20 14:20] etshy commented on #2291
My upload logic is simple.
I made an `UploadFileType` with a `Transformer` that transform an `UploadedFile` into my `File` or `Image` class.

My `Image` class extends my `File` class and implements an `ImageInterface` (my Image class is empty, it's just to separate Image from File and have different metadata)

My mapping is  in xml and the following
`File.mongodb.xml`
[code]
`Image.mongodb.xml`
[c

[2021-03-20 18:02] alcaeus commented on #2291
Is the repository an ImageRepository or a FileRepository?

[2021-03-21 00:55] etshy commented on #2291
The Repo is `FileRepository` for both `Image` and `File`.
I guess that's why I have a Proxy of `File` when I upload, but then why have I an `Image` proxy when I get the document (and the referenced Image) ?
is there an internal process that detect the right class to proxy ?

[2021-03-22 16:45] #2282 closed, assigned to nobody

[2021-03-22 16:45] josefsabl commented on #2282
Please ignore, error on our side, of course 🙄 .

[2021-03-24 12:41] alcaeus commented on #2291
These two documents may very well have the same `repositoryClass` configured, but it's important that you retrieve the correct repository from the document manager. If you upload a file through a repository fetched like this:
[code]

the result will always be a `File` proxy object. To receive an image proxy, you need to fetch the repository for the `Image` class:

[code]

What matters is not the c

[2021-03-24 19:23] etshy commented on #2291
Okay I see the problems but I'll have to think of another way to instantiate my Repo.

Actually the upload file part is in a Class `FileService` in a method `save`.
I inject `FileRepository` using Symfony Dependency Injection and my FileRepository `__construct` is set to `File::class` for now.
(I followed the doc here : https://symfony.com/doc/current/bundles/DoctrineMongoDBBundle/first_steps.html

[2021-03-25 07:27] alcaeus commented on #2291
No worries. I wouldn't recommend messing with the repository class, you're asking for trouble there. If you want to have the quick and easy Symfony set up, you'd create an `ImageRepository` the same way you created your file repository. Then, in your `FileService`, inject both repositories and use the one that's appropriate for what you're doing. Since I don't know why you have a file and an image

[2021-03-25 12:51] etshy commented on #2291
Yeah I know it's asking for problems but that was to test to repository issue.
I have a `File` and a `Image` class to have different Metadata (metadata for image contains informations about the image, like the height and width in pixel and I will add some other info later) and a different class/interface.
And because of that I have the repository issue.

I think the more proper way to sovle this i

[2021-03-25 12:51] #2291 closed, assigned to nobody

[2021-03-31 08:42] alcaeus commented on #2251
I've created #2298 to fix this. I'll follow up with a more comprehensive rework of how query preparation is done, as there are a few other issues with `Expr::elemMatch` I want to address.

[2021-03-31 09:17] Vladnev commented on #2182
@alcaeus Hi it also actual for 2.2.0 version. As i see 2.1 Roadmap not supproted.

[2021-03-31 11:55] alcaeus commented on #1674
@iskyd @webdevilopers #2299 fixes the original issue where the wrong `ClassMetadata` instance was used. I'll revisit the problem of conflicting field names separately, but the PR should fix most issues when using an `Expr` on an association with its own metadata.

[2021-03-31 17:43] malarzm commented on #2182
@Vladnev thanks for noticing! It must have somehow stay in 2.1 when we were retriaging issues :) Would you like to try fixing the issue since it seems to affect you as well?

[2021-04-13 08:51] #1674 closed

[2021-04-13 09:15] #2251 closed

[2021-04-14 17:14] #2254 closed

[2021-04-14 17:23] malarzm commented on #2278
Forgot to link issues before, closing as #2281 was merged

[2021-04-14 17:23] #2278 closed, assigned to nobody

[2021-04-14 20:56] webmozart opened #2301 "Nullable embedded documents not initialized"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.x (498478488c7d8539239e697b2260b4944b2d7b7a)

#### Summary

When using `<embed-one ... nullable="true"/>`, hydration fails due to a missing nullable check in the generated hydrator.

#### Current behavior

When using `<embed-one ... nullable="true"/>` in combination with typed, uninitialized propertie

[2021-04-15 06:50] alcaeus commented on #2301
Thanks for the report. I've taken a crack at fixing this in #2302. As shown in the tests, you can set a default value on the property as a workaround until we have a release:
[code]

[2021-04-15 07:07] webmozart commented on #2301
@alcaeus Wow, that's quick! Thanks! :)

[2021-04-15 07:16] alcaeus commented on #2301
I have my moments 😊

[2021-04-22 11:54] #2301 closed, assigned to alcaeus

[2021-04-30 08:27] aknowicki commented on #1744
@malarzm

There's still a problem:
[2021-01-20 06:23:08] php.CRITICAL: Fatal Compile Error: require(): Failed opening required '/var/app/current/var/cache/prod/doctrine/odm/mongodb/Hydrators/CollageBundleClientBundleDocumentApplicationHydrator.php' (include_path='.:/usr/share/pear7:/usr/share/php') {"exception":"[object] (Symfony\\Component\\ErrorHandler\\Error\\FatalError(code: 0): Compile Error:

[2021-04-30 12:19] malarzm commented on #1744
That would mean the `require` call is broken and it's not ODM's fault :) If the error goes away after a moment it might be as well a delay between docker and your local filesystem, or whatever else.

Offhand, glad to see Collage is still alive ^^

[2021-04-30 23:04] aknowicki commented on #1744
I thought about the delay from the system, but production is on AWS.
Instances are pretty powerful so I doubt it.

Yeah Collage still alive :)

[2021-05-01 10:42] Steveb-p commented on #1744
I've had a similar issue on a production environment before (unrelated to ODM itself). I've had two possible causes:
1. I was `mv`-ing the instances around.
2. I had a symlink-based installation and my nginx passed to php-fpm
[code]
which caused my php-fpm to share cache between instances. What helped me was:
[code]

And in my case it was the cause for errors on instance switch.

This might be com

[2021-05-06 14:53] Chocob0b opened #2303 "Add the possibility to set the timezone to dateToString"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | no

#### Summary

Could it be possible to add the possibility to set the timezone to dateToString like this :

[code]

[2021-05-06 21:55] malarzm commented on #2303
Given the `$timezone` argument is optional and original behaviour is preserved I see no downsides 👍 While we're at it we could also add the optional `onNull` argument. @Chocob0b would you be up for sending as a PR?

[2021-05-10 13:54] nkanzari commented on #1863
Hello everyone, is there any news about this one? I'm having trouble with lookup ignoring filters like soft delete.

[2021-05-11 12:08] Romaxx commented on #2149
The problem is the representation of string.
uuid is passed as "string of hex" and not "hex string", "ab" = 16 bits not 8 bits, so the value is 32 bytes long instead the 16 bytes long (128 bits) attended size.
using this "dirty" code in convertToDatabaseValue in BinDataType.php solve the problem
[code]

[2021-05-13 09:48] alcaeus commented on #2149
As a general rule, you shouldn't make such changes in the type itself, but rather in the code that generates the UUID. I just haven't gotten around to making the change and probably won't have the time to do so in the foreseeable future. If you're interested in working on this, I'm happy to help out.

[2021-05-21 15:00] wuchen90 opened #2310 "Nullable embedded document not initialized when using aggregations"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.1

#### Summary

This bug is the same as https://github.com/doctrine/mongodb-odm/issues/2301 but with AggregationBuilder.

#### How to reproduce

[code]

[code]

[code]

#### Expected behavior

[code]

[2021-05-21 17:24] alcaeus commented on #2310
This surprises me, because the hydrator is the same for the class regardless of the way we fetched the data (find vs. aggregate). I'll take a look after the long weekend. If you can provide a failing test case (you can take inspiration from [this one](https://github.com/doctrine/mongodb-odm/pull/2302/files#diff-91f32557ad758f29d3d87a9971d4bd771efaffb6b10aa8260376eb9cdf0b60f6R106), just use the agg

[2021-05-25 10:23] wuchen90 commented on #2310
@alcaeus
Actually the bug still occurs with `find` too: https://github.com/doctrine/mongodb-odm/pull/2316

[2021-05-26 08:09] #2233 closed

[2021-06-02 11:16] maxgorovenko commented on #2099
Wow! Found some very-very useful pages! I think you underestimate this bug.

[2021-06-02 12:01] maxgorovenko commented on #1397
Any progress since 2017?

[2021-06-02 12:22] alcaeus commented on #1397
@maxgorovenko yes, can't you see how people are rushing to create pull requests for functionality they'd like to have?

[2021-06-05 07:10] franmomu opened #2323 "Extend from `AbstractLazyCollection` in `PersistentCollection`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | hopefully no

#### Summary

The current [`PersistentCollection`](https://github.com/doctrine/mongodb-odm/blob/ccf26d9e023387e9aae86951186c043b3222fe70/lib/Doctrine/ODM/MongoDB/PersistentCollection.php) uses [`PersistentCollectionTrait`](https://github.com/doctrine/mongodb-odm/blo

[2021-06-07 07:14] franmomu opened #2325 "Mismatch between `ClassMetadata::getAssociationTargetClass` and its parent"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.2.1

#### Summary

Currently, `ClassMetadata::getAssociationTargetClass` has `?string` as return type:

https://github.com/doctrine/mongodb-odm/blob/ccf26d9e023387e9aae86951186c043b3222fe70/lib/Doctrine/ODM/MongoDB/Mapping/ClassMetadata.php#L1794-L1804

but [the interface `ClassMetadata` from `doctrine/

[2021-06-08 19:38] malarzm commented on #2323
Yes, due to the fact we allow users to have custom collections our persistent collection needs to extend user's class so the typing is happy. Also that's the reason we have an interface for a persistent collection. I don't think we'll be able to change that in any way, is it blocking you from doing something?

[2021-06-08 19:39] malarzm commented on #2323
Ah, is this related to #2324?

[2021-06-09 06:21] franmomu commented on #2323
Not at all, while doing https://github.com/doctrine/mongodb-odm/pull/2324 just realised of that difference with the `ORM` and then after posting it, I found out about the custom persistent collections.

Thanks for answering!

[2021-06-09 06:21] #2323 closed, assigned to nobody

[2021-06-09 23:15] malarzm commented on #2325
The problem is that in ODM you can have a reference without `targetDocument` and even without `discriminatorMap` - the ODM will happily store references to anything you feed it with. I have no idea what to do with this yet tho :)

[2021-06-15 08:36] #2310 closed, assigned to nobody

[2021-06-16 23:20] #2293 closed, assigned to nobody

[2021-06-22 17:20] malarzm commented on #2325
@franmomu the related issue was merged, do you need a release for doctrine/persistence to move this issue forward?

[2021-06-24 06:15] franmomu commented on #2325
there is no need for a release @malarzm, thank you for taking care of the issue!

[2021-06-24 06:15] #2325 closed, assigned to nobody

[2021-06-26 02:37] #2303 closed, assigned to nobody

[2021-07-05 10:50] TNAJanssen opened #2337 "PHP 8 attributes"
### Feature Request

Please implement PHP 8 attributes like Doctrine ORM did.

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

I would love to get rid of all my annotations

[2021-07-11 13:43] smilesrg opened #2339 "Cannot assign string to property of type MongoDB\BSON\ObjectIdInterface"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 4.3

#### Summary

I'm trying to use ObjectId in the embedded document. But got an error while dehydrating object:

[code]

classes:

[code]

[code]

#### Current behavior

Probably it tries assign string value to the typehinted with `ObjectIdInterface` property.

#### How to reproduce
1. Create parent an

[2021-07-11 23:12] malarzm commented on #2339
@smilesrg thanks for the report! Could you please try reproduce your case as a failing test case and make a PR with it? You can take a page from our other functional tests: https://github.com/doctrine/mongodb-odm/blob/2.2.x/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH2157Test.php

[2021-07-13 16:51] smilesrg opened #2341 "Add support for a multiple field type"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

I noticed that field could be just one type. But in MongoDB field could be any type. Use-case example: I need to provide a filed, if property price includes taxes. If yes, that field value is equal to `true`. If no, then field value contains an object with the t

[2021-07-13 17:28] smilesrg commented on #2341
I have found such workaround:

[code]

However, `@EmbedOne` annotation still can't be used.

Property `$hotelTax`  has typehinting of `bool`, `HotelTaxNotIncluded` and `array` as values from Mongo comes as array.
`@ODM\Field(type="raw")` - defines a field of any type
`@Assert\AtLeastOneOf` annotation validates that value is either `true` or a type of `HotelTaxNotIncluded` class.
Return type of `pu

[2021-07-13 18:07] malarzm commented on #2341
Arguably you'd be better of using `EmbedOne` with `nullable=true` - if there's no tax then `hotelTax` is `null`, or a value object otherwise. `?HotelTax` sounds to me way more sane than `bool|array|HotelTaxNotIncluded` from types' perspective.

Anyway, what you're describing can be achieved with custom types and that's the encouraged way to go. Built-in type intersection sounds like a lot of troub

[2021-07-13 18:07] #2341 closed, assigned to nobody

[2021-07-13 18:15] smilesrg commented on #2341
There are other use cases, for example, a field could be a string type or an object. That's can't be solved using `EmbedOne` with `nullable=true` as string value should be one from set of values. Anyway, thank you for the suggestion!

[2021-07-13 18:31] malarzm commented on #2341
Theoretically `string|EmbedOne` sounds doable, but technically we'd need to support full type intersection and that can go out of hand easily with somebody wanting `bool|EmbedOne|EmbedMany|ReferenceOne` because why not :)

Given ODM allows you to define custom types I honestly think this is better to be done in userland, where you'll have knowledge about what types do come into play, which handle

[2021-07-19 14:45] MaxenceDupressoir commented on #1483
Updating this issue as I just bumped into the same problem: How to initialise a value to a default value as the constructor is not called nor the convertToPHPValue ?

[2021-07-19 17:27] malarzm commented on #1483
If the value is simple you can assign it directly to a property like `private $something = false;`. Otherwise, as we're still not passing `null` to the related Type object, you could utilize `postLoad` lifecycle event.

[2021-07-23 22:21] hmatanock opened #2346 "Index hints not being passed from QueryBuilder to final Find"
### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.2.0

#### Summary

The database for our project is actually AWS's DocumentDB service.  I will say off the bat that I do understand that it's not technically MongoDB, and there are some feature differences - however, we recently upgraded our Symfony project from v 1.1 to v2.0 (technically we upgrad

[2021-07-26 15:49] IonBazan opened #2348 "Review and merge Mapping Drivers tests"
### Improvement Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Currently there are 2 separate namespaces containing Mapping Drivers tests: `Doctrine\ODM\MongoDB\Tests\Mapping` and `Doctrine\ODM\MongoDB\Tests\Mapping\Driver`:

The first one derive from https://github.com/doctrine/mongodb-odm/blob/2.2.x/tests/Doctrine/ODM/

[2021-07-26 22:48] malarzm commented on #2346
Looking at https://docs.mongodb.com/php-library/v1.4/reference/method/MongoDBCollection-find/ this is definitely an oversight, `find` is accepting the `hint` option. @hmatanock would you be up for a PR fixing the issue and covering it with a test so we won't lose this again?

EDIT: actually I'm not sure if a test can be written easily, still worth exploring tho

[2021-07-29 06:51] alcaeus commented on #2346
Here's a test plan:

1. Create query builder, set index hind
2. Export the query object, assert that the debug information about the query shows the index hint
3. Execute the query while a command logger is active (see prior art, e.g. [GH1138Test.php](https://github.com/doctrine/mongodb-odm/blob/6e42eed57998ad96f3c868ac5b1329a724024463/tests/Doctrine/ODM/MongoDB/Tests/Functional/Ticket/GH1138Test.

[2021-07-30 17:25] andythorne opened #2349 "Cannot access uninitialized non-nullable property when accessing a non-db field property of a document"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.2.1

#### Summary
This happens on PHP >= 7.4 where the Document properties have been type hinted.

A fatal error is thrown when you access a property of a Proxy document where the property itself is NOT a field managed by the ODM, even if that property has a default value. This only seems to happen whe

[2021-08-02 12:11] #2346 closed, assigned to nobody

[2021-08-03 12:57] maxgorovenko commented on #2099
Can someone say how this doc builds? Did not find any scripts|configs inside this repo. Have some ideas, did fix, but can't check :(

[2021-08-03 13:26] jcaillot commented on #2099
The doc surely needs some love. I guess one can assume it is built with sphinx? Should not the doc be versioned in the repo and come with it? Twig does that. It might result in too may PR though... (just thinking out loud)

[2021-08-03 15:29] alcaeus commented on #2099
Pinging @SenseException for help with the docs system.

[2021-08-04 08:58] maxgorovenko commented on #2099
Trying to build with this extensions, but still got problems with toc in sidebar:
[code]

[2021-08-05 08:15] IonBazan opened #2354 "Refactor mapping driver tests"
### Change Request

Mapping drivers tests should be refactored to reduce code duplication and make sure that all mapping features are tested for each driver and the derived tests for each driver contain only the driver-specific assertions (all general assertions should be in base test cases).

- [ ] Merge tests from `tests/Doctrine/ODM/MongoDB/Tests/Mapping/Driver/AbstractDriverTest.php` and `test

[2021-08-05 12:20] sirian opened #2355 "Performance penalty getClassMetadata"
## Problem

Each call to `$documentManager->getClassMetadata($class)` causes ClassMetadataFactory to resolve real class again and again. This causes huge performance penalty when documentManager actively used.

https://github.com/doctrine/mongodb-odm/blob/9ca6f5f9b0198da8ee930796255b4714c75db07d/lib/Doctrine/ODM/MongoDB/DocumentManager.php#L300

https://github.com/doctrine/mongodb-odm/blob/9ca6f5f

[2021-08-05 17:02] franmomu commented on #2355
Thanks for reporting! can you please try it with the `2.3.x` branch?

Class name resolvers were removed in https://github.com/doctrine/mongodb-odm/pull/2304 (apparently there was cache in the class name resolving) https://github.com/doctrine/mongodb-odm/blob/9ca6f5f9b0198da8ee930796255b4714c75db07d/lib/Doctrine/ODM/MongoDB/DocumentManager.php#L204

[2021-08-06 06:29] alcaeus commented on #2355
To follow up on this, we do have a few benchmarks for performance critical stuff. @sirian if you feel up for it, you can add a performance test in the `benchmark` in a PR to 2.2.x. The test should repeatedly fetch metadata from the document manager for a non-proxy class and a proxy class (to test class name resolution). We'd expect mean performance to be very similar after a number of iterations,

[2021-08-09 17:58] IonBazan opened #2357 "[Tests] Use @requires annotation where needed"
### Feature Request

We should replace manual test skips with `@requires` annotation. For example `@requires PHP 8.0` will skip the tests if PHP version is not satisfied.

https://phpunit.readthedocs.io/en/9.5/incomplete-and-skipped-tests.html#skipping-tests-using-requires

[2021-08-11 08:06] franmomu opened #2358 "Add missing generic annotations"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

We've been adding some support for generics lately, `ClassMetadata` is generic, but there are some places as pointed out by @IonBazan

https://github.com/doctrine/mongodb-odm/blob/34a3cf8c8ce1d05ced9ce3d123ac8db602630c36/lib/Doctrine/ODM/MongoDB/Query/Filter/Bson

[2021-08-16 10:35] rimvislt opened #2361 "Outdated dependency - doctrine/cache"
### Feature Request

Is it a reason why it can not use "doctrine/cache 2.1.1" ?

$ composer prohibits doctrine/cache 2.1.1
doctrine/mongodb-odm  2.2.2  requires  doctrine/cache (^1.7)

[2021-08-16 10:36] #2361 closed, assigned to nobody

[2021-08-16 10:37] rimvislt commented on #2361
it is already in 2.3 version branch

[2021-08-16 18:20] malarzm commented on #2348
Placing classes in same file is great solution to be sure they're not reused across tests. Personally I like this approach but am open to changing it given sensible solution :)

This test probably remembers time when there also was a YAML metadata driver and its task was to ensure that every mapping option works for both drivers.

I will trust your best judgement here as you recently dived into ma

[2021-08-19 12:27] IonBazan commented on #2357
Fixed in #2360

[2021-08-19 12:27] #2357 closed, assigned to nobody

[2021-08-19 12:35] IonBazan commented on #2348
You are right but in this case, all the documents should be shared between all driver tests so we can use same assertions on same documents, but with different drivers. Maybe some of them could be placed in the test file itself, but I'd reserve it only for some edge cases or testing driver-specific features (like different ways to map Indexes in AnnotationDriver).

Yes, it seems that there used to

[2021-08-19 19:40] malarzm commented on #2348
Please do, let's have attribute driver benefit from this already :)

[2021-09-06 20:37] Bilge commented on #554
Imagine thinking anyone cares about design flaws.

[2021-09-07 06:32] alcaeus commented on #554
Imagine thinking anyone cares about Open Source being a joint effort.

[2021-09-07 07:33] IonBazan commented on #2339
@smilesrg This is because `IdType` converts `ObjectId` objects into `string` during hydration and this is expected behaviour as it decouples your document from internal persistence classes: https://github.com/doctrine/mongodb-odm/blob/2.2.x/lib/Doctrine/ODM/MongoDB/Types/IdType.php.
I would suggest typing your property as `string` instead. Another option would be to use `custom_id` field type (`@O

[2021-09-07 08:23] Bilge commented on #554
Imagine thinking open source means other people work for you for free.

[2021-09-07 18:28] malarzm commented on #1172
Custom collections are implemented for a while now, whoever wants immutability for inverse side of references can employ them :)

[2021-09-07 18:28] #1172 closed

[2021-09-18 09:43] IonBazan commented on #2358
Closed by #2367

[2021-09-18 09:43] #2358 closed, assigned to nobody

[2021-09-19 17:20] #2354 closed, assigned to nobody

[2021-09-19 17:22] IonBazan commented on #2354
Closing as duplicate of #2348. My bad.

[2021-09-27 14:58] jseparovic1 opened #2371 "Support wildcard indexes"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Mongodb supports adding [wildcard Indexes](https://docs.mongodb.com/v4.4/core/index-wildcard/) but it is not possible to configure it via mongodb-odm mappings.

Using following mapping:
[code]

Results in error `Line 27:0: Element '{http://doctrine-project.org/sc

[2021-09-28 02:47] IonBazan commented on #2371
Thanks for your bug report @jseparovic1. Let me know if #2372 fixes the issue for you.

[2021-10-09 12:22] hjardines opened #2376 "Support for some additional query Expressions"
### Feature Request

MongoDB v3.2 introduced $arrayElemAt as an Aggregation expression (among many others), which is very useful to filter for Arrays of Embedded documents at a given position, typically "first" or "last".
Ref: https://docs.mongodb.com/manual/reference/operator/aggregation/arrayElemAt/

Then later MongoDB v3.6 introduced the ability of using the same "operators" for regular queries

[2021-10-12 20:11] ikallali commented on #2137
+1
I need to store an array of CustomType, is there anything new on this request ?
thx

[2021-10-15 04:32] IonBazan commented on #2371
@jseparovic1 According to XSD schema, it is actually possible to create an index with wildcard keys - only the index name is currently limited to `xs:NMTOKEN`. If you don't mind renaming your index, you can always use:
[code]
until 2.2.3 is released.

[2021-10-17 03:43] #2371 closed, assigned to nobody

[2021-10-19 11:30] IonBazan commented on #2337
Fixed in 2.3. To be released in November.

[2021-10-19 11:30] #2337 closed, assigned to nobody

[2021-10-23 12:59] malarzm commented on #2376
We know we're lagging a lot with operators and at this point I'm not sure we'll be able to add all of them at once like we always wanted. I think we need do start adding them as requests pop up, so @hjardines if you have some time on your hands we'd greatly appreciate a PR adding them!

[2021-10-23 13:26] malarzm commented on #2137
Nothing really, still best to use own types

[2021-10-28 15:49] webmozart commented on #2349
I'm having the same problem, unfortunately.

[2021-10-31 21:25] ivanaareon commented on #1652
this is just what I'm trying to approach, how did you do this? when I flush, this is always storing an empty object :S

[2021-11-01 14:27] franmomu opened #2384 "PHPStan level 6"
It would be nice to reach level 6 for 2.3, but that would require quite some work, apart from https://github.com/doctrine/mongodb-odm/pull/2383, there are two more [checks](https://github.com/phpstan/phpstan-src/blob/master/conf/config.level6.neon) to reach that level:

- [ ] `checkGenericClassInNonGenericObjectType` (198 errors):  This one, every generic class should have defined its type/s.
- [

[2021-11-02 22:07] ivanaareon commented on #633
good, and how do you make reference relations between a primaro composite key and a secondary single index?

[2021-11-04 14:49] sysotel commented on #1888
@DavideTriso
Hi, is there any progress on multi document transaction support ?

[2021-11-04 14:53] delta4op commented on #1888
@DavideTriso Hey,
Any update on transactions support ?

I tried implementing this using this blog.
https://zgadzaj.com/development/mongodb/mongodb-multi-document-transactions-in-symfony-4-with-doctrine-and-mongodb-odm-bundle#symfony-doctrine

Though I get the following error while passing session to `flush()`
`The \"writeConcern\" option cannot be specified within a transaction. Instead, specify i

[2021-11-04 17:03] olvlvl commented on #1652
@ivanaareon I'm not using Doctrine when documents have compound identifiers. There are often projections, so that's alright for my usage.

[2021-11-05 10:56] pepeh opened #2387 "Doctrine deletes embedded documents"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 1.0.3-2.2.3

#### Current behavior

In current [PersistentCollectionTrait::getDeletedDocuments](https://github.com/doctrine/mongodb-odm/blob/2.2.2/lib/Doctrine/ODM/MongoDB/PersistentCollection/PersistentCollectionTrait.php#L256) implementation array_udiff used, and in some cases it returns wrong results s

[2021-11-08 10:04] DavideTriso commented on #1888
Hello @gitwithravish,

the error you have reported is related to how MongoDB works and not to the ODM itself.
When using multi-document transactions the write concern must be set on the whole transaction, which means you cannot set this on a single operation (e.g. when calling `$dm->persist()`).

Implementing multi-document transactions in ODM is currently not possible without BCs.
See https://git

[2021-11-08 10:51] delta4op commented on #1888
@DavideTriso
Thanks for reverting back.

I did not pass session in `$dm->persist()` method. I passed it in `->flush()` method as mentioned [here](https://zgadzaj.com/development/mongodb/mongodb-multi-document-transactions-in-symfony-4-with-doctrine-and-mongodb-odm-bundle#symfony-doctrine). This implementation is very old and it was demonstrated with version 1 odm package and it worked as well. How

[2021-11-08 21:54] DavideTriso commented on #1888
@gitwithravish I will reach you on Slack for further details

[2021-11-10 14:53] schaabez opened #2389 "open_basedir restriction in effect. File(/tmp) is not within the allowed path."
On some shared hosts / webspaces **the sys_get_temp_dir()** is not accessable / writeable.

Creating new MongoDB/Configuration will throw exception.

#### Possible solution

Propably removing setAutoGenerateProxyClasses from constructor of MongoDB/Configuration.php, to be able change the path.

[2021-11-12 05:45] #2387 closed, assigned to nobody

[2021-11-15 19:04] malarzm commented on #2389
I'm afraid we can't do that as that'd break configuration for folks relying on AUTOGENERATE_FILE_NOT_EXISTS mode as we'd need to change it to eval to have any default strategy in place. That'd fix your issue, but technically is a BC break.

I guess complaining about it to the provider doesn't help? Or according to https://www.php.net/manual/en/function.sys-get-temp-dir.php there's an INI setting t

[2021-11-30 22:32] StalkAlex commented on #2162
What's the current state of this issue? Was it fixed in the later major releases?

[2021-11-30 22:34] StalkAlex commented on #2162
@douglasjam have you found any workaround solutions for this issue?

[2021-12-01 08:36] douglasjam commented on #2162
@StalkAlex  I think mongodb-odm team already fixed the issue, at least I do not face this issue anymore.
Our practice here is to always use rewindable(false) readOnly(true) and keep clearing after batches.

[2021-12-01 09:47] StalkAlex commented on #2162
Unfortunately this issue is still reproducible in my case with odm v2.2.2.

[2021-12-01 21:14] malarzm commented on #2162
@StalkAlex is your case the same as described previously?

[2021-12-01 23:10] SenseException commented on #2099
The node injected in `Doctrine\RST\Directives\Toctree::process()` contains the list of the files, but some of them already have a borked format.

[code]

It seems it's not a problem of the rst toctree, but of the parser. The ones like `/reference//reference-mapping` and `/reference/bidirectional-/references` are missing as far as I can see on the website.

[2021-12-02 07:31] malarzm commented on #2099
@SenseException any idea how could that be happening? Links in https://github.com/doctrine/mongodb-odm/blob/2.3.x/docs/en/sidebar.rst are correct :/

[2021-12-02 13:22] maxgorovenko commented on #2099
I guess the problem could be in word `reference` which can be kind of reserved word. But I didn't find out how the doc has been generated :(

[2021-12-02 19:06] malarzm commented on #2099
@maxgorovenko I think that might be partially true! But I think it's not a reserved word but a wrong search-and-replace, something like `reference` to `/reference` which doesn't stop after first replacement. @SenseException does it ring any bell for the build process?

[2021-12-02 22:41] malarzm commented on #2099
Got it! https://github.com/doctrine/doctrine-website/blob/c6c909842136085cb05f202b03a7d56387ce0d8e/lib/Docs/RST/RSTCopier.php#L171

[2021-12-02 22:46] SenseException commented on #2099
You were faster. :-D

[2021-12-03 17:12] jseparovic1 commented on #1888
@DavideTriso @gitwithravish If you have any conclusions please write it here. Thank you :)

[2021-12-04 19:41] #2099 closed

[2021-12-08 07:57] DavideTriso commented on #1888
My conclusion is that it is possible to use multi-document transactions with odm by implementing your additional layer to handle them, but with some limitations. This approach is only possible if you do not rely on the built-in events system of doctrine, because odm is not aware of the transaction and fires the “post-flush” events as soon as the db command is executed.
The other problem is that af

[2021-12-08 08:12] DavideTriso commented on #2162
I also faced this issue when loading documents in chunks (50 documents per query) to edit them: the memory usage increases after each iteration.

[2021-12-10 12:38] nixilla commented on #2051
I've answered this question on SO, if you still need it.

[2021-12-10 20:23] malarzm commented on #2051
@nixilla cool! Would you mind contributing to our documentation as well?

[2021-12-12 19:09] douglasjam opened #2396 "BSON field 'collMod.validator' is the wrong type 'array', expected type 'object' on Mongo 5"
### TL;DR

Running `doctrine:mongodb:schema:update` with mongo 5 throws a weird error `BSON field 'collMod.validator' is the wrong type 'array', expected type 'object'` but on Mongo 4.4 works

### Detailed version

I have a problem that I'm facing for some days already and have no idea how to fix it, maybe sharing here someone can help me.

When running `./bin/console doctrine:mongodb:schema:updat

[2021-12-13 15:22] GuillQuirin commented on #2396
I faced the same error today and it is the `$validator` variable by default set as an array in ODM/MongoDB/SchemaManager.php in the updateDocumentValidator() method who triggers the error.

If you edit by `$validator = (object) [];` it works correctly but it is just a quick workaround...

[2021-12-13 18:16] malarzm commented on #2396
The first step forward would be to add MongoDB 5.0 to the test matrix as we haven't gotten to it yet. Hopefully some of our tests will break :) @douglasjam @GuiReco anybody up for a PR?

[2021-12-21 19:04] malarzm opened #2397 "Handle intersection types in custom collections"
Originally reported in https://github.com/doctrine/common/issues/948 and while collection generation was based off doctrine/common's proxy generation it'll need an update too.

[2021-12-25 23:23] #2397 closed, assigned to nobody

[2021-12-27 23:08] malarzm commented on #2182
Fixed with #2392

[2021-12-27 23:08] #2182 closed

[2021-12-28 08:02] #2396 closed, assigned to nobody

[2021-12-28 19:02] malarzm commented on #2389
Closing as fixing the issue doesn't seem feasible on our end and a workaround exists.

[2021-12-28 19:02] #2389 closed, assigned to nobody

[2021-12-29 16:04] nikophil opened #2402 "Not authorized to execute collMod during schema creation"
Hello,

### BC Break Report

|    Q        |   A
|------------ | ------
| BC Break    | yes
| Version     | 2.3.0

#### Summary

Since we've upgraded to doctrine/mongo-odm 2.3.0 the `authSource` will always be `admin` even if another one is provided in the dsn with the `authSource` param. This leads to "authentication failed" errors.

#### How to reproduce

try to connect to a database which authe

[2021-12-29 19:00] malarzm commented on #2402
@nikophil are you sure this is because of ODM and not some other library/driver update? Asking because `authSource` is not used anywhere in the ODM: https://github.com/doctrine/mongodb-odm/search?q=authSource

[2021-12-30 08:02] nikophil commented on #2402
Hi @malarzm
I'm a sure: I looked for the culprit by dichotomy and found `doctrine/mongo-odm:2.3.0`:
[code]

maybe, I'm mistaking and the root cause is not `authSource` parameter, but the error only occurs on a database with authentication database has a name different than `admin`.

BTW here some extra info:
php: 8.0.12
mongo-ext: 1.10.0
mongodb/mongodb: 1.9.0
symfony/* : 5.4.*
doctrine/mongodb-od

[2021-12-30 08:36] malarzm commented on #2402
This query comes from new feature in ODM 2.3 (https://github.com/doctrine/mongodb-odm/pull/2238). Most probably the user you're authenticating with is not authorized to run [`collMod` commands](https://docs.mongodb.com/manual/reference/privilege-actions/#mongodb-authaction-collMod)

[2021-12-30 08:44] nikophil commented on #2402
thanks for this, I'll ask for a change of the authorization o my user, I'll let you know.

sorry for the misunderstanding about `authsource`

[2022-01-13 10:54] IonBazan opened #2404 "Support for PHP 8.1 enums"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

We could add native support for PHP 8.1+ enums by adding a new parameter to the mapping that allows to define the enum class name like it's done in ORM: https://github.com/doctrine/orm/pull/9304

[2022-01-21 11:29] sakalys commented on #2162
![image](https://user-images.githubusercontent.com/6958886/150519499-4ab878a9-6a84-4bb9-8590-813d36010017.png)
This happens when iterating over a collection. I. e. the $items property keeps being appended. Did not find a way to avoid this behavior yet.

[2022-01-21 12:12] Steveb-p commented on #2162
I guess `PersistentCollection` should have some way of disabling the result caching?

[2022-01-21 13:34] sakalys commented on #2162
I found that in later versions of doctrine/mongodb-odm there is a way to make an `UnrewindableIterator`, which does not store the traversed items within it. Hence it is enough to flag the query as '$rewindable = false`. That's it.

**But**, this is not possible in some older projects of which dependencies do not allow to have that newer version of the mongodb-odm. Sadly... It's time to do some upg

[2022-01-28 19:39] ozahorulia commented on #2404
I'm already using this feature in the latest doctrine ORM. It would be great to have the same functionality for the ODM.

[2022-01-29 21:22] malarzm commented on #2404
Referencing ORM's PR we could base our work on: https://github.com/doctrine/orm/pull/9304

[2022-02-03 11:41] runtothefather opened #2405 "After upgrading odm into 2.3.0+ faced with the issue with doctrine:mongodb:schema:update command"
since 2.3.0+ doctrine:mongodb:schema:update command start execute validators on the schema also and it can't be skipped, beforehand only indexes were applied, are there any chances to add option or parameter into the command to skip this?

[2022-02-03 22:04] #2402 closed, assigned to nobody

[2022-02-03 22:04] malarzm commented on #2405
What's the problem with executing validators? We're only aware of #2402 so far

[2022-02-04 14:11] markitosgv commented on #2063
Any updates @alcaeus about this? Thanks!

[2022-02-04 16:12] malarzm commented on #2063
@markitosgv no updates on our end but we'll appreciate help adding any and all missing features :)

[2022-02-07 12:39] runtothefather commented on #2405
for instance we wouldn't like to grant these type of permissions for deploy|prod user

[2022-02-10 01:39] ozahorulia commented on #2349
I'm having the same problem with PHP 8-style constructors:

[code]

[2022-02-10 03:33] ozahorulia opened #2406 "Update command copies index from parent class"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | unknown
| Version     | 2.3.1

#### Summary
I have two documents: **Job** and **ScheduledJob extends Job**.

[code]

And I have two separate mappings for both documents, with different sets of indexes:

[code]

[code]

#### Current behavior

When I use command `odm:schema:update`, collection **scheduled_job** is getting two

[2022-02-10 06:53] Steveb-p commented on #2349
@Hast constructors are not called by Doctrine initializer as far as I know, unless something changed recently.

Reason being this allows you to have your own constructors with enforced data, while Doctrine is "only" interested in setting the relevant fields with values coming from database.

If you need to do some set up when Doctrine loads an object, then you can use PostLoad lifecycle event.

[2022-02-10 07:21] IonBazan commented on #2349
Exactly, like @Steveb-p said - when Doctrine hydrates your entities via Proxy objects, constructor is not called because the remaining data should be hydrated from DB. This is expected behaviour and applies to ORM AFAIK.

I understand that sometimes you may need to set some missing stuff in unmanaged properties to make your Document class "valid" but you may achieve that by using `PostLoad` callba

[2022-02-13 17:34] malarzm commented on #2406
What you see is an expected behaviour - child classes inherit everything from their parent classes. If you don't want this to happen (and I assume your `Job` class has some logic inside that `ScheduledJob` needs to have as well) you need to have following structure:

[code]

You can read more about inheritance here: https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.2/reference/in

[2022-02-13 17:34] #2406 closed, assigned to nobody

[2022-02-13 17:56] malarzm commented on #2405
In my opinion `collMod` is a perfectly fine permission for a deploy user. I believe that adding a skip option will bite folks who few months from now will forget about it, wonder why validators aren't created and open issues that their validators aren't created. Last but not least, adding an opt-out requires user action anyways.

Having said all that I do get that a new and unused feature broke co

[2022-02-14 22:33] ozahorulia commented on #2406
Got it, thank you.

[2022-02-14 22:40] ozahorulia commented on #2349
@Steveb-p I understand that constructor is not called, but in this case those are not constructor logic or initialization, but a new way of declaring properties as of PHP 8. That's why I suppose It must follow the same logic as with old-style property declaration, mustn't it?

**UPD:**

Sorry, my initial code snippet was incorrect. What I meant was:
[code]

[2022-02-15 08:34] malarzm commented on #2349
I'm afraid this needs to be solved on https://github.com/Ocramius/ProxyManager level

[2022-02-19 21:48] smilesrg commented on #1705
3 years passed, wow...

Why not to make reference embedded documents with describing parent documents as a parameter? Something like:
`@EmbeddedReferenceOne(targetDocument=Embedded::class, parentDocument=RegularDocument::class)` ?

[2022-02-20 13:38] malarzm commented on #1705
How that would change things?

[2022-02-20 13:44] smilesrg commented on #1705
The embedded document can be fetched from the other document. For example, there is document `A`, `B`, `C`, embedded document `E` (that has Id) that belongs to both `A` and `B`, also let's suppose that `C` has the reference to the embedded `E` document, that belongs to `A`. With `@EmbeddedReferenceOne(targetDocument=E::class, parentDocument=A::class)` we can specify that embedded `E` needs to be f

[2022-02-20 13:55] malarzm commented on #1705
In my opinion if `E` needs to be referenced from 3 different documents, it shouldn't be an embedded document in the first place.

[2022-02-20 15:05] smilesrg commented on #1705
Data can be denormalized, so you could have the same embedded document in different collections. Moreover, in Doctrine MongoDB ODM, an embedded document has no reference to its parent document, because of the denormalization reason.

[2022-02-20 19:04] malarzm commented on #1705
I'm sure there was a feature request for such a thing but I can't seem to find it right now. Anyway the conclusion was this can easily be achieved with a `@PostLoad` lifecycle event and manual set of the reference instead of a full blown feature

[2022-02-21 05:51] smilesrg commented on #1705
https://github.com/doctrine/mongodb-odm/issues/1619#issuecomment-316048458

It's a workaround

[2022-02-21 07:56] malarzm commented on #1705
That's not the issue I had in mind, this one talks about storing additional field in references so more data is available without initializing a proxy.

[2022-02-24 09:19] antonintouron commented on #2124
Documentation not updated (boolean instead bool) => https://www.doctrine-project.org/projects/doctrine-mongodb-odm/en/2.2/reference/basic-mapping.html

![image](https://user-images.githubusercontent.com/37710765/155495383-c639284f-5677-4772-b75b-b7046e62d468.png)

[2022-03-02 11:01] davidemerlitti opened #2415 "How to update a field annotated as ReferenceMany by using setNewObj in findAndUpdate of QueryBuilder"
|    Q        |   A
|------------ | -----
| Version     | 2.3.1

### Support Question
I have this class (a semplified version of my real class...):

[code]

I want to update the `A` object identified by $oid with `hasManyB` property set to an array of two objects of class `B` identified by $oid1 and $oid2:

[code]

The method `prepareQueryOrNewObj()` of `DocumentPersister` calls the `prepareQueryE

[2022-03-03 23:49] malarzm commented on #2415
Have you tried passing actual documents (or just proxies obtained with `DocumentManager::getReference`) to the `refB` array? Given ODM tries to prepare values and gets to reading identifiers, it could work. If it does not please try asking on StackOverflow under `doctrine-odm` tag, you'll have better chances to have your question answered :)

[2022-03-03 23:49] #2415 closed, assigned to nobody

[2022-03-19 17:39] malarzm opened #2419 "Support doctrine/persistence 3.0"
Ideally we need to allow `lowest possible 2.x || ^3.0`. I guess we'll need to go for 2.4 as a minimum because of ReflectionEnum and annotation driver changes anyway.

Basing on https://github.com/doctrine/persistence/blob/3.0.x/UPGRADE.md:

- [x] Removed `OnClearEventArgs::clearsAllEntities()` and `OnClearEventArgs::getEntityClass()` - https://github.com/doctrine/mongodb-odm/pull/2423
- [x] remove

[2022-03-25 10:00] Eugentis opened #2421 "HydratorFactory optimization for possible DI"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Summary

Hi!
While I am working with this lib I've detected that you have some strange constructor for HydratorFactory

My DI hits the problem with binding at this factory constructor `$hydratorDir`, `$hydratorNs`, `$autoGenerate`.
I understand that it is problem of my DI (it is raw tool r

[2022-03-26 12:20] malarzm commented on #2421
It's good to be explicit :) Now anybody instantiating HydratorFactory knows exactly what is needed instead of wondering what should be set in the Configuration object. Anyway, the Configuration object could have been passed, or even not passed at all and relied on DocumentManager's getConfiguration (although this one's fishy as DocumentManager is not yet build when we're HydratorFactory is created

[2022-03-26 12:20] #2421 closed, assigned to nobody

[2022-03-27 22:47] khaperets commented on #1863
Hi everyone, is there any progress on this issue?

[2022-03-27 23:06] khaperets commented on #1863
Simple working example:
[code]
and in your code:
[code]

[2022-03-28 20:14] malarzm commented on #1863
Please, do send PRs not questions or comments :)

[2022-03-29 10:19] ksowa opened #2422 "Problem with Doctrine ORM / ODM differences in proxy class naming"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.3.2

#### Summary

After upgrading from ODM v1.x, I noticed there is a difference in naming of proxy classes between Doctrine ORM and ODM. This wasn't the case in the 1.x. It causes some unexpected behaviors when trying to store objects loaded from ORM to the ODM source.

#### Current behavior

Currentl

[2022-03-29 14:19] malarzm commented on #2422
Sadly we can't fix this. With ODM 2.0 we decided to use https://github.com/Ocramius/ProxyManager instead of Doctrine's Proxy mechanism as what Marco wrote is way more powerful than our old solution. IIRC ORM also had plans to switch over to the new proxy mechanism which I guess would somehow fix your issue. But I don't know any details if and when ORM will do such a leap.

Offhand I'm not negating

[2022-03-29 14:19] #2422 closed, assigned to nobody

[2022-03-29 15:43] ksowa commented on #2422
Thank you @malarzm for clarifying the situation.

It's not about using uninitialized objects. Even if ORM initializes it, it's still going to be an instance of a proxy class.

[2022-03-29 15:58] malarzm commented on #2422
My comment was about using your approach in ODM 1.x :)

[2022-03-29 16:01] ksowa commented on #2422
My approach didn't change - I use initialized objects, however since they are lazy-loaded, they are instances of proxy classes.

But it's irrelevant in case of this issue report. Thanks again for your help!

[2022-03-29 17:22] malarzm commented on #2419
We need to prepare for https://github.com/doctrine/persistence/pull/272/files as our event is reusing common one's properties: https://github.com/doctrine/mongodb-odm/blob/2.3.x/lib/Doctrine/ODM/MongoDB/Event/OnClearEventArgs.php

[2022-03-30 21:07] ksowa commented on #2422
@malarzm I've done some more debugging and there's one thing which interested me. Maybe you would be able to explain the logic.

Let's take the same example as above - an instance of `class Proxies\__CG__\App\Entity\User\Profile extends App\Entity\User\Profile`.

For an instance of the above class:
1. ODM calls `Doctrine\Persistence\Mapping\AbstractClassMetadataFactory::getMetadataFor()` with `Pro

[2022-03-30 21:58] malarzm commented on #2422
To my knowledge, no. The idea is that we need parent's mapping to inherit everything that was defined there, take a look at ODM's ClassMetadataFactory: https://github.com/doctrine/mongodb-odm/blob/2.3.x/lib/Doctrine/ODM/MongoDB/Mapping/ClassMetadataFactory.php#L127.

To solve your issue you could try one of the following:

1. ODM provides an event for missing metadata (https://github.com/doctrine/

[2022-03-30 22:04] ksowa commented on #2422
@malarzm yeah, I've already solved my issue by implementing the subscriber you mentioned in (1). And later I started wondering why ODM tries to load parent's class mappings. Looks like I didn't realize ODM does that to support `Mapped Superclasses` feature.

Thank you again for the next part of clarifications!

[2022-04-06 14:30] malarzm opened #2424 "Deprecate NOTIFY change tracking policy"
I've just found out that ORM plans to deprecate the feature (https://github.com/doctrine/orm/issues/8383):

Given we've done nothing to improve NOTIFY change tracking since I'm here I guess we're having same issues as ORM had and just don't know about it. Let this issue here serve as an announcement and we'll see if anybody complains :)

[2022-04-11 15:54] ksowa commented on #2405
@malarzm the lack of the ability to turn off validators update also causes problem with AWS DocumentDB (v4.0.0 in my case), which is MongoDB-compatible, but in the same time has a few features turned off.

The output of `doctrine:mongodb:schema:update` using AWS DocumentDB is as follows:

[code]

Here is a list of supported MongoDB operations: https://docs.aws.amazon.com/documentdb/latest/develope

[2022-04-11 17:07] malarzm commented on #2405
We're not supporting DocumentDB, but given we can solve more than 1 issue with a feature switch I'm open to adding a `--disable-validators` (not that I like it or changed my opinion about it tho) in a bugfix version. Command with disabled validators should throw an exception if it encounters a document with defined validators. @ksowa up for a PR?

[2022-04-11 17:32] ksowa commented on #2405
@malarzm sure, I’ll be happy to create one. Thanks!

[2022-04-11 23:02] ksowa commented on #2405
I've created the PR, however it does not include the `Command with disabled validators should throw an exception if it encounters a document with defined validators` part. These are the reasons:

1. I'm not sure if users would expect any exceptions regarding validation rules if they disable their update by an option.
2. The flow could be confusing if they wanted to clear existing rules from the DB

[2022-04-13 08:11] pcmanprogrammeur opened #2427 "Support when@test"
Hello,

When we make tests, the "when@test" instruction is very usefull, in doctrine.yaml, to specify a different database when running tests :

[code]

It could be a good thing to make the same thing in this package like this in doctrine_mongodb.yaml :

[code]

What do you think about this feature ?

Thanks.

[2022-04-13 08:21] Steveb-p commented on #2427
@pcmanprogrammeur this is strictly a feature of `symfony/config` (and it's environment handling) and has little to do with Doctrine bundles.

[2022-04-17 14:21] HuzaifaBinZahoor opened #2429 "PHP Fatal error: Uncaught exception 'MongoWriteConcernException' with message 'localhost:27017: Unknown modifier: $pushAll."
|   I don't know what seems to be the problem here. I installed doctrine in a folder where there was no other package other than doctrine and then performed the ODM CRUD operation without any error. When I installed the Symfony 2 project installed the same doctrine package that was working fine I am getting errors.        |   A
|------------ | -----
| Symfony2     | Doctrine 1.0.0

### Support Que

[2022-04-17 15:26] sanjyotpanure commented on #2429
The $pushAll operator is no longer supported in Mongo in version 3.5 and above.

Try replacing .push with .unshift to deal with this error.

[2022-04-17 16:05] malarzm commented on #2429
Both Symfony2 and 1.0.0 version of ODM are not supported for a long time, please update. Also please don't repost [StackOverflow questions](https://stackoverflow.com/questions/71902564/fatal-error-uncaught-exception-mongowriteconcernexception-with-message-local) here.

[2022-04-17 16:05] #2429 closed, assigned to nobody

[2022-04-18 11:03] HuzaifaBinZahoor commented on #2429
Hey Guys, just for your knowledge, even though it's not been supported for a long time, the error was not the version. It was some manual configuration that I was required to set up.
I was able to resolve it;')
Thanks
KR

[2022-04-18 18:18] #653 closed

[2022-04-18 18:18] #1040 closed

[2022-04-18 18:18] #887 closed

[2022-04-18 18:18] #1165 closed

[2022-04-18 18:19] #1286 closed

[2022-04-18 18:19] #1507 closed

[2022-04-18 18:19] #2355 closed, assigned to nobody

[2022-04-18 18:39] malarzm commented on #2355
I do believe this is fine now with caching in place.

[2022-04-20 15:29] #2405 closed, assigned to nobody

[2022-04-21 09:57] ivan-wolf opened #2431 "Consider setting field to `null` for upserts"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | unknown
| Version     | `2.3.1`

#### Summary

The behavior in question was introduced with #2318, I believe.

#### Current behavior

Consider the following scenario:

1. A document has `foo: bar` set in MongoDB.
2. In code, the respective document (unmanaged) has `foo: null` set.
3. When persisted, the value in MongoDB is

[2022-04-24 12:34] malarzm commented on #2431
If my memory serves me right we don't update fields to null with upsert to allow partial upserts. Sadly this look like yet another issue that could be solved by a proper upsert API which we still don't have :/

[2022-04-27 22:04] malarzm opened #2435 "Deprecate DocumentManager::merge"
The `merge` method is removed from the `ObjectManager` interface in `doctrine/persistence` 3.0 and as such we are free to deprecate (and eventually remove) it as well. Throughout the years the `merge` operation was one of the most misused functionality across all Doctrine's data mappers. Having said that the `merge` functionality has its value when caching comes into play, especially since the ODM

[2022-04-29 08:40] ivan-wolf commented on #2431
Hi @malarzm. Thank you for your reply!

I had a quick look around but didn't find out the rationale behind "partial upserts". Can you please elaborate on that?

The way I see it, with PHP becoming more type-safe, it's not a likely use case that a document/object is created with only some properties set, with the goal to only have these properties/fields updated in MongoDB 🤔

Having said that, I'm

[2022-04-29 11:44] malarzm commented on #2431
Currently it's perfectly fine to do something like (keeping it simple, not gonna worry about accessors, validation, et al)

[code]

That's true for a lot of new applications (but not all). But there's a lot of apps that are older :) Of course they should be actively maintained and upgraded, but reality often differs. The most important part here is that we must not change the current behaviour as

[2022-05-03 10:34] IonBazan opened #2441 "Normalize `assert*()` calls in tests"
### Improvement

Currently `assert*()` calls are inconsistent between tests:
- `self::assert*()` (preferred)
- `static::assert*()` - good alternative for above, but tests should usually be `final` and overriding core methods is not expected
- `$this->assert*()` - this one is invalid as assertion methods are usually static

This should be enforced by static analysis/code style.

[2022-05-03 12:11] malarzm commented on #2404
Merged in #2440

[2022-05-03 12:11] #2404 closed, assigned to nobody

[2022-05-04 21:52] #2419 closed, assigned to nobody

[2022-05-04 21:54] malarzm commented on #2424
Looks like auto-closing on PR merge is broken

[2022-05-04 21:54] #2424 closed, assigned to nobody

[2022-05-08 00:56] hjardines commented on #1490
+1 for adding the Event hook as suggested by @alex-bacart

_**mongodb-odm**_ is great but the hydration process takes too much and is loading the same documents over and over because the references are the same.

I found that using [preLoad](https://github.com/doctrine/mongodb-odm/blob/2.3.x/lib/Doctrine/ODM/MongoDB/Hydrator/HydratorFactory.php#L476) and [postLoad](https://github.com/doctrine/mong

[2022-05-08 11:11] malarzm commented on #1490
This doesn't sound right. After the document is loaded (and hydrated) it's stored in unit of work's identity map, and that very object is reused each time ODM needs it.

Probably `postPersist` and `postUpdate` events?

[2022-05-19 20:58] simonoche opened #2448 "Switching "symfony/var-dumper" in require-dev"
### Feature Request

The package symfony/var-dumper is currently required in the main "require" channel.
From my research, there is no valid reason for it to be loaded outside of a dev environment (for mongodb-odm).

I think it is widely accepted that putting this package in a production environment can be dangereous.

The verbosity of the var-dumper can reveal very compromising information. For e

[2022-05-19 21:54] malarzm commented on #2448
The reason for `symfony/var-dumper` in the `require` section is this command: https://github.com/doctrine/mongodb-odm/blob/2.4.x/lib/Doctrine/ODM/MongoDB/Tools/Console/Command/QueryCommand.php. I have never used it myself but I reckon it's useful since we're shipping it since the very beginning :)

Theoretically we could move the requirement to `require-dev`, put it in `suggest`, and throw an exce

[2022-05-19 22:17] simonoche commented on #2448
You're right, _var_dump_ or _print_r_ may be "dangerous" as well.

However, Symfony's var-dumper package  is intended (I guess) for debugging (only?), and is quite popular those days.

If you are not too careful, you easily end up with var-dumper loaded in production ("because of" doctrine-mongodb). Eventually, there may be unpleasant surprises then.

I totally understand your point of view, and t

[2022-05-20 06:59] malarzm commented on #2448
Or a fatal error due to an unknown function `dump` :P Either way one should go all the way to prevent this from happening in the first place ;)

[2022-06-02 12:14] pietereggink commented on #2431
We experienced the same problem, why is it not allowed to upsert a column from an existing value to a null value?

File: PersistenceBuilder.php
Line: 249.php
Version: 2.4.2

[code]

What is the reason why this code is added?

I think this should be the same as on line 147

[code]

Also the documentation is incorrect, (// Fields with a null value should only be written for inserts) but if you check

[2022-06-02 13:52] malarzm commented on #2431
For the exact reason I've outlined in the previous comment:

[2022-06-06 20:48] dmerlitti commented on #2415
Dear @malarzm

thank you for you suggestion. I tried to pass both documents returned from DocumentManager::find () and proxies returned from DocumentManager::getReference (). I get the same wrong result.

[2022-06-07 10:08] davidemerlitti commented on #2415
Hi @malarzm,

the only way to fix the problem was to patch the function DocumentPersister::prepareQueryElement(...) at line 1222 in this way:
[code]

[2022-08-15 15:45] p-golovin opened #2453 "Nullable embedded documents not initialized"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| Version     | 2.4.2

#### Summary

Problem is quite similar to https://github.com/doctrine/mongodb-odm/issues/2301, but we try to configure not with xml, but with attributes.

#### Current behavior

[code]

On loading document without Image subdocument we get error
`Typed property Publication::$image must not be access

[2022-08-15 16:15] malarzm commented on #2453
I don't think this is related as nothing mapping related changed in #2302. I'd rather guess that your document has no `null` field stored in the database?

[2022-08-15 16:28] p-golovin commented on #2453
We tried both cases:

1. Without null stored in database.
Get error.

2. With null stored in database.
Get no error in case of requesting full field 'image' in query builder projection:
`$qb->select('title', 'pub_date', 'image')`
And get error in case of requesting 'image.url' subfield:
`$qb->select('title', 'pub_date', 'image.url')`

I think, that field need to be initialised with null even in ca

[2022-08-15 17:07] malarzm commented on #2453
Try making `null` a default value: `private ?Image $image = null;`. That way the field will be initialized with null even though ODM didn't hydrate the field.

Is the error coming from hydration as well?

[2022-08-15 17:43] p-golovin commented on #2453
1. In case of storing null in database and use 'image' in projection:
![image](https://user-images.githubusercontent.com/7702213/184686269-4f7f6783-6d1f-40d4-b5a2-8ef65a2ada6b.png)
All works at this point. But there is problem with document serialisation: we get `'image': null` in json instead of absence image field.

2. In case of storing null in database and using 'image.url' in projection:
![im

[2022-08-15 20:01] malarzm commented on #2453
Using 3 should still make projection "work" as the `image` will be initialized to null, no? Generally speaking if there's no `image` object in stored document projection will not return it. Same goes for `null`:

[code]

[2022-08-16 12:57] p-golovin commented on #2453
Thank you! This works well.

[2022-08-16 13:40] #2453 closed, assigned to nobody

[2022-08-25 13:03] ivan-wolf opened #2454 "Running `odm:schema:update` produces deprecation warning"
Running `odm:schema:update` (https://github.com/doctrine/mongodb-odm/blob/2.4.x/lib/Doctrine/ODM/MongoDB/Tools/Console/Command/Schema/UpdateCommand.php) on PHP `8.1.8` produces the following warning:

`Deprecated: Return type of MongoDB\Model\IndexInfoIteratorIterator::current() should either be compatible with IteratorIterator::current(): mixed, or the #[\ReturnTypeWillChange] attribute should be

[2022-08-25 13:32] mposchl opened #2455 "Aggregation with $text match() is not possible on documents with discriminator map set"
I wonder why it is not possible to match text index in documents, that have discriminator map set. ODM always prepends this discriminator map (via the filters) to the query and when you add a match stage in the pipeline, it always fails within the getAggregation() call as the $text stage has to be the first pipeline. Is this by design, is there some workaround or is it a bug?

[2022-08-25 20:30] malarzm commented on #2454
The class causing the deprecation you're seeing comes from the MongoDB's library, as the error's filepath is pointing. From what I can tell the `#[ReturnTypeWillChange]` is already [there](https://github.com/mongodb/mongo-php-library/blob/5d48a1ed3e3700fb4b53d623977244c461ad699c/src/Model/IndexInfoIteratorIterator.php#L61) so probably you just need to update your dependencies.

[2022-08-25 20:30] #2454 closed, assigned to nobody

[2022-08-25 20:38] malarzm commented on #2455
From the top of my head it could have been done by an accident: we needed to add filter for the discriminator map and nobody thought about `$text` restrictions. As a proof of concept you could try forcing automatic discriminator-map-filter to be put as a second stage if `$text` was used (and only then). Using such approach we will not break any working functionality. If it works then cool, if not

[2022-08-26 09:19] MVA18 commented on #2149
Is there any progress on this issue?

[2022-08-26 09:33] alcaeus commented on #2149
Given the lack of updates here, I'd say "obviously not".

[2022-09-01 16:15] rimvislt opened #2458 "Compatibility fix mapping drivers is not working."
include_once(Doctrine/Persistence/Mapping/Driver/AnnotationDriver.php): Failed to open stream: No such file or directory

..vendor/doctrine/mongodb-odm/lib/Doctrine/ODM/MongoDB/Mapping/Driver/CompatibilityAnnotationDriver.php:12

[code]

adding into composer.json

**"doctrine/orm": "2.11.*",**

fixes it temporary but not sure why that compatibility fix is needed if it is not working.
So now I can

[2022-09-01 20:53] greg0ire commented on #2458
Sounds more like you are using a buggy autoloader. One should be able to use `class_exists()` on a class that does not exist without getting a crash, but `false`, agree? You use Composer, right? If yes, what version?

[2022-09-08 13:10] Alaarafeh opened #2460 "Add $search the official aggregation stage for running search queries"
Doctrine\ODM\MongoDB\Aggregation\Stage we have all possible aggregation stages excapt two Stages:

1. $search
2. $searchMeta

Useful links:
https://www.mongodb.com/docs/atlas/atlas-search/query-syntax/

[2022-09-15 08:09] dq042000 opened #2461 "Call to a member function getClassAnnotations() on array"
Hi,

Running mongodb gives error:
[code]

Error message:
[code]

Working environment:
PHP 8.1
doctrine/mongodb-odm 2.4.2

[2022-09-16 10:23] malarzm commented on #2461
Thanks @dq042000 for the report! I'm afraid we can't do much without a failing test case. Please take a look at our functional test suite and send as a PR with a test reproducing issue you're facing.

[2022-09-16 14:54] dq042000 commented on #2461
Thanks @malarzm for the reply,

I found the problem, but I don't know where to set it?
./vendor/doctrine/mongodb-odm/lib/Doctrine/ODM/MongoDB/Mapping/Driver/AnnotationDriver.php:58
[code]

print_r $this->reader:
[code]

This gives me the error message:
[code]

but I add `$reader = new AnnotationReader()` to works fine:
[code]

[2022-09-17 10:55] malarzm commented on #2461
I'm sorry but I have no idea what are you trying to do

[2022-09-17 10:57] malarzm commented on #2461
It seems you're using ODM directly? If so you can take a look at the [Symfony's bundle](https://github.com/doctrine/DoctrineMongoDBBundle) or [Laminas' module](https://github.com/doctrine/DoctrineMongoODMModule) how to wire ODM.

[2022-09-17 21:24] malarzm commented on #2460
@Alaarafeh would you be interested in submitting a PR adding missing stages and tests for them?

[2022-09-18 09:34] dq042000 commented on #2461
Thanks @malarzm

[2022-09-18 09:34] #2461 closed, assigned to nobody

[2022-09-20 07:09] Alaarafeh commented on #2460
@malarzm  i could give try i have already patch in my project and works for me , i will try to create PR but i don't know what version policy you have as PR (should i create new branch from current version as bug/feature) ? and which kind of tests you used (unit, integration or functional)?

[2022-09-20 07:26] malarzm commented on #2460
Your contribution will be a feature in 2.5. Please target 2.4.x branch for now however, I'll take care of branching 2.5.x off once I'm done with bringing back CI to life.

Functional test is not needed, we're mostly interested whether the stage produces correct query after usage. Something like https://github.com/doctrine/mongodb-odm/blob/2.4.x/tests/Doctrine/ODM/MongoDB/Tests/Aggregation/Stage/Lo

[2022-09-20 22:13] malarzm commented on #2460
@Alaarafeh `2.5.x` was just created, please start your work from there whenever you have a chance :)

[2022-09-22 11:29] stephen-swsm opened #2463 "How to construct a match expr() comparing two fields in the same collection"
Hi

We have a collection, in which there are 2 date fields, _timestamp_ and _userCreatedAt_,  and we want to match rows where _timestamp_ is less than 1 minute after the _userCreatedAt_ date.

i.e.
[code]
1. A logical solution might be as follows, but we get error presumably because the return of the expression is in milliseconds

[code]

2. Using addFields before the match we can create the times

[2022-09-26 18:03] malarzm commented on #2463
I'm afraid I'm not able to provide much insight into this, you may have more luck asking on StackOverflow and tagging your question with [doctrine-odm](https://stackoverflow.com/questions/tagged/doctrine-odm).

Also you may inspect the pipeline constructed with a builder using `\Doctrine\ODM\MongoDB\Aggregation\Builder::getPipeline` - maybe that'll help you :)

[2022-09-26 18:03] #2463 closed, assigned to nobody

[2022-09-27 17:49] malarzm opened #2464 "[RFC] Bump minimal PHP version to 7.4"
https://packagist.org/packages/doctrine/mongodb-odm/php-stats#2 shows that ~95% of 2.x users are using at least PHP 7.4 while the minimum required version in 7.2. Given 7.2 -> 7.4 is not bumping for the sake of bumping but would allow us to modernize our code this is a minimum bump we should consider for next minor version.

- [x] Bump minimal PHP version in composer.json
- [x] Remove PHP version

[2022-09-29 03:47] IonBazan commented on #2464
By all means! Bumping to 7.4 would give us many syntax improvements but some breaking changes may occur when using covariance/contravariance.

[2022-09-30 14:22] stephen-swsm commented on #2463
Thanks but unfortunately that's not much use, in fact in one of the scenarios postman kills the request because the output from getPipeline is to large - possibly a recursion issue?

As much as I'd love to keep up the trial an error approach I think we're just going to have to put this down as an unsupported query construct.

It can be achieved as follow using [facile-it/mongodb-bundle](https://pa

[2022-10-02 10:06] malarzm commented on #1863
#2459 was merged manually, we can close this one 🎉

[2022-10-02 10:06] #1863 closed

[2022-10-03 19:32] malarzm commented on #2458
Closing due to lack of response.

[2022-10-03 19:32] #2458 closed, assigned to nobody

[2022-10-05 09:11] eerison commented on #1353
Hey @malarzm

as you have such experience with mongodb and I believe you passed for many issues in the past!

When you have sometime, could you post here tips or concerns what should be the "best" approach to support `DynamoDB`

I don't know if already exist a "core" repository that contains the basic code that is used for NoSql database, and maybe we could create different repositories and plug i

[2022-10-05 21:30] malarzm commented on #1353
Sadly (or luckily, depends on one's point of view :) ) we did not end with pluggable adapters nor interchangeable platforms like DBAL, in fact we're coupled with MongoDB's own library. To see the journey of going from old doctrine/mongodb to new implementation you could take a look at #1553 - this will give you a hint on what needed to be changed to have another library be responsible for connecti

[2022-10-06 06:03] alcaeus commented on #1353
Disclaimer: speaking from my position as maintainer, not as an employee of MongoDB.

I have strong reservations about this, mainly because of my experience with ORM. Due to its support for multiple databases, there's a "lowest common denominator" approach to DBAL. For example, adding support for features like complex types in PostgreSQL is rather complicated, as other database systems don't suppor

[2022-10-06 06:19] eerison commented on #1353
Thank you @malarzm and @alcaeus for you time, I really appreciate that, I will take a look into the repositories that both of you suggested and understand better how it works.

when I have something started, I would like to post here to get your opinion again. But fell that I have good points from where start ❤️ !

[2022-10-06 11:34] malarzm opened #2474 "Lookup::pipeline should allow builder as an argument"
#2459 introduced option to use `pipeline` which right now accepts an array. It should also accept a builder instance. We're free to change type signature here as `pipeline` was introduced in 2.5.0 and is not released yet.

[2022-10-06 19:59] hunomina commented on #2441
I'll have a look at this 😉

[2022-10-09 10:15] malarzm commented on #2441
@hunomina I've merged your PR up to `2.5.x` branch - would you like to change all remaining calls there? We had few features added to 2.5.x that were not present on 2.4.x.

[2022-10-09 10:19] hunomina commented on #2441
Oh! Sure, I can have a look 😉

[2022-10-10 06:54] IonBazan commented on #2441
@hunomina I think you missed a few hidden spots where we still call them non-statically:
https://github.com/doctrine/mongodb-odm/blob/5fcca6cc7e5e93bd6d2f3ee4a2f08ca9e1689939/tests/Doctrine/ODM/MongoDB/Tests/Events/PreUpdateEventArgsTest.php#L74-L110

and

https://github.com/doctrine/mongodb-odm/blob/5fcca6cc7e5e93bd6d2f3ee4a2f08ca9e1689939/tests/Doctrine/ODM/MongoDB/Tests/Events/LifecycleListener

[2022-10-10 10:22] hunomina commented on #2441
I searched for occurrences using `\$this->.*assert` this time.

I could only find two of them. PR coming right up 😄

[2022-10-10 10:27] hunomina commented on #2441
There you go.
I'll create another PR to fix 2.5.x 😉

[2022-10-12 22:23] malarzm opened #2478 "Support doctrine/event-manager 2.x"
`doctrine/event-manager` was just released: https://github.com/doctrine/event-manager/releases/tag/2.0.0. We need to support both 1.x and 2.x at the same time.

By the way we may revisit old constructs like https://github.com/doctrine/mongodb-odm/blob/f5c16795858ab537922ead80eb122927f6d78686/lib/Doctrine/ODM/MongoDB/Hydrator/HydratorFactory.php#L475-L477 the `if` is no longer necessary, `dispatchE

[2022-10-27 18:12] malarzm commented on #2461
For anybody that gets here and happens to use Laminas: https://github.com/doctrine/DoctrineModule/pull/788

[2022-10-28 09:17] theyough opened #2479 "Starting in MongoDB 5.1, $lookup and graphLookup works across sharded collections"
# Following the new release

Starting in MongoDB 5.1, [$lookup](https://www.mongodb.com/docs/v6.0/reference/operator/aggregation/lookup/#mongodb-pipeline-pipe.-lookup) works across sharded collections

# Stack
php -v : 7.4
ext-mongo: 1.14.2 https://www.mongodb.com/docs/drivers/php/#compatibility, this version is fully compatible with mongo 6.0

With api platform i get this error :

[code]

from th

[2022-10-30 18:10] malarzm commented on #2479
In this case we'll happily remove restriction :) From what I see `$graphLookup` is no longer restricted since MongoDB 5.1 as well. @theyough mind opening a PR for 2.4.x branch? That way we'll be able to release it quickly.

[2022-10-31 20:36] malarzm commented on #2478
#2480 was merged but looks like automatic closing is broken :/

[2022-10-31 20:36] #2478 closed, assigned to nobody

[2022-11-04 11:54] lexalium commented on #2162
Version 2.4.2

I still facing into memory leak issue when trying to update documents in chunks. Unrewindable iterator doesn't work, it decrements refCount by one but selected documents still have a big refCount value (in my case it equals 4).

Example of my code (one chunk):
[code]

Memory usage:
[code]

[2022-11-04 18:49] malarzm commented on #2162
@alexxxxkkk have you tried running `gc_collect_cycles()` after the `clear()`? If that's not cycles you may employ https://github.com/BitOne/php-meminfo to see what's being referenced and by what. I can't really tell what's going on by looking at your example

[2022-11-06 12:45] lexalium commented on #2162
@malarzm No, I haven't. Thanks, will do this and post a result.

[2022-11-08 12:49] lexalium commented on #2162
@malarzm Thanks, all work as expected.
This was due to an enabled debugger in the dev environment, as CommandLogger stores events in local property.

[2022-11-08 14:18] malarzm commented on #2162
Great! I'll allow myself to close the issue finally then :tada:

[2022-11-08 14:18] #2162 closed